Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

docs(indexes): explain per-database identifier quoting
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

fix(docs): triple cockroachdb logo intrinsic size
  docs/static/img/databases/cockroachdb.svg
Due: none

docs(indexes): drop identifier quoting note
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

docs(indexes): tighten Spanner EXPLAIN intro
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

refactor(docs): sort DatabaseTabs children and simplify component
  docs/src/components/tabs/database-tabs.tsx
Due: none

refactor(docs): rely on databases definition order
  docs/src/components/tabs/database-tabs.tsx
  docs/src/constants/databases.ts
  docs/src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: remove sqlite from bigint test enabledDrivers
  test/github-issues/12337/issue-12337.test.ts
Due: eslint --fix, prettier --write

fix(mongodb): skip false/undefined select values in validation
  src/entity-manager/MongoEntityManager.ts
Due: eslint --fix, prettier --write

fix(sqlserver): non-destructive column type change
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint --fix, prettier --write

fix(mongodb): accept relation keys in select without projecting them
  src/entity-manager/MongoEntityManager.ts
Due: eslint --fix, prettier --write

fix(mongodb): validate nested select keys at every level
  src/entity-manager/MongoEntityManager.ts
Due: eslint --fix, prettier --write

test(mongodb): cover nested embed select projection
  test/functional/mongodb/basic/select-projection/entity/Product.ts
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

test(mongodb): drop unnecessary any casts in select tests
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

docs(mongodb): document object-based select projection
  docs/docs/drivers/mongodb.md
Due: prettier --write

test(mongodb): cover findByIds select projection
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

test(mongodb): add constructor to Specs test entity
  test/functional/mongodb/basic/select-projection/entity/Product.ts
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

test(mongodb): use toSorted to avoid in-place sort on query result
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

fix: address AI feedback for mysql and oracle constraint renames
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint --fix, prettier --write

fix: add platform: linux/amd64 for x86-only images to support Apple Silicon
  docker-compose.yml
Due: prettier --write

fix(query-builder): harden mssql delete returning coverage
  src/query-builder/QueryBuilder.ts
  test/functional/query-builder/returning/query-builder-returning.test.ts
  test/functional/repository/returning/repository-returning.test.ts
Due: eslint --fix, prettier --write

fix(mongodb): project all fields when column or embed selected with true
  src/entity-manager/MongoEntityManager.ts
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

refactor(mongodb): reduce cognitive complexity of select projection builder
  src/entity-manager/MongoEntityManager.ts
Due: eslint --fix, prettier --write

fix(mongodb): include nested embed columns when parent embed selected with true
  src/entity-manager/MongoEntityManager.ts
  test/functional/mongodb/basic/select-projection/entity/Product.ts
  test/functional/mongodb/basic/select-projection/mongodb-select-projection.test.ts
Due: eslint --fix, prettier --write

fix: handle int8 and int64 bigint aliases in precision check
  src/metadata/ColumnMetadata.ts
Due: eslint --fix, prettier --write

test: add SQL injection tests for useIndex() and setLock lockTables
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

fix: expand VirtualColumn expression in WHERE and ORDER BY conditions
  src/query-builder/SelectQueryBuilder.ts
  test/functional/columns/virtual-columns/entity/User.ts
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

fix(aurora): list supported isolation levels for AuroraMysqlDriver
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
Due: eslint --fix, prettier --write

fix(aurora-postgres): set isolation level after transaction starts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

fix(aurora-postgres): roll back data api tx if isolation level set fails
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

fix(aurora-mysql): reset transaction state if start or isolation set fails
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
Due: eslint --fix, prettier --write

refactor(aurora-postgres): let rollback errors propagate in isolation set fallback
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

refactor: move test to functional, add optional chaining and cockroachdb driver
  test/functional/relations/bigint-join-column/bigint-join-column.test.ts
  test/functional/relations/bigint-join-column/entity/Category.ts
  test/functional/relations/bigint-join-column/entity/Post.ts
Due: eslint --fix, prettier --write

fix(aurora-postgres): reset transaction state if start fails
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

revert(aurora-mysql): drop isolation level support via Data API
  docs/docs/transactions.md
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
Due: eslint --fix, prettier --write

docs(transactions): restructure isolation levels as database tabs
  docs/docs/data-source/4-data-source-api.md
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/transactions.md
  docs/docs/transactions.mdx
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
Due: prettier --write

fix(aurora-postgres): reset tx flag before rollback in isolation fallback
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

style(docs): prettier formatting for transactions.mdx
  docs/docs/transactions.mdx
Due: none

fix: handle VirtualColumn expressions safely in pagination ORDER BY
  src/query-builder/SelectQueryBuilder.ts
  test/functional/columns/virtual-columns/entity/User.ts
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

fix(aurora-postgres): always reset tx flag after isolation rollback
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

refactor(spanner): map isolation level via switch with default throw
  src/driver/spanner/SpannerQueryRunner.ts
Due: eslint --fix, prettier --write
