Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

cleanup
  docs/docs/query-runner.md
Due: none

ci(docs): add deploy Github Action
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

feat(qodo): enable new review experience (#11909)
  .pr_agent.toml
Due: none

feat(qodo): enable new review experience in v0.3 (#11910)
  .pr_agent.toml
Due: none

test: modify tests to confirm `ON CONFLICT ON CONSTRAINT` on PostgreSQL/CockroachDB (#11908)
  test/github-issues/1780/entity/User.ts
  test/github-issues/1780/issue-1780.test.ts
Due: eslint, prettier --write

feat: add support for installing additional postgres extensions (#11888)
  docs/docs/drivers/postgres.md
  src/driver/postgres/PostgresConnectionOptions.ts
  src/driver/postgres/PostgresDriver.ts
  test/functional/driver/postgres/connection-options.test.ts
Due: eslint, prettier --write

feat: add support for deferrable exclusion in entity schemas
  src/entity-schema/EntitySchemaExclusionOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
Due: eslint, prettier --write

test(#5719): address PR review feedback
  test/github-issues/5719/issue-5719.test.ts
Due: eslint, prettier --write

feat: add `returning` option to update/upsert operations (#11782)
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/entity-manager/EntityManager.ts
  src/index.ts
  src/query-builder/ReturningOption.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  src/repository/UpdateOptions.ts
  src/repository/UpsertOptions.ts
  test/functional/repository/returning/entity/User.ts
  test/functional/repository/returning/repository-returning.ts
Due: eslint, prettier --write

feat: add deferrable support to exclusion decorator to mirror unique and index decorators (#11802)
  src/decorator/Exclusion.ts
  src/decorator/options/ExclusionOptions.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/entity-schema/EntitySchemaExclusionOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  src/metadata-args/ExclusionMetadataArgs.ts
  src/metadata/ExclusionMetadata.ts
  src/schema-builder/options/TableExclusionOptions.ts
  src/schema-builder/table/TableExclusion.ts
  test/functional/deferrable/deferrable-exclusion.test.ts
  test/functional/deferrable/entity/Booking.ts
  test/functional/deferrable/entity/Schedule.ts
Due: eslint, prettier --write

test: enable repository-returning test
  test/functional/repository/returning/repository-returning.test.ts
Due: eslint, prettier --write

fix: enhance upsert functionality for proper sql generation with table alias
  src/query-builder/InsertQueryBuilder.ts
  test/functional/table-inheritance/single-table/basic-functionality/basic-functionality.test.ts
  test/functional/table-inheritance/single-table/basic-functionality/entity/Human.ts
  test/functional/table-inheritance/single-table/basic-functionality/entity/Male.ts
Due: eslint, prettier --write

refactor: update upsert condition method to use more descriptive parameter name and refactor test for custom schema
  src/query-builder/InsertQueryBuilder.ts
  test/functional/table-inheritance/single-table/basic-functionality/basic-functionality.test.ts
Due: eslint, prettier --write

chore(mutation testing): tweak Stryker for lower resource usage and decrease timeout for slow running mutants (#11901)
  stryker.config.json
Due: prettier --write, sort-package-json

fix(postgres): treat 'timestamptz' same as 'timestamp with time zone'
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

test: add tests with jsonb operators with Raw() find option
  test/functional/repository/find-options-operators/entity/Comment.ts
  test/functional/repository/find-options-operators/repository-find-operators.test.ts
Due: eslint, prettier --write

fix: raw select query with correctly ordered selected columns (#11902)
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint, prettier --write

test: add tests with find() method
  test/functional/repository/find-options-operators/repository-find-operators.test.ts
Due: eslint, prettier --write

docs: fix typo 'spass' to 'pass'
  docs/docs/getting-started.md
Due: none

docs: fix typo 'spass' to 'pass' (#11919)
  docs/docs/getting-started.md
Due: none

feat: add DataSource runWithQueryRunner
  docs/docs/advanced-topics/2-transactions.md
  docs/docs/query-runner.md
  src/data-source/DataSource.ts
  test/functional/connection/run-with-query-runner.ts
Due: eslint, prettier --write

refactor: rename setupTestingConnections to setupTestingConnectionOptions
  test/functional/base-entity/base-entity.test.ts
  test/functional/commands/migration-create.test.ts
  test/functional/commands/migration-generate.test.ts
  test/github-issues/4415/issue-4415.test.ts
  test/github-issues/6900/issue-6900.test.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write

refactor: use DataSource.runWithQueryRunner everywhere
  src/cache/DbQueryResultCache.ts
  src/data-source/DataSource.ts
  src/entity-manager/EntityManager.ts
  src/persistence/EntityPersistExecutor.ts
  src/query-builder/DeleteQueryBuilder.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  src/query-runner/QueryRunner.ts
  test/functional/cache/provider/MockQueryResultCache.ts
Due: eslint, prettier --write

feat: transactions with async context QueryRunner
  docs/docs/advanced-topics/2-transactions.md
  src/data-source/DataSource.ts
  src/entity-manager/EntityManager.ts
  src/platform/BrowserPlatformTools.template
  src/platform/PlatformTools.ts
  test/functional/transaction/async-scoped-query-runner/entity/Category.ts
  test/functional/transaction/async-scoped-query-runner/entity/Post.ts
  test/functional/transaction/async-scoped-query-runner/repository/PostRepository.ts
  test/functional/transaction/async-scoped-query-runner/transaction-in-entity-manager.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write

fix: fix up test
  test/functional/repository/returning/entity/User.ts
Due: eslint, prettier --write

chore: change type
  test/functional/repository/returning/entity/User.ts
Due: eslint, prettier --write

test: enable repository-returning test (#11913)
  test/functional/repository/returning/entity/User.ts
  test/functional/repository/returning/repository-returning.test.ts
Due: eslint, prettier --write

feat(sap): add pool timeout (#11868)
  docs/docs/drivers/sap.md
  package.json
  pnpm-lock.yaml
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write, sort-package-json

fix(sap): `QueryBuilder` parameter of type JS `Date` not escaped correctly (#11867)
  docker-compose.yml
  src/driver/sap/SapDriver.ts
  test/functional/query-builder/parameters/date-parameters.test.ts
  test/functional/query-builder/parameters/entity/Product.ts
Due: eslint, prettier --write

feat: add support for pgvector's sparsevec and bit vector types in PostgreSQL
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  src/driver/types/Sparsevec.ts
  src/index.ts
  test/functional/database-schema/vectors/postgres/entity/Post.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.test.ts
  test/functional/database-schema/vectors/postgres/vector.test.ts
  test/functional/migrations/vector/0000000000001-CreatePost.ts
  test/functional/migrations/vector/vector-test.test.ts
Due: eslint, prettier --write

test: rename file
  test/github-issues/10843/issue-10843.test.ts
Due: eslint, prettier --write

test: rename files
  test/functional/entity-metadata/entity-metadata-builder.test.ts
  test/github-issues/11637/issue-11637.test.ts
Due: eslint, prettier --write

chore: run format 🍉
  src/driver/types/IsolationLevel.ts
  test/github-issues/3604/11123/entity/Example.ts
Due: eslint, prettier --write

feat: refactor sparse vector handling to use SparseVector interface and remove Sparsevec class
  src/driver/postgres/PostgresDriver.ts
  src/driver/types/SparseVector.ts
  src/driver/types/Sparsevec.ts
  src/index.ts
  test/functional/database-schema/vectors/postgres/entity/Post.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.test.ts
  test/functional/database-schema/vectors/postgres/vector.test.ts
Due: eslint, prettier --write

fix: update child's mpath (#10844)
  src/persistence/tree/MaterializedPathSubjectExecutor.ts
  test/github-issues/10843/entity/node.ts
  test/github-issues/10843/issue-10843.test.ts
Due: eslint, prettier --write

test: add test for issue #7242
  test/functional/metadata-builder/relation-join-column-builder/entity/Game.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Match.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Participant.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.test.ts
Due: eslint, prettier --write

test: add title property to Game entity and update related tests
  test/functional/metadata-builder/relation-join-column-builder/entity/Game.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.test.ts
Due: eslint, prettier --write

test: verify column names when using `referencedColumnName` in composite relations (#11883)
  test/functional/metadata-builder/relation-join-column-builder/entity/Game.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Match.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Participant.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.test.ts
Due: eslint, prettier --write
