Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

Update comment for Postgres version property
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

fix(postgres): 'timestamptz' type persistence/hydration
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

chore: fix cache persistence/hydration test
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
Due: eslint, prettier --write

chore: add test for timestamptz cache persistence/hydration
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/entity/PostWithOptions.ts
Due: eslint, prettier --write

feat: init version in postgres driver only if not set (#11373)
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

Remove cache option in PostgreSQL testing setup
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
Due: eslint, prettier --write

Change TypeScript target and lib to es2021
  src/commands/InitCommand.ts
Due: eslint, prettier --write

fix(cli): init command reading package.json from two folders up (#11789)
  src/commands/InitCommand.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

fix: add time zone to date fields fixing test failures
  test/functional/deferrable/entity/Booking.ts
  test/functional/deferrable/entity/Schedule.ts
Due: eslint, prettier --write

feat(mysql): add support for vector columns
  docker-compose.yml
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/drivers/mysql.md
  docs/docs/drivers/postgres.md
  docs/docs/drivers/sap.md
  docs/docs/entity/1-entities.md
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/mysql/entity/Embedding.ts
  test/functional/database-schema/vectors/mysql/vector.ts
  test/functional/database-schema/vectors/sap/vector.ts
Due: eslint, prettier --write

fix: check metadata for enum name on table load
  src/driver/postgres/PostgresQueryRunner.ts
  test/github-issues/10931/entity/example.ts
  test/github-issues/10931/issue-10931.ts
Due: eslint, prettier --write

Fix test
  test/github-issues/10931/issue-10931.ts
Due: eslint, prettier --write

Fix test
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Better metadata lookup
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Fixed redundant ternary operator. Wasn't correctly returning QueryResult.
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

fix: typesense
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

feat(mysql): add support for vector columns on MariaDB and MySQL (#11670)
  docker-compose.yml
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/drivers/mysql.md
  docs/docs/drivers/postgres.md
  docs/docs/drivers/sap.md
  docs/docs/entity/1-entities.md
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/mysql/entity/Embedding.ts
  test/functional/database-schema/vectors/mysql/vector.ts
  test/functional/database-schema/vectors/sap/vector.ts
Due: eslint, prettier --write

Fixed package-log. Contained an ADO repo entry. Only a single entry, which is odd.
  package-lock.json
Due: prettier --write, sort-package-json

Removing unused import.
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write

chore: build using tsgo
  package-lock.json
  package.json
  sample/playground/package-lock.json
  sample/playground/package.json
Due: prettier --write, sort-package-json

fix: typesense doc sync (#11807)
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

fix: change test entities to use number instead of timestampz
  test/functional/deferrable/deferrable-exclusion.ts
  test/functional/deferrable/entity/Booking.ts
  test/functional/deferrable/entity/Schedule.ts
Due: eslint, prettier --write

feat(mysql): add pool size options for each connection
  src/driver/mysql/MysqlConnectionCredentialsOptions.ts
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

Update dependencies
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write, sort-package-json

feat: apply utc flag to date columns across all drivers
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint, prettier --write

test: add date column utc flag test (#11515)
  test/github-issues/11515/entity/Event.ts
  test/github-issues/11515/issue-11515.ts
Due: eslint, prettier --write

docs: add utc flag documentation
  docs/docs/entity/1-entities.md
Due: none

feat:add utc flag on ColumnOptions & ColumnMetadata
  src/decorator/options/ColumnOptions.ts
  src/metadata/ColumnMetadata.ts
  src/util/DateUtils.ts
Due: eslint, prettier --write

fix: address code review feedback
  src/driver/sqlserver/SqlServerDriver.ts
  src/util/DateUtils.ts
  test/github-issues/11515/issue-11515.ts
Due: eslint, prettier --write

refactor: move date UTC tests to functional test suite
  test/functional/columns/date-utc/date-utc.ts
  test/functional/columns/date-utc/entity/Event.ts
  test/github-issues/11515/entity/Event.ts
Due: eslint, prettier --write

chore: update dependencies (#11811)
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: eslint, prettier --write, sort-package-json

refactor: change mixedDateToDateString to use object parameter
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/util/DateUtils.ts
Due: eslint, prettier --write

ci: fix tests not running when only test files are updated
  .github/workflows/tests.yml
Due: none

test: use built-in wait function and fix wait times to avoid flaky tests
  test/core/column-kinds/create-date-column/create-date-column.ts
  test/core/column-kinds/update-date-column/update-date-column.ts
  test/core/column-kinds/version-column/version-column.ts
  test/functional/cache/custom-cache-provider.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/embedded/embedded-with-special-columns/embedded-with-special-columns.ts
  test/functional/query-builder/cache/query-builder-cache.ts
  test/functional/query-builder/time-travel-query/time-travel-query.ts
  test/functional/repository/basic-methods/repository-basic-methods.ts
  test/functional/repository/find-options/repository-find-options.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write

test: use built-in wait function and fix wait times to avoid flaky tests (#11812)
  .github/workflows/tests.yml
  test/core/column-kinds/create-date-column/create-date-column.ts
  test/core/column-kinds/update-date-column/update-date-column.ts
  test/core/column-kinds/version-column/version-column.ts
  test/functional/cache/custom-cache-provider.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/embedded/embedded-with-special-columns/embedded-with-special-columns.ts
  test/functional/query-builder/cache/query-builder-cache.ts
  test/functional/query-builder/time-travel-query/time-travel-query.ts
  test/functional/repository/basic-methods/repository-basic-methods.ts
  test/functional/repository/find-options/repository-find-options.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write

docs: update docs about test file creation
  DEVELOPER.md
Due: none

test: fix issues after renaming test files
  .c8rc.json
  .mocharc.json
  test/benchmark/bulk-sql-build/bulk-sql-build.test.ts
  test/functional/view-entity/view-dependencies/view-entity-dependencies.test.ts
  test/github-issues/6195/issue-6195.test.ts
  test/github-issues/6195/migrations/MigrationToFakeRun.ts
  test/github-issues/8522/issue-8522.test.ts
Due: eslint, prettier --write, sort-package-json

use supportedIndexTypes variable instead of fuction
  src/driver/Driver.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mongodb/MongoDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/schema-builder/RdbmsSchemaBuilder.ts
Due: eslint, prettier --write

comment each TableIndexTypes with supported drivers
  src/schema-builder/options/TableIndexTypes.ts
Due: eslint, prettier --write
