Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

invalidWhereValuesBehavior instead of findWhereBehavior
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/data-source/BaseDataSourceOptions.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/find-options/null-undefined-handling/null-undefined-handling.ts
Due: eslint, prettier --write

consolidate tests
  test/functional/null-undefined-handling/entity/Category.ts
  test/functional/null-undefined-handling/entity/Post.ts
  test/functional/null-undefined-handling/find-options.ts
  test/functional/null-undefined-handling/query-builders.ts
Due: eslint, prettier --write

docs
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
Due: none

fix: debug js vulnerability
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

ci: add close stale issues GH action
  .github/workflows/close-stale-issues.yml
Due: none

fix(mysql): deprecate column width/zerofill
  README-zh_CN.md
  README_ko.md
  docs/docs/entity/1-entities.md
  docs/docs/entity/2-embedded-entities.md
  docs/docs/getting-started.md
  docs/docs/help/3-decorator-reference.md
  docs/docs/relations/2-one-to-one-relations.md
  docs/docs/relations/3-many-to-one-one-to-many-relations.md
  docs/docs/relations/4-many-to-many-relations.md
  src/decorator/columns/Column.ts
  src/decorator/options/ColumnNumericOptions.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnUnsignedOptions.ts
  src/decorator/options/ColumnWithWidthOptions.ts
  src/decorator/options/PrimaryGeneratedColumnNumericOptions.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-width/mysql/column-width.ts
  test/functional/entity-schema/columns/mysql/columns-mysql.ts
  test/github-issues/6442/issue-6442.ts
Due: eslint, prettier --write

feat(mysql): add support for MySQL 9 / MariaDB 12
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  .github/workflows/tests-linux.yml
  docker-compose.yml
  docs/docs/drivers/mysql.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/spanner/SpannerConnectionOptions.ts
  test/functional/database-schema/column-collation/mysql/column-collation-mysql.ts
  test/functional/database-schema/column-collation/mysql/entity/Post.ts
  test/functional/database-schema/column-types/mysql/entity/UuidEntity.ts
  test/functional/database-schema/column-types/mysql/uuid.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/query-builder/locking/query-builder-locking.ts
  test/functional/repository/find-options-locking/find-options-locking.ts
  test/github-issues/1839/entity/Category.ts
  test/github-issues/1839/entity/Post.ts
  test/github-issues/1839/issue-1839.ts
  test/github-issues/2096/issue-2096.ts
  test/github-issues/3702/issue-3702.ts
  test/github-issues/4753/issue-4753.ts
  test/github-issues/8747/entity/Record.ts
  test/github-issues/8747/issue-8747.ts
  test/github-issues/8832/issue-8832.ts
  test/unit/util/import-utils.ts
Due: eslint, prettier --write, sort-package-json

try-remove-qb-many-to-many-constraint
  src/query-builder/QueryBuilder.ts
Due: eslint, prettier --write

feat(migration): improve JSDoc types in generated migration templates (#11490)
  src/commands/MigrationCreateCommand.ts
  src/commands/MigrationGenerateCommand.ts
Due: eslint, prettier --write

ci: update description
  .github/workflows/close-stale-issues.yml
Due: none

remove constraint for sqlite only driver for the test
  test/functional/query-builder/select/query-builder-select.ts
Due: eslint, prettier --write

ci: update GH action
  .github/workflows/close-stale-issues.yml
Due: none

fix: update tests to reflect migration template changes
  test/functional/commands/templates/generate/cockroachdb.ts
  test/functional/commands/templates/generate/mssql.ts
  test/functional/commands/templates/generate/mysql.ts
  test/functional/commands/templates/generate/oracle.ts
  test/functional/commands/templates/generate/postgres.ts
  test/functional/commands/templates/generate/sqlite.ts
  test/functional/commands/templates/result-templates-create.ts
Due: eslint, prettier --write

docs: update docs to reflect migration template changes
  docs/docs/advanced-topics/1-migrations.md
Due: none

fix: flaky test for enum migrations
  test/github-issues/6115/issue-6115.ts
Due: eslint, prettier --write

fix: update tests to reflect migration template changes (#11653)
  docs/docs/advanced-topics/1-migrations.md
  test/functional/commands/templates/generate/cockroachdb.ts
  test/functional/commands/templates/generate/mssql.ts
  test/functional/commands/templates/generate/mysql.ts
  test/functional/commands/templates/generate/oracle.ts
  test/functional/commands/templates/generate/postgres.ts
  test/functional/commands/templates/generate/sqlite.ts
  test/functional/commands/templates/result-templates-create.ts
  test/github-issues/6115/issue-6115.ts
Due: eslint, prettier --write

ci: update close stale issues GH action
  .github/workflows/close-stale-issues.yml
Due: none

Update .github/workflows/close-stale-issues.yml
  .github/workflows/close-stale-issues.yml
Due: none

ci: add close stale issues GH action (#11651)
  .github/workflows/close-stale-issues.yml
Due: none

enhanced docs
  docs/docs/data-source/5-null-and-undefined-handling.md
Due: none

enhance docs
  docs/docs/data-source/5-null-and-undefined-handling.md
Due: none

enhance docs
  docs/docs/data-source/2-data-source-options.md
Due: none

updated docker compose
  docker-compose.yml
Due: none

cr comments - use .some
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

fix wrong wording
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/null-undefined-handling/find-options.ts
Due: eslint, prettier --write

cleanup typescript considerations
  docs/docs/data-source/5-null-and-undefined-handling.md
Due: none

feat: add new undefined and null behavior flags (#11332)
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/data-source/BaseDataSourceOptions.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/find-options/empty-properties/find-options-empty-properties.ts
  test/functional/null-undefined-handling/entity/Category.ts
  test/functional/null-undefined-handling/entity/Post.ts
  test/functional/null-undefined-handling/find-options.ts
  test/functional/null-undefined-handling/query-builders.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write

refactor: export StringUtils methods
  src/index.ts
Due: eslint, prettier --write

add dummy field to prevent SAP test failure
  test/github-issues/11265/entity/parent.ts
  test/github-issues/11265/entity/relationEntity.ts
  test/github-issues/11265/entity/relationNestedEntity.ts
Due: eslint, prettier --write

fix #10989 OrmUtils.deepCompare cannot compare Map objects
  src/util/OrmUtils.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

Formatting
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

feat(postgres): support vector/halfvec data types (#11437)
  .github/workflows/tests-linux.yml
  docker-compose.yml
  docs/docs/drivers/sap.md
  docs/docs/entity/1-entities.md
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/postgres/entity/Post.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
  test/functional/database-schema/vectors/postgres/vector.ts
  test/functional/migrations/vector/0000000000001-CreatePost.ts
  test/functional/migrations/vector/vector-test.ts
Due: eslint, prettier --write

remove only from test describe
  test/github-issues/11265/issue-11265.ts
Due: eslint, prettier --write

fix: ensure hash aliases start with letters for valid SQL identifiers
  src/driver/DriverUtils.ts
  test/github-issues/11657/entity/entities.ts
  test/github-issues/11657/issue-11657.ts
Due: eslint, prettier --write

chore: Update better-sqlite library to work with Apple M chips
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: Add workaround for mysql2 JSON parsing behaviour
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix: Simplify detection of mysql2 library
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

chore: Revert package changes
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

test: Add tests of mysql json parsing
  test/functional/json/mysql-json-parsing/entity/JsonEntity.ts
  test/functional/json/mysql-json-parsing/mysql-json-parsing.test.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
