Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

docs(query-builder): simplify RelationLoader class docstring
  src/query-builder/RelationLoader.ts
Due: eslint --fix, prettier --write

fix(query-builder): use tablePath for eager load cycle detection keys
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

refactor!: remove `app-root-path`
  .gitignore
  docs/docs/advanced-topics/5-logging.md
  docs/docs/guides/8-migration-v1.md
  package.json
  pnpm-lock.yaml
  src/connection/ConnectionOptionsReader.ts
  src/logger/FileLogger.ts
  src/logger/LoggerOptions.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.test.ts
  test/github-issues/3302/issue-3302.test.ts
  test/github-issues/3302/subscriber/PostSubscriber.ts
  test/github-issues/4410/issue-4410.test.ts
  test/github-issues/799/issue-799.test.ts
Due: eslint --fix, prettier --write

docs(relations): document relationLoadStrategy and loadEagerRelations (#12254)
  docs/docs/relations/5-eager-and-lazy-relations.md
  docs/docs/working-with-entity-manager/3-find-options.md
  src/query-builder/RelationLoader.ts
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

test: skip some tests
  test/functional/columns/date-utc/date-utc.test.ts
  test/functional/driver/better-sqlite3/better-sqlite3-native-binding.test.ts
  test/github-issues/1551/issue-1551.test.ts
  test/github-issues/4219/issue-4219.test.ts
  test/github-issues/6284/issue-6284.test.ts
  test/github-issues/9152/issue-9152.test.ts
  test/unit/connection-options-reader/connection-options-reader.test.ts
  test/unit/util/import-utils.test.ts
Due: eslint --fix, prettier --write

test: enable dependency optimization to improve performance
  test/github-issues/3302/issue-3302.test.ts
  test/github-issues/4219/issue-4219.test.ts
  test/github-issues/4219/shim.ts
  test/github-issues/4410/issue-4410.test.ts
  test/unit/cache/redis-query-result-cache.test.ts
  test/unit/platform/platform-tools.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: replace mocha with vitest
  .mocharc.json
  package.json
  pnpm-lock.yaml
  stryker.config.json
  vitest.config.ts
Due: eslint --fix, prettier --write

test: unskip tests
  src/connection/ConnectionOptionsReader.ts
  src/util/DirectoryExportedClassesLoader.ts
  src/util/ImportUtils.ts
  test/functional/columns/date-utc/date-utc.test.ts
  test/functional/relations/load-strategy/circular/relation-load-strategy-circular.test.ts
  test/functional/relations/load-strategy/query/relation-load-strategy-query.test.ts
  test/github-issues/1551/entity/Message.ts
  test/github-issues/1551/issue-1551.test.ts
  test/github-issues/6284/issue-6284.test.ts
  test/github-issues/9152/entity/Test.ts
  test/github-issues/9152/issue-9152.test.ts
  test/unit/connection-options-reader/connection-options-reader.test.ts
  test/unit/util/import-utils.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: update configurations
  .github/workflows/tests.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  test/core/xfail/xfail.test.ts
  test/github-issues/4956/issue-4956.test.ts
  test/tsconfig.json
  test/utils/test-setup.ts
  test/utils/xfail.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: remove sharding
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
Due: prettier --write

test(mongodb): wait for all clients to get closed
  .github/workflows/tests-linux.yml
  test/github-issues/7907/issue-7907.test.ts
Due: eslint --fix, prettier --write

docs: update copilot instructions and DEVELOPER.md
  .github/copilot-instructions.md
  DEVELOPER.md
  package.json
  test/github-issues/7907/issue-7907.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: should not expect any new query
  test/github-issues/12247/issue-12247.test.ts
Due: eslint --fix, prettier --write

fix(sqlserver): use ALTER COLUMN instead of DROP+ADD for type/length changes (#3357)
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/github-issues/3357/entity/TestEntity.ts
  test/github-issues/3357/issue-3357.ts
Due: eslint --fix, prettier --write

fix(test): remove sinon spy test that conflicts with parallel execution
  test/functional/tree-tables/materialized-path/query-strategy-relations/query-strategy-relations.test.ts
Due: eslint --fix, prettier --write

style(test): simplify tree test entities and remove unused fields
  test/functional/tree-tables/closure-table/basic/entity/Category.ts
  test/functional/tree-tables/closure-table/basic/entity/Foo2.ts
  test/functional/tree-tables/closure-table/basic/entity/Foo3.ts
  test/functional/tree-tables/closure-table/insert-without-level-column/entity/Category.ts
  test/functional/tree-tables/closure-table/relation-id-property/entity/file.entity.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/entity-3783/Category.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/entity/Group.ts
  test/functional/tree-tables/materialized-path/basic/entity/Category.ts
  test/functional/tree-tables/materialized-path/basic/materialized-path.test.ts
  test/functional/tree-tables/materialized-path/custom-join-column/entity-9534/Category.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Fact.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Node.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Rule.ts
  test/functional/tree-tables/materialized-path/soft-delete-parent/entity/node.ts
Due: eslint --fix, prettier --write

style(test): improve tree test describe/it titles and nesting
  test/functional/tree-tables/closure-table/basic/closure-table-mysql.test.ts
  test/functional/tree-tables/closure-table/basic/closure-table.test.ts
  test/functional/tree-tables/closure-table/custom-join-column/custom-join-column.test.ts
  test/functional/tree-tables/closure-table/custom-primary-column/custom-primary-column.test.ts
  test/functional/tree-tables/closure-table/insert-without-level-column/insert-without-level-column.test.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/uuid-cascade.test.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/uuid-primary-key.test.ts
  test/functional/tree-tables/materialized-path/basic/materialized-path.test.ts
  test/functional/tree-tables/materialized-path/custom-join-column/custom-join-column.test.ts
  test/functional/tree-tables/materialized-path/custom-join-column/non-pk-parent-column.test.ts
  test/functional/tree-tables/materialized-path/custom-primary-column/custom-primary-column.test.ts
  test/functional/tree-tables/materialized-path/soft-delete-parent/soft-delete-parent.test.ts
  test/functional/tree-tables/nested-set/basic/nested-set.test.ts
  test/functional/tree-tables/nested-set/custom-join-column/custom-join-column.test.ts
Due: eslint --fix, prettier --write

docs(release-notes): add entries for recent breaking changes and fixes
  docs/docs/guides/9-release-notes-v1.md
Due: prettier --write

feat(codemod): add transforms for findOneById, string select/relations, and .connection rename
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/src/transforms/v1/rename-connection-to-datasource.ts
  packages/codemod/src/transforms/v1/rename-find-one-by-id.ts
  packages/codemod/src/transforms/v1/replace-string-relations.ts
  packages/codemod/src/transforms/v1/replace-string-select.ts
  packages/codemod/test/transforms/v1/fixtures/rename-connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/rename-connection-to-datasource.output.ts
  packages/codemod/test/transforms/v1/fixtures/rename-find-one-by-id.input.ts
  packages/codemod/test/transforms/v1/fixtures/rename-find-one-by-id.output.ts
  packages/codemod/test/transforms/v1/fixtures/replace-string-relations.input.ts
  packages/codemod/test/transforms/v1/fixtures/replace-string-relations.output.ts
  packages/codemod/test/transforms/v1/fixtures/replace-string-select.input.ts
  packages/codemod/test/transforms/v1/fixtures/replace-string-select.output.ts
Due: eslint --fix, prettier --write

test(codemod): add false positive test cases from Vendure testing
  packages/codemod/test/transforms/v1/fixtures/remove-datasource-name.input.ts
  packages/codemod/test/transforms/v1/fixtures/remove-datasource-name.output.ts
  packages/codemod/test/transforms/v1/fixtures/remove-width-zerofill.input.ts
  packages/codemod/test/transforms/v1/fixtures/remove-width-zerofill.output.ts
  packages/codemod/test/transforms/v1/fixtures/rename-connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/rename-connection-to-datasource.output.ts
  packages/codemod/test/transforms/v1/fixtures/rename-find-by-ids.input.ts
  packages/codemod/test/transforms/v1/fixtures/rename-find-by-ids.output.ts
  packages/codemod/test/transforms/v1/fixtures/replace-readonly-column.input.ts
  packages/codemod/test/transforms/v1/fixtures/replace-readonly-column.output.ts
Due: eslint --fix, prettier --write

fix(mssql): add SNAPSHOT isolation level per-transaction
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerDataSourceOptions.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/types/IsolationLevel.ts
  test/functional/transaction/database-specific-isolation/full-isolation-support.test.ts
  test/functional/transaction/database-specific-isolation/mssql-isolation.test.ts
  test/functional/transaction/database-specific-isolation/oracle-isolation.test.ts
  test/functional/transaction/database-specific-isolation/sqlite-isolation.test.ts
Due: eslint --fix, prettier --write

fix(mssql)!: rename dataSource isolation options and assign proper values during createPool
  src/driver/sqlserver/SqlServerDataSourceOptions.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/transaction/database-specific-isolation/mssql-isolation.test.ts
Due: eslint --fix, prettier --write

docs: update migration guide and mssql driver docs
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

fix(codemod): scope transforms to TypeORM context to prevent false positives
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/remove-datasource-name.ts
  packages/codemod/src/transforms/v1/remove-width-zerofill.ts
  packages/codemod/src/transforms/v1/rename-connection-to-datasource.ts
  packages/codemod/src/transforms/v1/rename-find-by-ids.ts
  packages/codemod/src/transforms/v1/replace-readonly-column.ts
  packages/codemod/test/transforms/v1/fixtures/remove-width-zerofill.output.ts
  packages/codemod/test/transforms/v1/transforms.test.ts
Due: eslint --fix, prettier --write

test: assert isolation levels through query
  test/functional/transaction/database-specific-isolation/mssql-isolation.test.ts
  test/functional/transaction/database-specific-isolation/mysql-isolation.test.ts
  test/functional/transaction/database-specific-isolation/oracle-isolation.test.ts
  test/functional/transaction/database-specific-isolation/postgres-isolation.test.ts
  test/functional/transaction/database-specific-isolation/sap-isolation-support.test.ts
  test/utils/test-utils.ts
Due: eslint --fix, prettier --write

test(tree): simplify tree test entities and remove unused fields (#12260)
  test/functional/tree-tables/closure-table/basic/closure-table-mysql.test.ts
  test/functional/tree-tables/closure-table/basic/closure-table.test.ts
  test/functional/tree-tables/closure-table/basic/entity/Category.ts
  test/functional/tree-tables/closure-table/basic/entity/Foo2.ts
  test/functional/tree-tables/closure-table/basic/entity/Foo3.ts
  test/functional/tree-tables/closure-table/custom-join-column/custom-join-column.test.ts
  test/functional/tree-tables/closure-table/custom-primary-column/custom-primary-column.test.ts
  test/functional/tree-tables/closure-table/insert-without-level-column/entity/Category.ts
  test/functional/tree-tables/closure-table/insert-without-level-column/insert-without-level-column.test.ts
  test/functional/tree-tables/closure-table/relation-id-property/entity/file.entity.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/entity-3783/Category.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/entity/Group.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/uuid-cascade.test.ts
  test/functional/tree-tables/closure-table/uuid-primary-key/uuid-primary-key.test.ts
  test/functional/tree-tables/materialized-path/basic/entity/Category.ts
  test/functional/tree-tables/materialized-path/basic/materialized-path.test.ts
  test/functional/tree-tables/materialized-path/custom-join-column/custom-join-column.test.ts
  test/functional/tree-tables/materialized-path/custom-join-column/entity-9534/Category.ts
  test/functional/tree-tables/materialized-path/custom-join-column/non-pk-parent-column.test.ts
  test/functional/tree-tables/materialized-path/custom-primary-column/custom-primary-column.test.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Fact.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Node.ts
  test/functional/tree-tables/materialized-path/query-strategy-relations/entity/Rule.ts
  test/functional/tree-tables/materialized-path/soft-delete-parent/entity/node.ts
  test/functional/tree-tables/materialized-path/soft-delete-parent/soft-delete-parent.test.ts
  test/functional/tree-tables/nested-set/basic/nested-set.test.ts
  test/functional/tree-tables/nested-set/custom-join-column/custom-join-column.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): validate orderBy condition values at runtime (#12217)
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/functional/query-builder/order-by/entity/Post.ts
  test/functional/query-builder/order-by/query-builder-order-by.test.ts
  test/functional/query-builder/order-by/sql-injections.test.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
  test/other-issues/preventing-injection/preventing-injection.test.ts
Due: eslint --fix, prettier --write

feat(codemod): add package.json dependency upgrade transform
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  packages/codemod/src/cli/run.ts
  packages/codemod/src/transforms/v1/upgrade-dependencies.ts
  packages/codemod/test/transforms/v1/upgrade-dependencies.test.ts
Due: eslint --fix, prettier --write

fix(codemod): address SonarQube code smells and reduce cognitive complexity
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/column-readonly.ts
  packages/codemod/src/transforms/v1/column-width-zerofill.ts
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/src/transforms/v1/find-options-string-relations.ts
  packages/codemod/src/transforms/v1/find-options-string-select.ts
  packages/codemod/src/transforms/v1/query-runner-loaded-tables-views.ts
  packages/codemod/src/transforms/v1/repository-find-one-by-id.ts
  packages/codemod/test/transforms/scan.test.ts
Due: eslint --fix, prettier --write

chore: clean up .gitignore
  .gitignore
Due: none

ci: add codemod package to test, preview, and publish pipelines
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests.yml
Due: prettier --write

Add .nvmrc to .gitignore
  .gitignore
Due: none

fix(codemod): fix SonarCloud bug and security hotspot
  packages/codemod/src/transforms/v1/upgrade-dependencies.ts
  packages/codemod/src/transforms/v1/use-container.ts
  packages/codemod/test/transforms/v1/fixtures/use-container/use-container.output.ts
Due: eslint --fix, prettier --write

fix(codemod): add missing @types/chai, publish:preview script, and pkg-pr-new dependency
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
Due: prettier --write

fix(codemod): scope connection-to-datasource property renames to typed variables
  .husky/commit-msg
  .husky/pre-commit
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
Due: eslint --fix, prettier --write
