Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

fix: keep dotted column names intact and drop inline commentary
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/sql-injection/entity/Post.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

fix: support VirtualColumn expressions referenced in WHERE conditions
  src/query-builder/QueryBuilder.ts
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

Fix #3357: Migration generation drops and creates columns instead of altering resulting in
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint --fix, prettier --write

Address review feedback: exclude vector/halfvec dimension changes from ALTER path + add regression test
  src/driver/postgres/PostgresQueryRunner.ts
  test/functional/query-runner/change-column.test.ts
Due: eslint --fix, prettier --write

fix(schema-builder): alter column instead of drop and add when modifying column length and type (#3357)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  test/github-issues/3357/issue-3357.test.ts
Due: eslint --fix, prettier --write

fix: don't capitalize camelCase output when the input starts with a separator
  src/util/StringUtils.ts
  test/unit/util/string-utils.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update
  CHANGES.md
Due: prettier --write

chore: update dependencies to minor versions
  .github/actions/setup-node/action.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs-cloudflare-pages.yml
  .github/workflows/mutation-test.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  docker-compose.yml
  docs/package.json
  docs/pnpm-lock.yaml
  package.json
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  packages/codemod/src/transforms/v1/mongodb-types.ts
  packages/legacy-naming-strategies/package.json
  packages/legacy-naming-strategies/pnpm-lock.yaml
  packages/legacy-naming-strategies/tsconfig.json
  pnpm-lock.yaml
  src/entity-manager/EntityManager.ts
Due: eslint --fix, prettier --write

fix(schema-builder): prevent column drop on rename when column counts differ
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/functional/schema-builder/column/change/change-column/change-column.test.ts
Due: eslint --fix, prettier --write

feat(expo): added support for useNewConnection option for the expo-sqlite driver
  docs/docs/drivers/sqlite.md
  src/driver/expo/ExpoDataSourceOptions.ts
  src/driver/expo/ExpoDriver.ts
Due: eslint --fix, prettier --write

fix(mongodb): use type-only imports and exports for bson typings
  src/driver/mongodb/typings.ts
Due: eslint --fix, prettier --write

feat(cache): add support for ioredis v6 peer dependency
  package.json
Due: prettier --write

fix: update ioredis specifier in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(query-builder): validate distinctOn column input to prevent SQL injection
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/distinct-on/query-builder-distinct-on.test.ts
Due: eslint --fix, prettier --write

fix: alter varchar/char length in place on postgres
  src/driver/postgres/PostgresQueryRunner.ts
  test/github-issues/3357/issue-3357.test.ts
Due: eslint --fix, prettier --write

optimize pagination
  package.json
  src/connection/BaseConnectionOptions.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/pagination/entity/Author.ts
  test/functional/query-builder/pagination/entity/Post.ts
  test/functional/query-builder/pagination/entity/Tag.ts
  test/functional/query-builder/pagination/query-builder-pagination.ts
Due: eslint --fix, prettier --write

docs: add Nub loader CLI example
  docs/docs/using-cli.md
Due: prettier --write

docs: clarify decorator metadata inference
  docs/docs/using-cli.md
Due: prettier --write

fix: expand virtual column query in WHERE clause conditions
  src/query-builder/QueryBuilder.ts
Due: eslint --fix, prettier --write

fix: expand virtual column query in WHERE clause conditions
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

docs: update reference web index and resources
  README.md
Due: prettier --write

docs: reconcile ESM circular dependency approaches in getting-started and relations-faq
  docs/docs/getting-started.md
  docs/docs/relations/6-relations-faq.md
Due: prettier --write

fix(query-builder): select order-by columns in the pagination sub-query
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/order-by/pagination-order-by-selection.test.ts
Due: eslint --fix, prettier --write

feat(postgres): add VIRTUAL generated column support for PostgreSQL 18+
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint --fix, prettier --write

feat(mysql): log pool cluster node state changes
  docs/docs/drivers/mysql.md
  src/driver/mysql/MysqlDriver.ts
  test/unit/driver/mysql-pool-cluster-logging.test.ts
Due: eslint --fix, prettier --write

fix(util): implement invalidWhereValuesBehavior for nested array where criteria in normalizeWhereCriteria
  src/util/OrmUtils.ts
Due: eslint --fix, prettier --write

fix(schema-builder): support multiple column renames without dropping and recreating columns
  src/schema-builder/RdbmsSchemaBuilder.ts
Due: eslint --fix, prettier --write

refactor: remove tinyglobby and node 20
  package.json
  pnpm-lock.yaml
  src/util/DirectoryExportedClassesLoader.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.test.ts
Due: eslint --fix, prettier --write

chore: consolidate packages into a pnpm workspace
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests.yml
  packages/codemod/pnpm-lock.yaml
  packages/legacy-naming-strategies/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

build: link workspace packages to the typeorm build output
  gulpfile.ts
  package.json
  packages/legacy-naming-strategies/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: build the core package before the legacy naming strategies tests
  .github/workflows/tests.yml
Due: prettier --write

chore: ignore dist directories when checking formatting
  .prettierignore
Due: none

chore: resolve typeorm from the build output in the playground example
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

ci: run the affected suites when the lockfile changes
  .github/workflows/tests.yml
Due: prettier --write

build: strip only the publishConfig entry that must not be published
  gulpfile.ts
  package.json
Due: eslint --fix, prettier --write

docs: explain that workspace packages resolve typeorm from the build output
  DEVELOPER.md
  pnpm-workspace.yaml
Due: prettier --write

build: publish the license file with the package
  gulpfile.ts
Due: eslint --fix, prettier --write

docs: add a migration path for pull requests predating the packages layout
  DEVELOPER.md
  scripts/migrate-pr-to-packages-layout.md
  scripts/migrate-pr-to-packages-layout.sh
Due: prettier --write
