Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

fix: use const instead of let for unreassigned result variable
  test/github-issues/varchar-length-change/varchar-length-change.test.ts
Due: eslint, prettier --write

ci: testing how npm@10 would handle a lockfile generated by npm@11
  .github/workflows/tests.yml
  package-lock.json
Due: prettier --write, sort-package-json

isolate single CI step to test
  .github/workflows/tests.yml
Due: none

detect if package-lock is clean
  .github/workflows/tests.yml
  package.json
Due: prettier --write, sort-package-json

update package lock
  package-lock.json
Due: prettier --write, sort-package-json

package-lock generated using 11.6.0
  package-lock.json
Due: prettier --write, sort-package-json

add git status step
  .github/workflows/tests.yml
Due: none

ci: detect if package-lock.json is up to date and generated with correct npm version (#11827)
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat(mysql)!: drop support for mysql package and default to mysql2 (#11766)
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  docs/docs/drivers/mysql.md
  docs/docs/help/1-faq.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/mysql/MysqlDriver.ts
  src/platform/PlatformTools.ts
  test/github-issues/1551/issue-1551.test.ts
  test/github-issues/953/issue-953.test.ts
Due: eslint, prettier --write, sort-package-json

feat(sqlite)!: drop support for sqlite3 and default to better-sqlite3
  docs/docs/drivers/sqlite.md
  docs/docs/help/1-faq.md
  package.json
  src/commands/InitCommand.ts
  src/driver/DriverFactory.ts
  src/driver/sqlite/SqliteConnectionOptions.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqlite/SqliteQueryRunner.ts
  src/platform/PlatformTools.ts
Due: eslint, prettier --write, sort-package-json

lock
  package-lock.json
Due: prettier --write, sort-package-json

init commands remove better-sqlite3 and use sqlite
  src/commands/InitCommand.ts
Due: eslint, prettier --write

remove reference to SqliteDriver
  package.json
  src/driver/DriverFactory.ts
  src/platform/BrowserDisabledDriversDummy.template
  src/query-builder/RelationIdLoader.ts
Due: eslint, prettier --write, sort-package-json

migration docs
  docs/docs/releases/01-upgrading-1.0.md
  docs/sidebars.ts
Due: eslint, prettier --write

ci: make tests run only once in the main repo
  .github/workflows/tests.yml
Due: none

ci(tests): Remove limitation of branches to run on (#11794)
  .github/workflows/tests.yml
Due: none

fix: fix get version return undefined
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

pass param "decimalNumbers" to mysql2
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix: use subquery with join map one methods
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

ci: ensure pull request follow conventional commits spec
  .github/workflows/pull-request.yml
Due: none

ci: separate format check and lint
  .github/workflows/tests.yml
Due: none

separate
  .github/workflows/tests.yml
Due: none

ci: use prettier on all types of files it supports
  .editorconfig
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  docs/package.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

.prettierrc.js
  .github/workflows/tests.yml
Due: none

fix pattern
  .github/workflows/tests.yml
Due: none

ci: upgrade actions to v6
  .github/workflows/codeql.yml
  .github/workflows/docsearch.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
Due: prettier --write, sort-package-json

fix: add mysql2 parameter decimalNumbers which is true when supportBigNumbers is true and bigNumberStrings is false. (#7067)
  test/github-issues/7067/entity/Order.ts
  test/github-issues/7067/entity/index.ts
  test/github-issues/7067/issue-7067.test.ts
Due: eslint, prettier --write

chore: run linter 🧽
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix(InitCommand): replace <chank> with <ansi>
  src/commands/InitCommand.ts
Due: eslint, prettier --write

refactor(commands/InitCommand): reverse condition
  src/commands/InitCommand.ts
Due: eslint, prettier --write

refactor(InitCommand): no more force to <true> only on <skipInstall>
  src/commands/InitCommand.ts
Due: eslint, prettier --write

Improve pull request title validation error message
  .github/workflows/pull-request.yml
Due: none

ci: upgrade actions to v6 (#11844)
  .github/workflows/codeql.yml
  .github/workflows/docsearch.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  package.json
Due: prettier --write, sort-package-json

ignore mongo typings
  .prettierignore
Due: none

.prettierignore
  .github/workflows/tests.yml
Due: none

refactor: rename hasValidKeys to primaryKeysSelected and simplify logic
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
Due: eslint, prettier --write

Update test/github-issues/7067/entity/Order.ts
  test/github-issues/7067/entity/Order.ts
Due: eslint, prettier --write

Update test/github-issues/7067/issue-7067.test.ts
  test/github-issues/7067/issue-7067.test.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
