Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(docs): add Geist Mono as monospace font for code snippets
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: eslint --fix, prettier --write

feat(docs): add maintainers landing page and homepage section
  docs/docusaurus.config.ts
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/maintainers.module.css
  docs/src/pages/maintainers.tsx
Due: eslint --fix, prettier --write

feat(docs): add maintainers page to main navbar
  docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(docs): replace emoji icons with Lucide React and simplify section colors
  docs/package.json
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: prettier --write

feat(docs): add Sofia Sans and Geist typography via Google Fonts
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: eslint --fix, prettier --write

fix(docs): complete Typesense removal missed during cherry-pick
  docs/docusaurus.config.ts
  docs/package.json
Due: eslint --fix, prettier --write

fix(docs): update docs pnpm lockfile for new dependencies
  docs/pnpm-lock.yaml
Due: prettier --write

fix(docs): add lunr as explicit dependency for pnpm strict hoisting
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write

refactor: remove unneccessary changes
  docs/docs/entity/1-entities.md
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/nativescript/NativescriptDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint --fix, prettier --write

chore: remove SapConnectionOptions / SapDriver deprecated properties
  src/driver/sap/SapDataSourceOptions.ts
  src/driver/sap/SapDriver.ts
Due: eslint --fix, prettier --write

chore: run format 🍉
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/maintainers.module.css
  docs/src/pages/maintainers.tsx
Due: none

fix(docs): align code style (#12081)
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/maintainers.module.css
  docs/src/pages/maintainers.tsx
Due: none

chore: update docs
  docs/docs/drivers/sap.md
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

feat: disable legacy spatial support by default for MySQL
  docs/docs/drivers/mysql.md
  docs/docs/guides/8-migration-v1.md
  src/driver/aurora-mysql/AuroraMysqlDataSourceOptions.ts
  src/driver/mysql/MysqlDataSourceOptions.ts
  src/driver/mysql/MysqlDriver.ts
  test/functional/spatial/mysql/entity/LetterBox.ts
  test/functional/spatial/mysql/spatial-mysql.test.ts
Due: eslint --fix, prettier --write

fix: correct import path in moved spatial test entity
  test/functional/spatial/mysql/entity/LetterBox.ts
Due: eslint --fix, prettier --write

refactor(sap)!: remove SapConnectionOptions' deprecated properties (#12080)
  docs/docs/drivers/sap.md
  docs/docs/guides/8-migration-v1.md
  src/driver/sap/SapDataSourceOptions.ts
  src/driver/sap/SapDriver.ts
Due: eslint --fix, prettier --write

feat(mysql)!: remove deprecated MySQL integer display width and zerofill support
  docs/docs/guides/8-migration-v1.md
  src/decorator/options/ColumnNumericOptions.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnUnsignedOptions.ts
  src/decorator/options/PrimaryGeneratedColumnNumericOptions.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/types/DataTypeDefaults.ts
  src/entity-schema/EntitySchemaColumnOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  src/metadata-builder/ClosureJunctionEntityMetadataBuilder.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata-builder/RelationJoinColumnBuilder.ts
  src/metadata/ColumnMetadata.ts
  src/query-runner/BaseQueryRunner.ts
  src/schema-builder/options/TableColumnOptions.ts
  src/schema-builder/table/TableColumn.ts
  src/schema-builder/util/TableUtils.ts
  test/functional/database-schema/column-width/mysql/column-width.test.ts
  test/functional/database-schema/column-width/mysql/entity/Post.ts
  test/functional/entity-schema/columns/mysql/columns-mysql.test.ts
  test/functional/entity-schema/columns/mysql/entity/Person.ts
  test/functional/tree-tables/closure-table/closure-table-mysql.test.ts
  test/functional/tree-tables/closure-table/entity/Foo2.ts
  test/github-issues/2006/entity/User.ts
  test/github-issues/438/entity/Post.ts
  test/github-issues/438/issue-438.test.ts
  test/github-issues/6442/entity/v1/entities.ts
  test/github-issues/6442/entity/v2/entities.ts
  test/github-issues/6442/issue-6442.test.ts
Due: eslint --fix, prettier --write

feat(mysql)!: remove deprecated MySQL integer display width and zerofill support (#12084)
  docs/docs/guides/8-migration-v1.md
  src/decorator/options/ColumnNumericOptions.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnUnsignedOptions.ts
  src/decorator/options/PrimaryGeneratedColumnNumericOptions.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/types/DataTypeDefaults.ts
  src/entity-schema/EntitySchemaColumnOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  src/metadata-builder/ClosureJunctionEntityMetadataBuilder.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata-builder/RelationJoinColumnBuilder.ts
  src/metadata/ColumnMetadata.ts
  src/query-runner/BaseQueryRunner.ts
  src/schema-builder/options/TableColumnOptions.ts
  src/schema-builder/table/TableColumn.ts
  src/schema-builder/util/TableUtils.ts
  test/functional/database-schema/column-width/mysql/column-width.test.ts
  test/functional/database-schema/column-width/mysql/entity/Post.ts
  test/functional/entity-schema/columns/mysql/columns-mysql.test.ts
  test/functional/entity-schema/columns/mysql/entity/Person.ts
  test/functional/tree-tables/closure-table/closure-table-mysql.test.ts
  test/functional/tree-tables/closure-table/entity/Foo2.ts
  test/github-issues/2006/entity/User.ts
  test/github-issues/438/entity/Post.ts
  test/github-issues/438/issue-438.test.ts
  test/github-issues/6442/entity/v1/entities.ts
  test/github-issues/6442/entity/v2/entities.ts
  test/github-issues/6442/issue-6442.test.ts
Due: eslint --fix, prettier --write

style: enable no-return-assign eslint rule and fix violations
  eslint.config.mjs
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/metadata-builder/EntityMetadataBuilder.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata/IndexMetadata.ts
  src/metadata/UniqueMetadata.ts
  src/query-runner/QueryLock.ts
Due: eslint --fix, prettier --write

chore: sort lines
  eslint.config.mjs
Due: prettier --write

feat(mysql)!: disable legacy spatial support by default for MySQL (#12083)
  docs/docs/drivers/mysql.md
  docs/docs/guides/8-migration-v1.md
  src/driver/aurora-mysql/AuroraMysqlDataSourceOptions.ts
  src/driver/mysql/MysqlDataSourceOptions.ts
  src/driver/mysql/MysqlDriver.ts
  test/functional/spatial/mysql/entity/LetterBox.ts
  test/functional/spatial/mysql/spatial-mysql.test.ts
Due: eslint --fix, prettier --write

refactor: rename `connection` to `dataSource` in the `EntityManager` and `QueryBuilder` classes
  src/entity-manager/EntityManager.ts
  src/entity-manager/EntityManagerFactory.ts
  src/entity-manager/MongoEntityManager.ts
  src/entity-manager/SqljsEntityManager.ts
  src/find-options/FindOptionsUtils.ts
  src/query-builder/DeleteQueryBuilder.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/RelationQueryBuilder.ts
  src/query-builder/RelationUpdater.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  src/repository/Repository.ts
  src/repository/TreeRepository.ts
  src/util/TreeRepositoryUtils.ts
  test/github-issues/7155/issue-7155.test.ts
Due: eslint --fix, prettier --write

fix: fallback to conflictColumns in orUpdate when overwriteColumns is empty
  src/entity-manager/EntityManager.ts
Due: eslint --fix, prettier --write

refactor(lock)!: remove deprecated pessimistic_partial_write and pessimistic_write_or_fail lock modes
  docs/docs/guides/8-migration-v1.md
  src/find-options/FindOneOptions.ts
  src/query-builder/QueryExpressionMap.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/locking/query-builder-locking.test.ts
  test/functional/repository/find-options-locking/find-options-locking.test.ts
Due: eslint --fix, prettier --write

style: fix no-return-assign lint violations in test files
  test/functional/decorators/embedded/query-builder-embedded.test.ts
  test/functional/persistence/custom-column-names/persistence-custom-column-names.test.ts
  test/functional/persistence/one-to-many/persistence-one-to-many.test.ts
  test/functional/persistence/one-to-one/persistence-one-to-one.test.ts
  test/github-issues/1139/issue-1139.test.ts
  test/github-issues/1510/issue-1510.test.ts
  test/github-issues/1551/entity/Message.ts
  test/github-issues/1680/issue-1680.test.ts
  test/github-issues/6399/issue-6399.test.ts
  test/github-issues/7155/issue-7155.test.ts
  test/github-issues/9988/issue-9988.test.ts
  test/integration/sample2-one-to-one.test.ts
  test/integration/sample3-many-to-one.test.ts
  test/integration/sample4-many-to-many.test.ts
Due: eslint --fix, prettier --write

docs: remove unnecessary section
  docs/docs/drivers/sap.md
Due: prettier --write

docs(sap): remove obsolete data source options in documentation (#12095)
  docs/docs/drivers/sap.md
Due: prettier --write

docs: remove deprecated lock modes from query builder and find options docs
  docs/docs/query-builder/1-select-query-builder.md
  docs/docs/working-with-entity-manager/3-find-options.md
Due: prettier --write

refactor!: remove AbstractRepository, @EntityRepository, and getCustomRepository
  docs/docs/guides/8-migration-v1.md
  extra/typeorm-model-shim.js
  src/data-source/DataSource.ts
  src/decorator/EntityRepository.ts
  src/entity-manager/EntityManager.ts
  src/error/CustomRepositoryCannotInheritRepositoryError.ts
  src/error/CustomRepositoryDoesNotHaveEntityError.ts
  src/error/CustomRepositoryNotFoundError.ts
  src/error/index.ts
  src/globals.ts
  src/index.ts
  src/metadata-args/EntityRepositoryMetadataArgs.ts
  src/metadata-args/MetadataArgsStorage.ts
  src/repository/AbstractRepository.ts
  test/functional/transaction/single-query-runner/repository/PostRepository.ts
  test/functional/transaction/single-query-runner/single-query-runner.test.ts
  test/github-issues/3246/entity/Broker.ts
  test/github-issues/3246/entity/Order.ts
  test/github-issues/3246/entity/OrderCustomer.ts
  test/github-issues/3246/issue-3246.test.ts
  test/github-issues/3246/repository/BrokerRepository.ts
  test/github-issues/3246/repository/OrderRepository.ts
Due: eslint --fix, prettier --write

refactor(lock)!: remove deprecated pessimistic_partial_write and pessimistic_write_or_fail lock modes (#12093)
  docs/docs/guides/8-migration-v1.md
  docs/docs/query-builder/1-select-query-builder.md
  docs/docs/working-with-entity-manager/3-find-options.md
  src/find-options/FindOneOptions.ts
  src/query-builder/QueryExpressionMap.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/locking/query-builder-locking.test.ts
  test/functional/repository/find-options-locking/find-options-locking.test.ts
Due: eslint --fix, prettier --write

refactor!: remove deprecated WhereExpression type alias
  docs/docs/guides/8-migration-v1.md
  src/index.ts
  src/query-builder/WhereExpressionBuilder.ts
Due: eslint --fix, prettier --write

style: enable no-return-assign eslint rule and fix violations (#12086)
  eslint.config.mjs
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/metadata-builder/EntityMetadataBuilder.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata/IndexMetadata.ts
  src/metadata/UniqueMetadata.ts
  src/query-runner/QueryLock.ts
  test/functional/decorators/embedded/query-builder-embedded.test.ts
  test/functional/persistence/custom-column-names/persistence-custom-column-names.test.ts
  test/functional/persistence/one-to-many/persistence-one-to-many.test.ts
  test/functional/persistence/one-to-one/persistence-one-to-one.test.ts
  test/github-issues/1139/issue-1139.test.ts
  test/github-issues/1510/issue-1510.test.ts
  test/github-issues/1551/entity/Message.ts
  test/github-issues/1680/issue-1680.test.ts
  test/github-issues/6399/issue-6399.test.ts
  test/github-issues/7155/issue-7155.test.ts
  test/github-issues/9988/issue-9988.test.ts
  test/integration/sample2-one-to-one.test.ts
  test/integration/sample3-many-to-one.test.ts
  test/integration/sample4-many-to-many.test.ts
Due: eslint --fix, prettier --write

refactor(CustomRepository)!: remove AbstractRepository, @EntityRepository, and getCustomRepository (#12096)
  docs/docs/guides/8-migration-v1.md
  extra/typeorm-model-shim.js
  src/data-source/DataSource.ts
  src/decorator/EntityRepository.ts
  src/entity-manager/EntityManager.ts
  src/error/CustomRepositoryCannotInheritRepositoryError.ts
  src/error/CustomRepositoryDoesNotHaveEntityError.ts
  src/error/CustomRepositoryNotFoundError.ts
  src/error/index.ts
  src/globals.ts
  src/index.ts
  src/metadata-args/EntityRepositoryMetadataArgs.ts
  src/metadata-args/MetadataArgsStorage.ts
  src/repository/AbstractRepository.ts
  test/functional/transaction/single-query-runner/repository/PostRepository.ts
  test/functional/transaction/single-query-runner/single-query-runner.test.ts
  test/github-issues/3246/entity/Broker.ts
  test/github-issues/3246/entity/Order.ts
  test/github-issues/3246/entity/OrderCustomer.ts
  test/github-issues/3246/issue-3246.test.ts
  test/github-issues/3246/repository/BrokerRepository.ts
  test/github-issues/3246/repository/OrderRepository.ts
Due: eslint --fix, prettier --write

refactor: remove deprecated global API functions
  src/globals.ts
Due: eslint --fix, prettier --write

fix(docs): replace removed global API usage with dataSource methods
  docs/docs/drivers/mongodb.md
  docs/docs/query-builder/1-select-query-builder.md
Due: prettier --write

refactor: remove ConnectionManager
  src/connection/ConnectionManager.ts
  src/index.ts
  test/functional/connection-manager/connection-manager.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
