Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

ci(docs): add deploy Github Action (#11911)
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): add deploy Github Action to v0.3 branch (#11929)
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

fix: use subquery with join map one methods
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

chore: run format 🍉
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

test: rename file 🍍
  test/github-issues/10895/issue-10895.test.ts
Due: eslint, prettier --write

chore: improve readability
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

fix: handle relation ids in nested embedded entities (#11942)
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/columns/embedded-columns/columns-embedded-columns.test.ts
  test/functional/columns/embedded-columns/entity/Account.ts
  test/functional/columns/embedded-columns/entity/Department.ts
  test/functional/columns/embedded-columns/entity/Parent.ts
Due: eslint, prettier --write

fix: use subquery with join map one methods (#11943)
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

style: remove uninteded ts-docs
  src/cache/DbQueryResultCache.ts
  src/commands/InitCommand.ts
  src/decorator/Exclusion.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/entity-manager/EntityManager.ts
  src/entity-schema/EntitySchemaTransformer.ts
  src/metadata/ColumnMetadata.ts
  src/metadata/ExclusionMetadata.ts
  src/migration/MigrationExecutor.ts
  src/persistence/tree/MaterializedPathSubjectExecutor.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/QueryExpressionMap.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  src/schema-builder/table/TableExclusion.ts
  src/util/DateUtils.ts
  src/util/OrmUtils.ts
  src/util/RandomGenerator.ts
  test/unit/cache/redis-query-result-cache.test.ts
Due: eslint, prettier --write

fix: remove unintended changes
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

fix: prevent columns with `select: false` from being returned
  src/persistence/SubjectExecutor.ts
  test/functional/columns/no-select/columns-no-select.test.ts
  test/functional/columns/no-select/entity/Post.ts
Due: eslint, prettier --write

docs: add JsonContains find-options example
  docs/docs/working-with-entity-manager/3-find-options.md
Due: none

docs: clarify JsonContains db support
  docs/docs/working-with-entity-manager/3-find-options.md
Due: none

fix: fix up init issue
  gulpfile.ts
Due: eslint, prettier --write

docs: add JsonContains find-options example (#11945)
  docs/docs/working-with-entity-manager/3-find-options.md
Due: none

docs: imporve docs
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: none

fix: prevent columns with select false from being returned (#11944)
  src/persistence/SubjectExecutor.ts
  test/functional/columns/no-select/columns-no-select.test.ts
  test/functional/columns/no-select/entity/Post.ts
Due: eslint, prettier --write

chore: run format 🍉
  docs/docs/drivers/sqlite.md
Due: none

feat: add sqlite strict table support
  src/decorator/entity/Entity.ts
  src/decorator/options/EntityOptions.ts
  src/driver/better-sqlite3/BetterSqlite3ConnectionOptions.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlite/SqliteConnectionOptions.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsConnectionOptions.ts
  src/driver/sqljs/SqljsDriver.ts
  src/driver/types/ColumnTypes.ts
  src/metadata-args/TableMetadataArgs.ts
  src/metadata/EntityMetadata.ts
  src/schema-builder/options/TableOptions.ts
  src/schema-builder/table/Table.ts
  test/functional/sqlite-strict/entity/Category.ts
  test/functional/sqlite-strict/entity/NonStrictUser.ts
  test/functional/sqlite-strict/entity/Product.ts
  test/functional/sqlite-strict/entity/StrictUser.ts
  test/functional/sqlite-strict/sqlite-strict-connection.test.ts
  test/functional/sqlite-strict/sqlite-strict-override.test.ts
  test/functional/sqlite-strict/sqlite-strict-sqljs.test.ts
  test/functional/sqlite-strict/sqlite-strict.test.ts
Due: eslint, prettier --write

refactor: update buildCreateColumnSql logic and add additional tests with strict mode
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  test/functional/sqlite-strict/entity/StrictUser.ts
  test/functional/sqlite-strict/sqlite-strict-connection.test.ts
  test/functional/sqlite-strict/sqlite-strict-override.test.ts
  test/functional/sqlite-strict/sqlite-strict-sqljs.test.ts
  test/functional/sqlite-strict/sqlite-strict.test.ts
Due: eslint, prettier --write

refactor: remove strict mode option from driver options and add additionals tests
  src/driver/better-sqlite3/BetterSqlite3ConnectionOptions.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite/SqliteConnectionOptions.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsConnectionOptions.ts
  src/driver/sqljs/SqljsDriver.ts
  src/metadata/EntityMetadata.ts
  test/functional/sqlite-strict/entity/Category.ts
  test/functional/sqlite-strict/entity/Product.ts
  test/functional/sqlite-strict/entity/StrictAny.ts
  test/functional/sqlite-strict/entity/StrictUser.ts
  test/functional/sqlite-strict/sqlite-strict-connection.test.ts
  test/functional/sqlite-strict/sqlite-strict.test.ts
Due: eslint, prettier --write

docs: update docs for strict table
  docs/docs/drivers/sqlite.md
  docs/docs/entity/1-entities.md
  docs/docs/help/3-decorator-reference.md
Due: none

refactor: remove unnecessary whitespaces in query string
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

fix: return NULL for empty string comment
  docs/docs/help/3-decorator-reference.md
  src/driver/sap/SapQueryRunner.ts
  test/functional/query-runner/create-comment.test.ts
Due: eslint, prettier --write

feat: add support for table comments in SAP HANA
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/functional/query-runner/create-comment.test.ts
  test/functional/query-runner/entity/Company.ts
Due: eslint, prettier --write

chore: comment issue reference number in the test file
  test/functional/repository/aggregate-methods/entity/Post.ts
Due: eslint, prettier --write

fix: disable global order for aggregate functions
  src/entity-manager/EntityManager.ts
  test/functional/repository/aggregate-methods/entity/Post.ts
Due: eslint, prettier --write

fix: specify columns for metadata-less multi-value inserts
  src/query-builder/InsertQueryBuilder.ts
  test/github-issues/3837/issue-3837.test.ts
Due: eslint, prettier --write

fix: optimize column name extraction
  src/query-builder/InsertQueryBuilder.ts
Due: eslint, prettier --write

test: add test for heterogeneous value sets
  test/github-issues/3837/issue-3837.test.ts
Due: eslint, prettier --write

refactor: update supported column types and simplify strict types conversion logic
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/metadata-builder/EntityMetadataValidator.ts
Due: eslint, prettier --write

removing unrelated formatting fix
  src/query-runner/QueryRunner.ts
Due: eslint, prettier --write

test: add tests for all drivers
  test/functional/mongodb/basic/extending-inheritance/entity/Article.ts
  test/functional/mongodb/basic/extending-inheritance/entity/FinalEntity.ts
  test/functional/mongodb/basic/extending-inheritance/entity/MiddleEntity.ts
  test/functional/mongodb/basic/extending-inheritance/entity/MongoBaseEntity.ts
  test/functional/mongodb/basic/extending-inheritance/extending-inheritance-mongodb.test.ts
  test/functional/table-inheritance/extending/entity/AbstractBase.ts
  test/functional/table-inheritance/extending/extending-inheritance.test.ts
Due: eslint, prettier --write

fix: multiple inheritance with abstract class and override column properties in derived entity
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/table-inheritance/extending/entity/AbstractBase.ts
  test/functional/table-inheritance/extending/entity/Article.ts
  test/functional/table-inheritance/extending/entity/BaseEntity.ts
  test/functional/table-inheritance/extending/entity/FinalEntity.ts
  test/functional/table-inheritance/extending/entity/MiddleEntity.ts
  test/functional/table-inheritance/extending/extending-inheritance.test.ts
Due: eslint, prettier --write

fix(metadata-builder): merge column options in inherited entities
  docs/docs/entity/3-entity-inheritance.md
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/mongodb/basic/extending-inheritance/extending-inheritance-mongodb.test.ts
  test/functional/table-inheritance/extending/extending-inheritance.test.ts
Due: eslint, prettier --write

fix(postgres): handle `timestamptz` persistence/hydration correctly (#11774)
  src/driver/postgres/PostgresDriver.ts
  test/functional/database-schema/column-types/postgres/column-types-postgres.test.ts
  test/functional/database-schema/column-types/postgres/entity/PostWithOptions.ts
Due: eslint, prettier --write

tests: cleanup redis tests
  test/unit/cache/redis-query-result-cache.ts
Due: eslint, prettier --write

fix: implement case-insensitive UUID comparison without external dependency
  package.json
  pnpm-lock.yaml
  src/util/OrmUtils.ts
  test/functional/uuid/uuid-case-insensitive/uuid-case-insensitive.test.ts
Due: eslint, prettier --write, sort-package-json

fix: make UUID primary key comparisons case-insensitive
  package.json
  pnpm-lock.yaml
  src/util/OrmUtils.ts
  test/functional/uuid/uuid-case-insensitive/entity/DayDemand.ts
  test/functional/uuid/uuid-case-insensitive/entity/Demand.ts
  test/functional/uuid/uuid-case-insensitive/entity/Material.ts
  test/functional/uuid/uuid-case-insensitive/entity/TransportUnitType.ts
  test/functional/uuid/uuid-case-insensitive/uuid-case-insensitive.test.ts
Due: eslint, prettier --write, sort-package-json

fix: improve UUID case-insensitive test reliability across databases
  test/functional/uuid/uuid-case-insensitive/uuid-case-insensitive.test.ts
Due: eslint, prettier --write
