Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

docs: fix `reload` option typo (#11601)
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/repository/SaveOptions.ts
Due: eslint, prettier --write

feat: support virtual columns in entity schema (#11597)
  src/decorator/options/ColumnOptions.ts
  src/entity-schema/EntitySchemaColumnOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  test/functional/entity-schema/columns/virtual-columns/entity/Activity.ts
  test/functional/entity-schema/columns/virtual-columns/virtual-columns.ts
Due: eslint, prettier --write

chore: Release v0.3.26
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: Add note on MySQL default change
  CHANGELOG.md
Due: none

Create file only if not existed before
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

test: Fix test assertion based on platform
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

test: Change package.json type
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

chore: Update release notes
  CHANGELOG.md
Due: none

test: add tests for self-referencing relations in table inheritance with query strategy
  test/github-issues/9936/entity/Country.ts
  test/github-issues/9936/entity/Province.ts
  test/github-issues/9936/entity/Region.ts
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

fix: replace duplicate @Column with @RelationId in Region entity
  test/github-issues/9936/entity/Region.ts
Due: eslint, prettier --write

test: refactor self-referencing relation tests to use instanceof and explicit discriminator values
  test/github-issues/9936/entity/Country.ts
  test/github-issues/9936/entity/Province.ts
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

fix: specify explicit JoinColumn name for SQL Server compatibility
  test/github-issues/9936/entity/Country.ts
  test/github-issues/9936/entity/Province.ts
  test/github-issues/9936/entity/Region.ts
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

test: skip SQL Server for STI with self-referencing relations tests
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

test: handle CockroachDB-specific behavior in STI with query strategy tests
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

fix: handle CockroachDB STI children relation loading with query strategy
  test/github-issues/9936/issue-9936.ts
Due: eslint, prettier --write

chore: Release v0.3.26 (#11602)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

perf: Cache package.json location between getNearestPackageJson invocations (#11580)
  src/util/ImportUtils.ts
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

feat: allow `VirtualColumn`s to be initially non-selectable (#11586)
  src/decorator/options/VirtualColumnOptions.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/columns/virtual-columns/entity/Company.ts
  test/functional/columns/virtual-columns/entity/Employee.ts
  test/functional/columns/virtual-columns/entity/TimeSheet.ts
  test/functional/columns/virtual-columns/virtual-columns.ts
Due: eslint, prettier --write

refactor: Makes orUpdate signature type aware
  src/query-builder/InsertQueryBuilder.ts
Due: eslint, prettier --write

fix: Upgrade mysql2 version
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: Upgrade mysql2 version (#18)
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

duplicated fragment removed
  docs/docs/advanced-topics/1-migrations.md
Due: none

feat: add updateOnly option on upsert
  src/entity-manager/EntityManager.ts
  src/repository/UpsertOptions.ts
  test/github-issues/11588/entity/User.ts
  test/github-issues/11588/issue-11588.ts
Due: eslint, prettier --write

fix: add a conflict colums to first parameter
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

fix: update sha.js to 2.4.12 (#19)
  package.json
Due: prettier --write, sort-package-json

fix: update lockfile (#20)
  pnpm-lock.yaml
Due: none

fix(postgres): use ALTER COLUMN for varchar length changes instead of DROP/ADD (#3357)
  src/driver/postgres/PostgresQueryRunner.ts
  test/github-issues/3357/entity/BugInitial.ts
  test/github-issues/3357/entity/BugUpdated.ts
  test/github-issues/3357/issue-3357.ts
Due: eslint, prettier --write

fix: Add package.json exports for react-native
  package.json
Due: prettier --write, sort-package-json

feat(mysql): add pool size options for each connection
  src/driver/mysql/MysqlConnectionCredentialsOptions.ts
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

Refactor changeColumn in postgres runner (remove duplicated alter), support other drivers, move the associated test into its right path
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

test: change input entity data
  test/github-issues/11588/issue-11588.ts
Due: eslint, prettier --write

fix: properly map conflict columns in upsert for postgres
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

fix: apply into second parameter only when using Postgres Family
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

docs: add llms.txt to documentation site (#11622)
  docs/.gitignore
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
Due: eslint, prettier --write, sort-package-json

fix: Add package.json exports for react-native (#11623)
  package.json
Due: prettier --write, sort-package-json

Remove duplication in native drivers, refactor schema builder' change-column test, remove the dir test/github-issues/3357
  package-lock.json
  package.json
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/schema-builder/change-column.ts
  test/github-issues/3357/entity/BugInitial.ts
  test/github-issues/3357/entity/BugUpdated.ts
  test/github-issues/3357/issue-3357.ts
Due: eslint, prettier --write, sort-package-json

allow skipping transactions with 'all' mode
  src/migration/MigrationExecutor.ts
  src/migration/MigrationInterface.ts
Due: eslint, prettier --write

fix(query-builder): handle empty result set when offset exceeds total
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

fix: lazy count can still be trusted when the result set is empty
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write
