Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

fix Copilot review issues
  docs/docs/drivers/microsoft-sqlserver.md
  src/driver/sqlserver/SqlServerDriver.ts
  test/functional/database-schema/vectors/sqlserver/vector.ts
Due: eslint, prettier --write

feat: MS SQL vector, review issues fix
  docs/docs/entity/1-entities.md
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint, prettier --write

feat(mssql): support 'vector' type for MS SQL Server (#11732)
  .github/workflows/tests-linux.yml
  docker-compose.yml
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/entity/1-entities.md
  sample/sample37-vector-sqlserver/README.md
  sample/sample37-vector-sqlserver/app.ts
  sample/sample37-vector-sqlserver/entity/Document.ts
  sample/sample37-vector-sqlserver/entity/DocumentChunk.ts
  sample/sample37-vector-sqlserver/package.json
  src/commands/InitCommand.ts
  src/driver/sqlserver/MssqlParameter.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/sqlserver/entity/DocumentChunk.ts
  test/functional/database-schema/vectors/sqlserver/entity/Point.ts
  test/functional/database-schema/vectors/sqlserver/vector.ts
Due: eslint, prettier --write, sort-package-json

Refactoring: undo changeColumn guard, incorporate issafealter(), move logic to separated helpers, incorporate basic data change tests/issafealter unit test,...
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunnerHelper.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunnerHelper.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/mysql/MysqlQueryRunnerHelper.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/oracle/OracleQueryRunnerHelper.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/postgres/PostgresQueryRunnerHelper.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sap/SapQueryRunnerHelper.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/spanner/SpannerQueryRunnerHelper.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunnerHelper.ts
  src/query-runner/BaseQueryRunnerHelper.ts
  test/functional/query-runner/change-column.ts
  test/functional/schema-builder/change-column.ts
  test/unit/base-query-runner-helper.ts
Due: eslint, prettier --write

feat(mysql): drop support for mysql package and default to mysql2
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  README-zh_CN.md
  README_ko.md
  docs/docs/drivers/mysql.md
  docs/docs/help/1-faq.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/mysql/MysqlDriver.ts
  src/platform/PlatformTools.ts
  test/github-issues/1551/issue-1551.ts
  test/github-issues/953/issue-953.ts
Due: eslint, prettier --write, sort-package-json

fix: Bug in detectRedisVersion
  src/cache/RedisQueryResultCache.ts
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

feat: add database parameter to MongoDB collection operations
  src/driver/mongodb/MongoQueryRunner.ts
  src/entity-manager/MongoEntityManager.ts
  src/migration/MigrationExecutor.ts
  src/schema-builder/MongoSchemaBuilder.ts
Due: eslint, prettier --write

chore: Update sponsor section in README
  README.md
Due: none

chore: Remove outdated README files
  README-zh_CN.md
  README_ko.md
Due: none

docs: expand sponsors section and remove outdated translations (#11771)
  README-zh_CN.md
  README.md
  README_ko.md
Due: none

refactor: replace sha.js and uuid with native Crypto API
  package-lock.json
  package.json
  src/cache/DbQueryResultCache.ts
  src/naming-strategy/DefaultNamingStrategy.ts
  src/naming-strategy/LegacyOracleNamingStrategy.ts
  src/platform/BrowserPlatformTools.template
  src/platform/PlatformTools.ts
  src/query-builder/InsertQueryBuilder.ts
  src/util/StringUtils.ts
  test/github-issues/10569/issue-10569.ts
Due: eslint, prettier --write, sort-package-json

refactor: replace uuid with native Crypto API
  package.json
  src/naming-strategy/DefaultNamingStrategy.ts
  src/naming-strategy/LegacyOracleNamingStrategy.ts
  src/platform/BrowserPlatformTools.template
  src/platform/PlatformTools.ts
  src/util/RandomGenerator.ts
  src/util/StringUtils.ts
Due: eslint, prettier --write, sort-package-json

extend test to multiple drivers
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

fix(postgres): 'timestamptz' type persistence/hydration
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

fix: separate test into multiple tests
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

chore: fix cache persistence/hydration test
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
Due: eslint, prettier --write

chore: add test for timestamptz cache persistence/hydration
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/entity/PostWithOptions.ts
Due: eslint, prettier --write

fix some vulnerabiliteis
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Fix: fix failed ci tests
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/oracle/OracleQueryRunnerHelper.ts
  src/driver/types/ColumnTypes.ts
  src/query-runner/BaseQueryRunnerHelper.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Fix typos in some files
  src/driver/cockroachdb/CockroachDriver.ts
Due: eslint, prettier --write

docs(cockroach): fix typo in CockroachDriver jsdoc for mappedDataTypes (#11775)
  src/driver/cockroachdb/CockroachDriver.ts
Due: eslint, prettier --write

Fix: applied @coderabbitai suggestions (remove double executions),...
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunnerHelper.ts
  src/driver/cockroachdb/CockroachQueryRunnerHelper.ts
  src/driver/mysql/MysqlQueryRunnerHelper.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/oracle/OracleQueryRunnerHelper.ts
  src/driver/postgres/PostgresQueryRunnerHelper.ts
  src/driver/sap/SapQueryRunnerHelper.ts
  src/driver/spanner/SpannerQueryRunnerHelper.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Fix: fix sap related issues as per @coderabbitai' suggestions
  src/driver/mysql/MysqlQueryRunnerHelper.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sap/SapQueryRunnerHelper.ts
Due: eslint, prettier --write

chore(deps): bump glob (typeorm#11776)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(deps): bump glob (#11776)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: add Math.random() fallback for React Native/Hermes support
  package-lock.json
  src/util/RandomGenerator.ts
Due: eslint, prettier --write, sort-package-json

run tests on commits to master, next
  .github/workflows/tests.yml
Due: none

fix: upgrade glob to fix CVE-2025-64756
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Add exclude-after-remap flag to make coverage working
  .c8rc.json
Due: prettier --write, sort-package-json

ci: migrate from nyc to c8 (#11759)
  .c8rc.json
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix formatting errors
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fix(deps): upgrade glob to fix CVE-2025-64756 (#11784)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

ci: run tests on commits to master and next (#11783)
  .github/workflows/tests.yml
Due: none

refactor: simplify gulpfile by removing deprecated tasks and updating to modern syntax; add new TypeScript configurations for browser and package builds
  gulpfile.ts
  package-lock.json
  package.json
  tsconfig.browser.json
  tsconfig.package.json
Due: eslint, prettier --write, sort-package-json

refactor(gulpfile): update import path resolution for ESM index file to use path.resolve, improving compatibility and clarity
  gulpfile.ts
Due: eslint, prettier --write

refactor(gulpfile): rename browserClearPackageDirectory to browserClearWorkDirectory for clarity and update task sequence to include packageClearPackageDirectory
  gulpfile.ts
Due: eslint, prettier --write

refactor(gulpfile): remove packageClearPackageDirectory from task sequence to streamline build process
  gulpfile.ts
Due: eslint, prettier --write

fix: restore socks dependency in package-lock.json
  package-lock.json
Due: prettier --write, sort-package-json

ci: bump node to 20.19.5 required by yargs
  .nvmrc
Due: none
