Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

fix: support for better-sqlite3 v12 (#11557)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: update date column assignment logic
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint, prettier --write

test: Add tests for timestamp precision in UpdateDateColumn
  test/github-issues/11258/entity_precision_0/Base.ts
  test/github-issues/11258/entity_precision_0/Child.ts
  test/github-issues/11258/entity_precision_0/Parent.ts
  test/github-issues/11258/entity_precision_6/Base.ts
  test/github-issues/11258/entity_precision_6/Child.ts
  test/github-issues/11258/entity_precision_6/Parent.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

test: Add SQL Server precision tests for issue #11258
  test/github-issues/11258/entity_precision_0/BaseSqlServer.ts
  test/github-issues/11258/entity_precision_0/ChildSqlServer.ts
  test/github-issues/11258/entity_precision_0/ParentSqlServer.ts
  test/github-issues/11258/entity_precision_6/BaseSqlServer.ts
  test/github-issues/11258/entity_precision_6/ChildSqlServer.ts
  test/github-issues/11258/entity_precision_6/ParentSqlServer.ts
  test/github-issues/11258/issue-11258-sqlserver.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

fix: preserve `useIndex` when cloning a QueryExpressionMap (or a QueryBuilder) (#10679)
  src/query-builder/QueryExpressionMap.ts
  test/github-issues/10678/entity/user.ts
  test/github-issues/10678/issue-10678.ts
Due: eslint, prettier --write

fix: add .vscode to .gitignore to prevent IDE configuration files from being tracked
  .gitignore
Due: none

chore: change test badge from `test.yml` to `commit-validation.yml`
  README.md
Due: none

chore: change test badge from `test.yml` to `commit-validation.yml` (#11560)
  README.md
Due: none

chore: update redis peer dependency to allow version 5
  package-lock.json
  package.json
  test/github-issues/11528/entity/Post.ts
  test/github-issues/11528/issue-11528.ts
Due: eslint, prettier --write, sort-package-json

fix: replace deprecated fs.rmdir with fs.rm for directory removal fixes: #11528
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

feat(mysql): support AnalyticDB returning version() column name in getVersion()
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

Update test/github-issues/11258/issue-11258.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

refactor: SQL Server datetime2 precision tests
  test/github-issues/11258/entity_precision_0/BaseSqlServer.ts
  test/github-issues/11258/issue-11258-sqlserver.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

fix(mysql): run npm run format and pushed the changes
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

fix(mysql): use lowercase version() to avoid exception as per review suggestion
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

test: Add SQLite precision tests for UpdateDateColumn
  test/github-issues/11258/entity_sqlite_0/BaseSqlite.ts
  test/github-issues/11258/entity_sqlite_0/ChildSqlite.ts
  test/github-issues/11258/entity_sqlite_0/ParentSqlite.ts
  test/github-issues/11258/entity_sqlite_6/BaseSqlite.ts
  test/github-issues/11258/entity_sqlite_6/ChildSqlite.ts
  test/github-issues/11258/entity_sqlite_6/ParentSqlite.ts
  test/github-issues/11258/issue-11258-sqlite-simple.ts
  test/github-issues/11258/issue-11258-sqlserver.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

test: quick lint+style fixes
  test/github-issues/11258/entity-0/Base.ts
  test/github-issues/11258/entity-0/Child.ts
  test/github-issues/11258/entity-0/Parent.ts
  test/github-issues/11258/entity-6/Base.ts
  test/github-issues/11258/entity-6/Child.ts
  test/github-issues/11258/entity-6/Parent.ts
  test/github-issues/11258/entity-mssql-0/BaseSqlServer.ts
  test/github-issues/11258/entity-mssql-0/ChildSqlServer.ts
  test/github-issues/11258/entity-mssql-0/ParentSqlServer.ts
  test/github-issues/11258/entity-mssql-6/BaseSqlServer.ts
  test/github-issues/11258/entity-mssql-6/ChildSqlServer.ts
  test/github-issues/11258/entity-mssql-6/ParentSqlServer.ts
  test/github-issues/11258/entity-sqlite-0/BaseSqlite.ts
  test/github-issues/11258/entity-sqlite-0/ChildSqlite.ts
  test/github-issues/11258/entity-sqlite-0/ParentSqlite.ts
  test/github-issues/11258/entity-sqlite-6/BaseSqlite.ts
  test/github-issues/11258/entity-sqlite-6/ChildSqlite.ts
  test/github-issues/11258/entity-sqlite-6/ParentSqlite.ts
  test/github-issues/11258/issue-11258-mssql.ts
  test/github-issues/11258/issue-11258-sqlite.ts
  test/github-issues/11258/issue-11258.ts
Due: eslint, prettier --write

Update issue-11258-mssql.ts
  test/github-issues/11258/issue-11258-mssql.ts
Due: eslint, prettier --write

fix: do not create junction table metadata when it already exists (#11114)
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

fix: resolve array modification bug in QueryRunner drop methods
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/github-issues/11563/entity/TestEntity.ts
  test/github-issues/11563/issue-11563.ts
Due: eslint, prettier --write

fix: create multiple indices same column
  test/github-issues/11563/issue-11563.ts
Due: eslint, prettier --write

fix(mysql): support Alibaba AnalyticDB returning version() column name in getVersion() (#11555)
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

build: drop support for node 16 and 18
  .github/workflows/commit-validation.yml
  .github/workflows/tests-linux.yml
  gulpfile.ts
  ormconfig.sample.json
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

docs: update README files for node 20 minimum support
  README-zh_CN.md
  README.md
  README_ko.md
Due: none

build: fix type errors
  src/driver/aurora-postgres/AuroraPostgresDriver.ts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/capacitor/CapacitorDriver.ts
  src/driver/cordova/CordovaDriver.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/repository/MongoRepository.ts
  test/functional/query-runner/stream.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

chore: functional tests instead of github issues
  test/functional/query-runner/drop-column.ts
  test/functional/query-runner/drop-foreign-key.ts
  test/functional/query-runner/drop-index.ts
  test/functional/query-runner/drop-unique-constraint.ts
  test/github-issues/11563/entity/TestEntity.ts
  test/github-issues/11563/issue-11563.ts
Due: eslint, prettier --write

fix: resolve array modification bug in QueryRunner drop methods (#11564)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/query-runner/drop-column.ts
  test/functional/query-runner/drop-foreign-key.ts
  test/functional/query-runner/drop-index.ts
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2
  src/driver/aurora-postgres/AuroraPostgresConnectionOptions.ts
Due: eslint, prettier --write

docs: fix docs for UpdateDateColumn
  docs/docs/entity/1-entities.md
  docs/docs/help/3-decorator-reference.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: none

feat: improve typing by auto deducing joined entities in select query builders
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

fix(mysql): set `stringifyObjects` implicitly
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix(mysql): set `stringifyObjects` implicitly (#11574)
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

Added history to .gitignore
  .gitignore
  src/data-source/DataSource.ts
Due: eslint, prettier --write

feat: Add useStructuredResult and recordsets
  src/entity-manager/EntityManager.ts
  src/query-runner/QueryResult.ts
Due: eslint, prettier --write

fixes #11566, fixes #5051
  test/github-issues/11566/entity/Post.ts
  test/github-issues/11566/issue-11566.ts
Due: eslint, prettier --write

Updating docs
  docs/docs/advanced-topics/2-transactions.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
Due: none
