Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

Update test/github-issues/7067/issue-7067.test.ts
  test/github-issues/7067/issue-7067.test.ts
Due: eslint, prettier --write

Update src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix: add mysql2 parameter decimalNumbers which is true when supportBigNumbers is true and bigNumberStrings is false. (#7067)
  src/driver/mysql/MysqlConnectionOptions.ts
  test/functional/driver/mysql/decimal-numbers.test.ts
  test/github-issues/7067/entity/Order.ts
  test/github-issues/7067/entity/index.ts
  test/github-issues/7067/issue-7067.test.ts
Due: eslint, prettier --write

ci: index docs for 0.3 only
  .github/workflows/docsearch.yml
Due: none

fix: remove error handling for *-to-many in createPropertyPath
  src/query-builder/QueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint, prettier --write

feat!: drop support for node 16 and 18 (#11382)
  .github/workflows/tests-linux.yml
  .github/workflows/tests.yml
  README.md
  docs/docs/guides/8-migration-v1.md
  gulpfile.ts
  ormconfig.sample.json
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  src/driver/aurora-postgres/AuroraPostgresDriver.ts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/capacitor/CapacitorDriver.ts
  src/driver/cordova/CordovaDriver.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/repository/MongoRepository.ts
  test/functional/query-runner/stream.test.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

chore: update dependencies
  docs/package-lock.json
  package-lock.json
  package.json
  src/cli.ts
Due: eslint, prettier --write, sort-package-json

feat: Add table partitioning support for PostgreSQL, MySQL, and CockroachDB
  src/decorator/entity/Entity.ts
  src/decorator/options/EntityOptions.ts
  src/decorator/options/PartitionOptions.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/metadata-args/TableMetadataArgs.ts
  src/metadata/EntityMetadata.ts
  src/metadata/types/PartitionTypes.ts
  src/query-runner/QueryRunner.ts
  src/schema-builder/options/TableOptions.ts
  src/schema-builder/table/Table.ts
  test/functional/database-schema/partitioning/cockroachdb/partition-cockroachdb.test.ts
  test/functional/database-schema/partitioning/cockroachdb/partition-errors-cockroachdb.test.ts
  test/functional/database-schema/partitioning/entity/Measurement.ts
  test/functional/database-schema/partitioning/entity/Order.ts
  test/functional/database-schema/partitioning/entity/Product.ts
  test/functional/database-schema/partitioning/entity/Sale.ts
  test/functional/database-schema/partitioning/entity/User.ts
  test/functional/database-schema/partitioning/metadata-partition.test.ts
  test/functional/database-schema/partitioning/mysql/partition-errors-mysql.test.ts
  test/functional/database-schema/partitioning/mysql/partition-list-hash-mysql.test.ts
  test/functional/database-schema/partitioning/mysql/partition-range-mysql.test.ts
  test/functional/database-schema/partitioning/postgres/partition-errors-postgres.test.ts
  test/functional/database-schema/partitioning/postgres/partition-hash-postgres.test.ts
  test/functional/database-schema/partitioning/postgres/partition-list-postgres.test.ts
  test/functional/database-schema/partitioning/postgres/partition-range-postgres.test.ts
  test/functional/database-schema/partitioning/postgres/partition-validation-postgres.test.ts
  test/functional/database-schema/partitioning/table-partition-unit.test.ts
Due: eslint, prettier --write

chore: update chai (#11698)
  DEVELOPER.md
  package-lock.json
  package.json
  test/github-issues/3105/issue-3105.test.ts
  test/github-issues/3837/issue-3837.test.ts
  test/utils/test-setup.ts
  test/utils/xfail.ts
Due: eslint, prettier --write, sort-package-json

refactor!: replace glob with tinyglobby, remove rimraf (#11699)
  DEVELOPER.md
  docs/docs/guides/8-migration-v1.md
  docs/docs/help/1-faq.md
  gulpfile.ts
  package-lock.json
  package.json
  src/platform/BrowserDirectoryExportedClassesLoader.template
  src/util/DirectoryExportedClassesLoader.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.test.ts
  test/github-issues/799/issue-799.test.ts
Due: eslint, prettier --write, sort-package-json

feat: support explicit resource management in QueryRunner (#11701)
  docs/docs/query-runner.md
  src/driver/mongodb/MongoQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  src/query-runner/QueryRunner.ts
  test/functional/driver/sap/connection-pool.test.ts
  test/functional/query-runner/async-dispose.test.ts
  test/functional/query-runner/entity/Company.ts
  test/functional/query-runner/entity/Employee.ts
Due: eslint, prettier --write

ci: detect if package-lock.json is up to date and generated with correct npm version (#11827)
  .github/workflows/tests.yml
  package.json
Due: prettier --write, sort-package-json

refactor(mysql)!: drop support for mysql package and default to mysql2 (#11766)
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  docs/docs/drivers/mysql.md
  docs/docs/guides/8-migration-v1.md
  docs/docs/help/1-faq.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/mysql/MysqlDriver.ts
  src/platform/PlatformTools.ts
  test/github-issues/1551/issue-1551.test.ts
  test/github-issues/953/issue-953.test.ts
Due: eslint, prettier --write, sort-package-json

Use column onUpdate when auto-setting update timestamps
  src/decorator/options/ColumnOptions.ts
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint, prettier --write

Add test for UpdateDateColumn onUpdate
  test/functional/query-builder/update/entity/PostWithOnUpdate.ts
  test/functional/query-builder/update/query-builder-update.test.ts
Due: eslint, prettier --write

fix test for low precision drivers
  test/functional/query-builder/update/query-builder-update.test.ts
Due: eslint, prettier --write

update raws sequency
  test/functional/query-builder/update/query-builder-update.test.ts
Due: eslint, prettier --write

add delay
  test/functional/query-builder/update/query-builder-update.test.ts
Due: eslint, prettier --write

fix: include joined entity primary keys in pagination subquery (#11669)
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/query-builder/join/entity/CategoryWithCompositePK.ts
  test/functional/query-builder/join/entity/Post.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

feat: add GROUP BY support to repository.find()
  src/find-options/FindOneOptions.ts
  src/find-options/FindOptionsUtils.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/repository/find-options-groupby/entity/Sale.ts
  test/functional/repository/find-options-groupby/repository-find-options-groupby.test.ts
Due: eslint, prettier --write

chore: improve coverage reporting and import consistency
  .c8rc.json
  eslint.config.mjs
Due: prettier --write, sort-package-json

fix formatting
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

updated contribution guide
  CONTRIBUTING.md
Due: none

Add screenshots for documentation versioning PR
  docs/screenshots/screenshot-docs-main.png
  docs/screenshots/screenshot-next-version.png
  docs/screenshots/screenshot-v0.3-version.png
Due: none

Update screenshots with correct routes
  docs/screenshots/screenshot-docs-main.png
  docs/screenshots/screenshot-next-version.png
Due: none

Add version dropdown open screenshot
  docs/screenshots/screenshot-version-dropdown-open.png
Due: none

cleanup
  docs/screenshots/screenshot-docs-main.png
  docs/screenshots/screenshot-next-version.png
  docs/screenshots/screenshot-v0.3-version.png
  docs/screenshots/screenshot-version-dropdown-open.png
Due: none

docs: add docs backport guidance
  CONTRIBUTING.md
Due: none

cleanup
  CONTRIBUTING.md
Due: none

feat(postgres): add support for PostgreSQL indices (#11318)
  docs/docs/advanced-topics/3-indices.md
  src/decorator/Index.ts
  src/decorator/options/IndexOptions.ts
  src/driver/Driver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/metadata-args/IndexMetadataArgs.ts
  src/metadata/IndexMetadata.ts
  src/schema-builder/RdbmsSchemaBuilder.ts
  src/schema-builder/options/TableIndexOptions.ts
  src/schema-builder/options/TableIndexTypes.ts
  src/schema-builder/table/TableIndex.ts
  test/functional/indices/index-types/entity/User.ts
  test/functional/indices/index-types/entity/User2.ts
  test/functional/indices/index-types/entity/User3.ts
  test/functional/indices/index-types/entity/User4.ts
  test/functional/indices/index-types/entity/User5.ts
  test/functional/indices/index-types/postgresql/index-types-pg.ts
  test/functional/indices/index-types/sqlite/index-types-sqlite.ts
  test/github-issues/8459/issue-8459.test.ts
Due: eslint, prettier --write

chore: removed confusing part of doc.
  docs/docs/migrations/09-api.md
Due: none

fix(partition): add SQL injection protection, validation, and remove CockroachDB
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/postgres/PostgresPartitionUtils.ts
  src/driver/postgres/PostgresQueryRunner.ts
  test/functional/database-schema/partitioning/cockroachdb/partition-cockroachdb.test.ts
  test/functional/database-schema/partitioning/cockroachdb/partition-errors-cockroachdb.test.ts
  test/functional/database-schema/partitioning/entity/Product.ts
  test/functional/database-schema/partitioning/entity/Sale.ts
  test/functional/database-schema/partitioning/mysql/partition-errors-mysql.test.ts
  test/functional/database-schema/partitioning/mysql/partition-list-hash-mysql.test.ts
Due: eslint, prettier --write

test: adding test for named placeholder in mysql
  test/github-issues/8828/entity/ExampleEntity.ts
  test/github-issues/8828/issue-8828.test.ts
Due: eslint, prettier --write

updating docs for query
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/query-runner/QueryRunner.ts
Due: eslint, prettier --write

chore: removing .only from describe block
  test/github-issues/8828/issue-8828.test.ts
Due: eslint, prettier --write

docs: updating to include a bit about namedPlaceholders
  docs/docs/data-source/4-data-source-api.md
Due: none

test: clarifying test case
  test/github-issues/8828/issue-8828.test.ts
Due: eslint, prettier --write

fiix(redis): read version from package
  src/cache/RedisQueryResultCache.ts
  src/platform/PlatformTools.ts
  test/functional/cache/redis-query-result-cache.test.ts
  test/unit/cache/redis-query-result-cache.ts
  test/unit/platform/platform-tools.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
