Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

test: rename test and fix import statements
  test/github-issues/10952/issue-10952.test.ts
Due: eslint, prettier --write

style: fix formatting
  test/github-issues/10952/entity/dependency.ts
  test/github-issues/10952/entity/example.ts
Due: eslint, prettier --write

chore: rename test file
  test/github-issues/10999/issue-10999.test.ts
Due: eslint, prettier --write

test: run test for all databases
  test/github-issues/10999/issue-10999.test.ts
Due: eslint, prettier --write

Revert "test: run test for all databases"
  test/github-issues/10999/issue-10999.test.ts
Due: eslint, prettier --write

chore: remove comment
  test/github-issues/10999/issue-10999.test.ts
Due: eslint, prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: virtual property handling in schema builder (#11000)
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/10999/entity/entity-with-virtual-column.ts
  test/github-issues/10999/issue-10999.test.ts
  test/github-issues/10999/migration/1721739455264-init.ts
Due: eslint, prettier --write

Use updated pnpm lock file and upgrade stryker to ^9.4.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix(mongo): correctly process embedded arrays of nested documents (#10940)
  src/metadata/ColumnMetadata.ts
  test/functional/mongodb/basic/array-columns/entity/Color.ts
  test/functional/mongodb/basic/array-columns/entity/Counters.ts
  test/functional/mongodb/basic/array-columns/mongodb-array-columns.test.ts
Due: eslint, prettier --write

Use pnpm instead of npm for mutation testing
  .github/workflows/mutation-test.yml
  stryker.config.json
Due: prettier --write, sort-package-json

feat(postgres): use `ADD VALUE` when changing enum values if possible (#10956)
  src/driver/postgres/PostgresQueryRunner.ts
  src/util/OrmUtils.ts
  test/github-issues/10955/entity/Foo.ts
  test/github-issues/10955/entity/FooWithSpecialChars.ts
  test/github-issues/10955/issue-10955.test.ts
  test/github-issues/10955/migration/1719925118381-create-table-with-missing-values.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-different-name.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-extra-values.ts
  test/github-issues/10955/migration/1719925118383-create-table-with-special-chars-missing-values.ts
  test/unit/util/orm-utils.test.ts
Due: eslint, prettier --write

some pnpm corrections
  .github/workflows/mutation-test.yml
  stryker.config.json
Due: prettier --write, sort-package-json

test: add mutation testing and mutation score badge (#11253)
  .github/workflows/mutation-test.yml
  .github/workflows/test/mutation-testing.ormconfig.json
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  stryker.config.json
Due: prettier --write, sort-package-json

chore: remove extra space in README in badges
  README.md
Due: none

chore: rename test file
  test/github-issues/11421/issue-11421.test.ts
Due: eslint, prettier --write

fix: specify plugins for Stryker because we use pnpm
  stryker.config.json
Due: prettier --write, sort-package-json

fix: change import for process dependency (#11248)
  src/commands/MigrationRunCommand.ts
Due: eslint, prettier --write

chore(tests): adapt Stryker mutator to pnpm and fix markup in README for badges (#11893)
  README.md
  stryker.config.json
Due: prettier --write, sort-package-json

fix: build
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

fix(test): send only mutation score to the Stryker dashboard
  stryker.config.json
Due: prettier --write, sort-package-json

feat: add quote to CockroachDB query runner
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

test: add tests to cover all cases
  test/github-issues/10991/issue-10991.test.ts
  test/github-issues/10991/migrations/init.ts
Due: eslint, prettier --write

chore(tests): send only mutation score to the Stryker dashboard (#11895)
  stryker.config.json
Due: prettier --write, sort-package-json

test: fix test
  test/github-issues/10991/issue-10991.test.ts
Due: eslint, prettier --write

test: change tests
  test/github-issues/10991/issue-10991.test.ts
Due: eslint, prettier --write

test: fix test
  test/github-issues/10991/issue-10991.test.ts
  test/github-issues/10991/migrations/init.ts
Due: eslint, prettier --write

fix: fix working with tables with quotes in the names for postgres and cockroachdb (#10993)
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  test/github-issues/10991/issue-10991.test.ts
  test/github-issues/10991/migrations/init.ts
Due: eslint, prettier --write

fix: run linting
  test/other-issues/merge-entity-with-null/entity/Post.ts
  test/other-issues/merge-entity-with-null/merge-entity-with-null.test.ts
Due: eslint, prettier --write

test: rename file
  test/github-issues/11227/issue-11227.test.ts
Due: eslint, prettier --write

fix: run format
  src/query-builder/QueryBuilder.ts
Due: eslint, prettier --write

test: rename file
  test/github-issues/5719/issue-5719.test.ts
Due: eslint, prettier --write

chore: revert PlatformTools.ts changes
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

refactor: replace uuid with native Crypto API (#11769)
  package.json
  pnpm-lock.yaml
  src/cache/DbQueryResultCache.ts
  src/query-builder/InsertQueryBuilder.ts
  src/util/RandomGenerator.ts
  test/github-issues/10569/issue-10569.test.ts
Due: eslint, prettier --write, sort-package-json

test: rename file
  test/github-issues/10397/issue-10397.test.ts
Due: eslint, prettier --write

fix: prevent duplicate index generation in EntitySchema migrations
  src/metadata-args/MetadataArgsStorage.ts
  test/functional/entity-schema/indices/duplicate/duplicate-indices.test.ts
  test/functional/entity-schema/indices/duplicate/entity/Person.ts
  test/unit/metadata-args/MetadataArgsStorage.test.ts
Due: eslint, prettier --write

feat: address feedback - include the synchronize, expireAfterSeconds, and type properties in the comparison
  src/metadata-args/MetadataArgsStorage.ts
Due: eslint, prettier --write

feat: update the areIndexColumnsEqual function to handle cases where index columns are defined as objects
  src/metadata-args/MetadataArgsStorage.ts
Due: eslint, prettier --write
