Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

chore(ci): reorganize workflows
  .github/workflows/codeql.yml
  .github/workflows/commit-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/database-tests-compose.yml
  .github/workflows/publish-package.yml
  .github/workflows/test.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  docker-compose.yml
Due: none

chore(ci): prevent duplicate commit validation in PRs
  .github/workflows/commit-validation.yml
Due: none

code review fixes
  .github/workflows/codeql.yml
  .github/workflows/commit-validation.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
Due: none

code review #2
  .github/workflows/commit-validation.yml
  docker-compose.yml
Due: none

refactor: extract cloneObject util
  src/metadata-builder/RelationJoinColumnBuilder.ts
  src/util/OrmUtils.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

fix: improve cloneObject
  src/util/OrmUtils.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

split closure-table tests for MySQL-specific scenarios
  test/functional/tree-tables/closure-table/closure-table.ts
Due: eslint, prettier --write

remove redundant MySQL type checks from closure-table tests
  test/functional/tree-tables/closure-table/closure-table.ts
Due: eslint, prettier --write

move MySQL-specific closure-table tests to a separate file
  test/functional/tree-tables/closure-table/closure-table-mysql.ts
  test/functional/tree-tables/closure-table/closure-table.ts
Due: eslint, prettier --write

fix: test expectations
  test/other-issues/lazy-count/lazy-count.ts
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

test: transformed the test: add City, Country, and Order entities with composite foreign key relations,
  test/functional/metadata-builder/relation-join-column-builder/entity/City.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Country.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Order.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.ts
  test/github-issues/10121/entity/city.ts
  test/github-issues/10121/entity/estate.ts
  test/github-issues/10121/entity/pref.ts
  test/github-issues/10121/issue-10121.ts
Due: eslint, prettier --write

feat: support offset and skip
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/entity/Comment.ts
  test/other-issues/lazy-count/entity/Post.ts
  test/other-issues/lazy-count/lazy-count.ts
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

fix: clean post test model
  test/other-issues/lazy-count/entity/Post.ts
Due: eslint, prettier --write

fix: remove no longer necessary introduced method
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

fix(tree-entity): closure junction table primary key definition should match parent table (#11422)
  src/metadata-builder/ClosureJunctionEntityMetadataBuilder.ts
  test/functional/tree-tables/closure-table/closure-table-mysql.ts
  test/functional/tree-tables/closure-table/entity/Foo1.ts
  test/functional/tree-tables/closure-table/entity/Foo2.ts
  test/functional/tree-tables/closure-table/entity/Foo3.ts
Due: eslint, prettier --write

docs: add heading to Getting Started page
  docs/docs/getting-started.md
Due: none

docs: add heading to Getting Started page (#11531)
  docs/docs/getting-started.md
Due: none

fix: fix null pointer exception on date array column comparison
  src/persistence/SubjectChangedColumnsComputer.ts
  test/github-issues/5967/entity/User.ts
  test/github-issues/5967/issue-5967.ts
Due: eslint, prettier --write

clean test
  test/github-issues/5967/entity/User.ts
Due: eslint, prettier --write

test: change to composite primary key
  test/functional/metadata-builder/relation-join-column-builder/entity/City.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Company.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Country.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.ts
Due: eslint, prettier --write

fix: multiple relations with same column name(s) generate invalid SELECT statement (#11400)
  src/metadata-builder/RelationJoinColumnBuilder.ts
  src/util/OrmUtils.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/City.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Company.ts
  test/functional/metadata-builder/relation-join-column-builder/entity/Country.ts
  test/functional/metadata-builder/relation-join-column-builder/relation-join-column-builder.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

fix: fix null pointer exception on date array column comparison (#11532)
  src/persistence/SubjectChangedColumnsComputer.ts
  test/github-issues/5967/entity/User.ts
  test/github-issues/5967/issue-5967.ts
Due: eslint, prettier --write

chore(ci): simplify workflows (#11530)
  .github/workflows/codeql.yml
  .github/workflows/commit-validation.yml
  .github/workflows/coverage.yml
  .github/workflows/database-tests-compose.yml
  .github/workflows/publish-package.yml
  .github/workflows/test.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  docker-compose.yml
Due: none

fix: improve async calls on disconnect (#11523)
  package.json
  sample/playground/package-lock.json
  sample/playground/package.json
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mongodb/MongoDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/driver/postgres/connection-options.ts
  test/functional/query-builder/convert-to-entity/convert-to-entity.ts
  test/functional/query-builder/convert-to-entity/entity/Post.ts
  test/github-issues/320/issue-320.ts
Due: eslint, prettier --write, sort-package-json

chore: Release 0.3.25
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: Release 0.3.25 (#11535)
  CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

chore: Remove manual trigger on publish workflow
  .github/workflows/publish-package.yml
Due: none

fix(oracle): pass duplicated parameters correctly to the client when executing a query
  ormconfig.sample.json
  src/driver/oracle/OracleDriver.ts
  test/functional/query-builder/parameters/entity/Person.ts
  test/functional/query-builder/parameters/reused-parameters.ts
  test/functional/query-builder/parameters/sqlite-parameters.ts
  test/github-issues/7308/entity/weather.ts
  test/github-issues/7308/issue-7308.ts
Due: eslint, prettier --write, sort-package-json

chore: Remove manual trigger on publish workflow (#11536)
  .github/workflows/publish-package.yml
Due: none

feat(sap): use the native driver for connection pooling
  README-zh_CN.md
  README.md
  README_ko.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/getting-started.md
  package-lock.json
  package.json
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/platform/PlatformTools.ts
  test/functional/driver/sap/connection-pool.ts
Due: eslint, prettier --write, sort-package-json

test(ci): force mocha to exit on stuck process
  .mocharc.json
Due: prettier --write, sort-package-json

fix: do not include already user defined junction tables in entityMetaData
  package-lock.json
  src/metadata-builder/EntityMetadataBuilder.ts
  test/github-issues/10412/entity/entities.ts
  test/github-issues/10412/issue-10412.ts
Due: eslint, prettier --write, sort-package-json

fix: use Promise.all() for parallel operations
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  test/functional/query-runner/create-foreign-keys.ts
  test/functional/query-runner/create-indices.ts
  test/functional/query-runner/create-unique-constraints.ts
  test/functional/query-runner/drop-foreign-keys.ts
  test/functional/query-runner/drop-indices.ts
  test/functional/query-runner/drop-unique-constraints.ts
Due: eslint, prettier --write

test(ci): force mocha to exit on stuck process (#11538)
  .mocharc.json
Due: prettier --write, sort-package-json

fix(oracle): pass duplicated parameters correctly to the client when executing a query (#11537)
  ormconfig.sample.json
  src/driver/oracle/OracleDriver.ts
  test/functional/query-builder/parameters/entity/Person.ts
  test/functional/query-builder/parameters/reused-parameters.ts
  test/functional/query-builder/parameters/sqlite-parameters.ts
  test/github-issues/7308/entity/weather.ts
  test/github-issues/7308/issue-7308.ts
Due: eslint, prettier --write, sort-package-json

fix: enable no-misused-promises
  eslint.config.mjs
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/persistence/SubjectExecutor.ts
  test/functional/connection/connection.ts
  test/github-issues/1716/entity/mariadbEntity.ts
  test/github-issues/1716/issue-1716.ts
  test/github-issues/3158/issue-3158.ts
  test/github-issues/3588/issue-3588.ts
  test/github-issues/8892/issue-8892.ts
  test/github-issues/8970/issue-8970.ts
  test/utils/xfail.ts
Due: eslint, prettier --write

fix: enable await-thenable
  eslint.config.mjs
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/entity-manager/MongoEntityManager.ts
  test/functional/columns/value-transformer/value-transformer.ts
  test/functional/custom-repository/custom-repository.test.ts
  test/functional/query-builder/brackets/query-builder-brackets.ts
  test/functional/query-builder/cte/materialized-cte.ts
  test/functional/query-builder/not/query-builder-not.ts
  test/functional/query-builder/subquery/query-builder-subquery.ts
  test/functional/query-builder/time-travel-query/time-travel-query.ts
  test/github-issues/10626/issue-10626.ts
  test/github-issues/11085/issue-11085.ts
  test/github-issues/11085/subscriber/UserSubscriber.ts
  test/github-issues/1805/issue-1805.ts
  test/github-issues/2965/index.ts
  test/github-issues/4220/issue-4220.ts
  test/github-issues/4958/issue-4958.ts
  test/github-issues/5067/issue-5067.ts
  test/github-issues/7203/issue-7203.ts
  test/github-issues/8026/issue-8026.ts
  test/github-issues/9049/issue-9049.ts
Due: eslint, prettier --write

fix: enable no-floating-promises
  eslint.config.mjs
  sample/sample16-indexes/app.ts
  sample/sample17-versioning/app.ts
  src/cli.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/query-builder/RelationLoader.ts
  src/query-runner/QueryLock.ts
  test/github-issues/11440/issue-11440.ts
  test/github-issues/5119/issue-5119.ts
  test/github-issues/6168/issue-6168.ts
  test/github-issues/799/issue-799.ts
  test/github-issues/8832/issue-8832.ts
Due: eslint, prettier --write
