Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

supportedIndexTypes as an array & move error check to IndexMetadata
  src/driver/Driver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/metadata/IndexMetadata.ts
Due: eslint, prettier --write

throw error when type is defined and supportedIndexTypes is not defined
  src/driver/postgres/PostgresQueryRunner.ts
  src/metadata/IndexMetadata.ts
Due: eslint, prettier --write

separate tests in separate files
  test/functional/indices/index-types/postgresql/index-types-pg.ts
  test/functional/indices/index-types/sqlite/index-types-sqlite.ts
Due: eslint, prettier --write

fix test
  test/github-issues/8459/issue-8459.ts
Due: eslint, prettier --write

fix test path
  test/functional/indices/index-types/postgresql/index-types-pg.ts
Due: eslint, prettier --write

feat(mysql): add pool size options for each connection (#11810)
  src/driver/mysql/MysqlConnectionCredentialsOptions.ts
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

docs: add missing mysql props
  docs/docs/drivers/mysql.md
Due: none

feat:add utc flag to date column (#11740)
  docs/docs/entity/1-entities.md
  src/decorator/options/ColumnOptions.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/metadata/ColumnMetadata.ts
  src/util/DateUtils.ts
  test/functional/columns/date-utc/date-utc.ts
  test/functional/columns/date-utc/entity/Event.ts
Due: eslint, prettier --write

docs(mysql): add missing mysql credential options (#11813)
  docs/docs/drivers/mysql.md
Due: none

docs: update docs about test file creation
  .github/PULL_REQUEST_TEMPLATE.md
  DEVELOPER.md
Due: none

test: fix issues after renaming test files
  .c8rc.json
  .mocharc.json
  test/benchmark/bulk-sql-build/bulk-sql-build.test.ts
  test/functional/view-entity/view-dependencies/view-entity-dependencies.test.ts
  test/github-issues/6195/issue-6195.test.ts
  test/github-issues/6195/migrations/MigrationToFakeRun.ts
  test/github-issues/8522/issue-8522.test.ts
Due: eslint, prettier --write, sort-package-json

npm i
  package-lock.json
Due: prettier --write, sort-package-json

Update src/platform/PlatformTools.ts
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

trying to find golden mean
  .github/workflows/mutation-test.yml
  .github/workflows/test/mutation-testing.ormconfig.json
Due: prettier --write, sort-package-json

remove mochaOptions for stryker
  stryker.config.json
Due: prettier --write, sort-package-json

Enable pg, mysql and mariadb for mutation testing
  .github/workflows/mutation-test.yml
  .github/workflows/test/mutation-testing.ormconfig.json
Due: prettier --write, sort-package-json

chore: prettier after last conflict merge
  test/utils/test-utils.ts
Due: eslint, prettier --write

refactor: use pragma method in better-sqlite3 (#10684)
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/better-sqlite3/BetterSqlite3QueryRunner.ts
Due: eslint, prettier --write

ci: fix indexing docs
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

tests: add pagination tests for leftJoin without primary key
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

fix: include joined entity primary keys in pagination subquery
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
  test/github-issues/11662/entity/Post.ts
  test/github-issues/11662/entity/User.ts
  test/github-issues/11662/issue-11662.ts
Due: eslint, prettier --write

fix: include joined entity primary keys in pagination subquery
  test/github-issues/11662/entity/Post.ts
  test/github-issues/11662/entity/User.ts
  test/github-issues/11662/issue-11662.ts
Due: eslint, prettier --write

fix(mongodb): add missing findBy method to MongoEntityManager (#10264)
  src/entity-manager/MongoEntityManager.ts
  test/functional/mongodb/basic/mongo-repository/mongo-repository.test.ts
Due: eslint, prettier --write

Limit resources for mutation testing for GHA runner to not disconnect
  stryker.config.json
Due: prettier --write, sort-package-json

fix: remove error handling for *-to-many in createPropertyPath
  src/query-builder/QueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint, prettier --write

"concurrency": 6
  stryker.config.json
Due: prettier --write, sort-package-json

fix: Bug in detectRedisVersion
  src/cache/RedisQueryResultCache.ts
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

chore(redis): update comments in redis detection logic
  src/cache/RedisQueryResultCache.ts
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

chore(redis): add unit tests for redis version checks
  test/unit/cache/redis-query-result-cache.ts
  test/unit/platform/platform-tools.ts
Due: eslint, prettier --write

fix(mongodb): add missing `findBy` method to MongoEntityManager (#11814)
  src/entity-manager/MongoEntityManager.ts
  test/functional/mongodb/basic/mongo-repository/mongo-repository.test.ts
Due: eslint, prettier --write

fix(redis): version detection logic (#11815)
  src/cache/RedisQueryResultCache.ts
  src/platform/PlatformTools.ts
  test/unit/cache/redis-query-result-cache.ts
  test/unit/platform/platform-tools.ts
Due: eslint, prettier --write

chore: release v0.3.28
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: quality column names in aggregate methods to avoid ambiguous references
  src/entity-manager/EntityManager.ts
  test/functional/repository/aggregate-methods-with-relations/entity/Author.ts
  test/functional/repository/aggregate-methods-with-relations/entity/Post.ts
  test/functional/repository/aggregate-methods-with-relations/repository-aggregate-methods-with-relations.test.ts
  test/github-issues/11797/entity/VoterFileSnapshot.ts
  test/github-issues/11797/entity/VoterRecord.ts
  test/github-issues/11797/issue-11797.test.ts
Due: eslint, prettier --write

fix: resolve ambiguous column references in aggregate methods and make tests stricter
  src/entity-manager/EntityManager.ts
  test/functional/repository/aggregate-methods-with-relations/repository-aggregate-methods-with-relations.test.ts
Due: eslint, prettier --write

fix: improve query builder usage in aggregate methods for clarity
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

chore: release v0.3.28 (#11816)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: remove tests specific to issue #11797
  test/github-issues/11797/entity/VoterFileSnapshot.ts
  test/github-issues/11797/entity/VoterRecord.ts
  test/github-issues/11797/issue-11797.test.ts
Due: eslint, prettier --write

v0.3.28
  typeorm-thumbnail-variant2.svg
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
