Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

docs: correct typo in getting started (#11932)
  README.md
  docs/docs/getting-started.md
Due: none

chore: update partitioning docs
  docs/docs/entity/1-entities.md
  docs/docs/entity/7-table-partitioning.md
Due: none

fix: add error handling for json parsing
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  test/functional/repository/find-options-operators/repository-find-operators.test.ts
Due: eslint, prettier --write

feat(sqlite): implement jsonb support in SQLite with appropriate handling and tests
  docs/docs/drivers/sqlite.md
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/functional/json/basic-jsonb/basic-jsonb.test.ts
  test/functional/json/basic-jsonb/sqlite-jsonb.test.ts
  test/functional/json/jsonb-defaults/jsonb-defaults.test.ts
  test/functional/repository/find-options-operators/repository-find-operators.test.ts
Due: eslint, prettier --write

test: skip tests for jsonb in sqlite due to package limitations
  test/functional/database-schema/column-types/sqlite/column-types-sqlite.test.ts
Due: eslint, prettier --write

feat(sqlite): add support for jsonb column type in SQLite and update related tests
  docs/docs/drivers/sqlite.md
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/sqlite/column-types-sqlite.test.ts
  test/functional/database-schema/column-types/sqlite/entity/Post.ts
  test/functional/json/basic-jsonb/basic-jsonb.test.ts
  test/functional/json/jsonb-defaults/jsonb-defaults.test.ts
Due: eslint, prettier --write

fix: enhance default value handling for json and jsonb columns in Postgres and SQLite drivers
  src/driver/postgres/PostgresDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
Due: eslint, prettier --write

chore(qodo): disable in progress notification in v0.3 (#11928)
  .pr_agent.toml
Due: none

Fix entities array syntax in configuration
  docs/docs/entity/1-entities.md
Due: none

init command fixes
  src/commands/InitCommand.ts
Due: eslint, prettier --write

fix: handle jsonb in query builder
  docs/docs/drivers/sqlite.md
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint, prettier --write

fix(query-builder): resolve column lookup when using database column name in addOrderBy (#11904)
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/order-by/entity/Comment.ts
  test/functional/query-builder/order-by/entity/Post.ts
  test/functional/query-builder/order-by/query-builder-order-by.test.ts
Due: eslint, prettier --write

docs: ensure consistent plural form for folder names (entities, migrations, etc) (#11903)
  docs/docs/data-source/1-data-source.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/3-multiple-data-sources.md
  docs/docs/entity/1-entities.md
  docs/docs/entity/5-view-entities.md
  docs/docs/getting-started.md
  docs/docs/guides/4-example-with-express.md
  docs/docs/guides/5-usage-with-javascript.md
  docs/docs/help/1-faq.md
  docs/docs/migrations/02-setup.md
  src/commands/InitCommand.ts
  test/github-issues/8747/issue-8747.test.ts
Due: eslint, prettier --write

refactor: remove buffer dependency and update typings
  package.json
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/mongodb/typings.ts
Due: eslint, prettier --write, sort-package-json

refactor: uint8array utils performance refactor
  src/util/Uint8ArrayUtils.ts
Due: eslint, prettier --write

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none

fix(redis): redis cache version detection
  src/cache/RedisQueryResultCache.ts
  test/unit/cache/redis-query-result-cache.ts
Due: eslint, prettier --write

test: rename file 🍍
  test/github-issues/10856/issue-10856.test.ts
Due: eslint, prettier --write

fix: bind Buffer parameters using the correct Oracle type
  src/driver/oracle/OracleQueryRunner.ts
  test/functional/database-schema/column-types/oracle/column-types-oracle.test.ts
Due: eslint, prettier --write

few more fixes
  .github/workflows/mutation-test.yml
  .github/workflows/pull-request.yml
  .pr_agent.toml
  .prettierrc.js
  .prettierrc.json
  docs/docs/advanced-topics/3-indices.md
  docs/docs/drivers/mysql.md
  docs/docs/drivers/postgres.md
  docs/docs/drivers/sap.md
  docs/src/css/custom.css
Due: prettier --write, sort-package-json

update ignore
  .prettierignore
Due: none

fix: create method should not reload relations when entity already loaded
  src/metadata/RelationMetadata.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
Due: eslint, prettier --write

fix: update logic for embedded entities lazy loading
  docs/docs/relations/5-eager-and-lazy-relations.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  src/metadata/RelationMetadata.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/embedded-lazy-relation.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Author.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Post.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Profile.ts
Due: eslint, prettier --write

test: add test to confirm relationLoader works as usual
  docs/docs/relations/5-eager-and-lazy-relations.md
  src/metadata/RelationMetadata.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
Due: eslint, prettier --write

ci(docs): use pull_request_target and pnpm only
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): use pull_request_target and npm only
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): target master branch
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): target v0.3 branch
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): use npm ci for cleaner installs
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): skip deploy on forks
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

fix: handle relation ids in nested embedded entities
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/columns/embedded-columns/columns-embedded-columns.test.ts
  test/functional/columns/embedded-columns/entity/Account.ts
  test/functional/columns/embedded-columns/entity/Department.ts
  test/functional/columns/embedded-columns/entity/Parent.ts
Due: eslint, prettier --write

ci(docs): add cache-dependency-path for pnpm
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): add cache-dependency-path for npm
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): use push trigger for secure deployment
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

ci(docs): remove redundant fork check, add concurrency
  .github/workflows/deploy-docs-cloudflare-pages.yml
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
