Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

docs(performance): add database-specific EXPLAIN examples with tabbed UI
  docs/docs/performance-optimization/3-using-indexes.mdx
  docs/docs/performance-optimization/3-using-indices.md
  docs/redirects.ts
  docs/src/components/tabs/database-tabs.tsx
Due: eslint --fix, prettier --write

fix(docs): correct redirect path for renamed using-indexes page
  docs/redirects.ts
Due: eslint --fix, prettier --write

fix(docs): remove duplicate redirect with incorrect path prefix
  docs/redirects.ts
Due: eslint --fix, prettier --write

docs: add SVG database icons and increase tab icon size
  docs/src/components/tabs/database-tabs.tsx
  docs/static/img/databases/cockroachdb.svg
  docs/static/img/databases/mariadb.svg
  docs/static/img/databases/mongodb.svg
  docs/static/img/databases/mssql.svg
  docs/static/img/databases/mysql.svg
  docs/static/img/databases/oracle.svg
  docs/static/img/databases/postgresql.svg
  docs/static/img/databases/sap.svg
  docs/static/img/databases/spanner.svg
  docs/static/img/databases/sqlite.svg
Due: none

docs: optimize SVG database icons and use them on homepage
  docs/src/pages/index.tsx
  docs/static/img/databases/cockroachdb.svg
  docs/static/img/databases/mariadb.svg
  docs/static/img/databases/mongodb.svg
  docs/static/img/databases/mssql.svg
  docs/static/img/databases/mysql.svg
  docs/static/img/databases/oracle.svg
  docs/static/img/databases/postgresql.svg
  docs/static/img/databases/sap.svg
  docs/static/img/databases/spanner.svg
  docs/static/img/databases/sqlite.svg
Due: none

docs: remove PNG database icons replaced by SVGs
  docs/static/img/databases/cockroachdb.png
  docs/static/img/databases/mariadb.png
  docs/static/img/databases/mongodb.png
  docs/static/img/databases/mssql.png
  docs/static/img/databases/mysql.png
  docs/static/img/databases/oracle.png
  docs/static/img/databases/postgresql.png
  docs/static/img/databases/sap.png
  docs/static/img/databases/sqlite.png
Due: none

fix(docs): restore missing viewBox on MariaDB, MongoDB, and SAP HANA SVGs
  docs/static/img/databases/mariadb.svg
  docs/static/img/databases/mongodb.svg
  docs/static/img/databases/sap.svg
Due: none

docs: auto-inject database name heading and hover tooltip in tabs
  docs/src/components/tabs/database-tabs.tsx
Due: none

style(docs): format with prettier
  docs/docs/performance-optimization/3-using-indexes.mdx
  docs/src/components/tabs/database-tabs.tsx
Due: none

fix(docs): update links from indices.md to indexes.md
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

fix(cascade): skip cascade remove for subjects without identifiers
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  src/persistence/subject-builder/CascadesSubjectBuilder.ts
Due: eslint --fix, prettier --write

docs(relations): add cascade remove note about loading relations
  docs/docs/relations/1-relations.md
Due: prettier --write

fix(test): exclude SQLite from composite PK autoincrement test
  test/functional/cascades/cascade-save-shared-pk/cascade-save-shared-pk.test.ts
Due: eslint --fix, prettier --write

fix(test): use UUID primary key to support all databases in cascade test
  test/functional/cascades/cascade-save-shared-pk/cascade-save-shared-pk.test.ts
  test/functional/cascades/cascade-save-shared-pk/entity/Foo.ts
Due: eslint --fix, prettier --write

fix(test): remove explicit integer type to support all drivers including Spanner
  test/functional/cascades/cascade-save-insert-vs-update/entity/ValidationModel.ts
Due: eslint --fix, prettier --write

fix: use configured logger for CLI output
  src/commands/CacheClearCommand.ts
  src/commands/CommandUtils.ts
  src/commands/MigrationGenerateCommand.ts
  src/commands/QueryCommand.ts
  src/commands/SchemaDropCommand.ts
  src/commands/SchemaLogCommand.ts
  src/commands/SchemaSyncCommand.ts
  test/unit/commands/command-utils.test.ts
Due: eslint --fix, prettier --write

fix(sap): include identity column in INSERT to avoid unsupported DEFAULT VALUES syntax
  src/query-builder/InsertQueryBuilder.ts
Due: eslint --fix, prettier --write

fix: preserve CLI fallback for filtered loggers
  docs/docs/logging.md
  src/commands/CommandUtils.ts
  src/commands/SchemaLogCommand.ts
  test/unit/commands/command-utils.test.ts
Due: eslint --fix, prettier --write

Revert "fix(sap): include identity column in INSERT to avoid unsupported DEFAULT VALUES syntax"
  src/query-builder/InsertQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(test): exclude SAP HANA from cascade insert-vs-update test
  test/functional/cascades/cascade-save-insert-vs-update/cascade-save-insert-vs-update.test.ts
Due: eslint --fix, prettier --write

fix(sap): generate explicit DEFAULT for identity column instead of unsupported DEFAULT VALUES
  src/query-builder/InsertQueryBuilder.ts
  test/functional/cascades/cascade-save-insert-vs-update/cascade-save-insert-vs-update.test.ts
Due: eslint --fix, prettier --write

fix(sap): use GENERATED BY DEFAULT instead of ALWAYS for identity columns
  src/driver/sap/SapQueryRunner.ts
Due: eslint --fix, prettier --write

fix(migration): resolve conflicts
  test/functional/schema-builder/change-column.test.ts
  test/github-issues/10493/issue-10493.test.ts
Due: eslint --fix, prettier --write

test: resolve change-column test path conflict with master
  test/functional/schema-builder/column/change/change-column/change-column.test.ts
  test/functional/schema-builder/column/change/change-column/entity/Faculty.ts
  test/functional/schema-builder/column/change/change-column/entity/Post.ts
  test/functional/schema-builder/column/change/change-column/entity/PostVersion.ts
  test/functional/schema-builder/column/change/change-column/entity/Student.ts
  test/functional/schema-builder/column/change/change-column/entity/Teacher.ts
Due: eslint --fix, prettier --write

fix(test): add column to MainModel to avoid SAP HANA identity-only table limitation
  src/query-builder/InsertQueryBuilder.ts
  test/functional/cascades/cascade-save-insert-vs-update/entity/MainModel.ts
Due: eslint --fix, prettier --write

fix(test): make extra column nullable and add comment explaining SAP HANA limitation
  test/functional/cascades/cascade-save-insert-vs-update/entity/MainModel.ts
Due: eslint --fix, prettier --write

fix(test): add assertions to verify cascade update-vs-insert behavior
  test/functional/cascades/cascade-save-insert-vs-update/cascade-save-insert-vs-update.test.ts
Due: eslint --fix, prettier --write

docs(sap): add comment explaining GENERATED BY DEFAULT vs ALWAYS choice
  src/driver/sap/SapQueryRunner.ts
Due: eslint --fix, prettier --write

style(eslint): enable prefer-nullish-coalescing and prefer-string-starts-ends-with rules
  eslint.config.mjs
Due: prettier --write

style: replace ternary with nullish coalescing in sample code
  sample/sample10-mixed/app.ts
  sample/sample13-everywhere-abstraction/app.ts
  sample/sample24-schemas/app.ts
  sample/sample5-subscribers/app.ts
  sample/sample6-abstract-table/app.ts
  sample/sample7-pagination/app.ts
  sample/sample8-self-referencing/app.ts
  sample/sample9-entity-listeners/app.ts
Due: eslint --fix, prettier --write

fix(aurora): implement transaction isolation level support for Data API drivers
  docs/docs/transactions.md
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/aurora-postgres/AuroraPostgresDriver.ts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
Due: eslint --fix, prettier --write

fix(docs): update broken link to transactions page after directory restructuring
  docs/docs/drivers/microsoft-sqlserver.md
Due: prettier --write

fix(spanner): implement transaction isolation level support
  docs/docs/transactions.md
  src/driver/spanner/SpannerDriver.ts
  src/driver/spanner/SpannerQueryRunner.ts
Due: eslint --fix, prettier --write

docs: add CockroachDB isolation level cluster settings note
  docs/docs/transactions.md
Due: prettier --write

fix: guard against missing supportedIsolationLevels in custom drivers
  src/driver/validate-isolation-level.ts
Due: eslint --fix, prettier --write

fix(eslint): drop prefer-nullish-coalescing rule (642 unfixable violations)
  eslint.config.mjs
Due: prettier --write

fix: escape identifiers in useIndex() and setLock lockTables to prevent SQL injection
  src/query-builder/SelectQueryBuilder.ts
  test/github-issues/12333/entity/Post.ts
  test/github-issues/12333/issue-12333.test.ts
Due: eslint --fix, prettier --write

fix: preserve bigint string type in single JoinColumn getEntityValueMap path
  src/metadata/ColumnMetadata.ts
Due: eslint --fix, prettier --write
