Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

fix(postgres): handle re-save of postgres geometric types
  src/driver/postgres/PostgresDriver.ts
  test/functional/spatial/postgres/entity/GeometryEntity.ts
  test/functional/spatial/postgres/geometric-spatial.test.ts
  test/functional/spatial/postgres/postgis-spatial.test.ts
Due: eslint, prettier --write

fix: avoid update options export conflict
  src/entity-manager/EntityManager.ts
  src/index.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  src/repository/RepositoryUpdateOptions.ts
Due: eslint, prettier --write

cleanup
  src/index.ts
Due: eslint, prettier --write

refactor: rename repository update options
  src/entity-manager/EntityManager.ts
  src/index.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  src/repository/UpdateOptions.ts
Due: eslint, prettier --write

revert unecessary change
  src/error/ReturningStatementNotSupportedError.ts
Due: eslint, prettier --write

feat: add repository returning options
  CHANGELOG.md
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/entity-manager/EntityManager.ts
  src/error/ReturningStatementNotSupportedError.ts
  src/index.ts
  src/query-builder/ReturningOption.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  src/repository/UpdateOptions.ts
  src/repository/UpsertOptions.ts
  test/functional/repository/returning/repository-returning.ts
Due: eslint, prettier --write

cleanup
  test/functional/repository/returning/entity/User.ts
  test/functional/repository/returning/repository-returning.ts
Due: eslint, prettier --write

added update all tests
  test/functional/repository/returning/repository-returning.ts
Due: eslint, prettier --write

cleanup
  CHANGELOG.md
Due: none

fix type
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint, prettier --write

cleanup
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/spanner/SpannerDriver.ts
Due: eslint, prettier --write

lint
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

fix: remove old expo driver
  src/driver/DriverFactory.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/ExpoDriverFactory.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/expo/legacy/ExpoLegacyQueryRunner.ts
Due: eslint, prettier --write

docs: update v1 migration guide for expo driver
  docs/docs/guides/8-migration-v1.md
Due: none

refactor!: remove legacy expo driver (#11860)
  docs/docs/guides/8-migration-v1.md
  src/driver/DriverFactory.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/ExpoDriverFactory.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/expo/legacy/ExpoLegacyQueryRunner.ts
Due: eslint, prettier --write

fix(cockroachdb): preserve structured results on txn retry
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

docs: add version dropdown linking stable/dev sites
  docs/docusaurus.config.ts
Due: eslint, prettier --write

docs(v0.3): add version dropdown (stable/dev) (#11863)
  docs/docusaurus.config.ts
Due: eslint, prettier --write

fix(cockroachdb): preserve structured query results during txn retry replay (#11861)
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

initial commit
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/data-source/BaseDataSourceOptions.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/find-options/empty-properties/find-options-empty-properties.test.ts
  test/functional/null-undefined-handling/find-options.test.ts
Due: eslint, prettier --write

fix build
  test/functional/null-undefined-handling/find-options.test.ts
Due: eslint, prettier --write

cleanup
  test/functional/find-options/empty-properties/entity/Post.ts
  test/functional/find-options/empty-properties/find-options-empty-properties.test.ts
Due: eslint, prettier --write

refactor: remove shajs
  package-lock.json
  package.json
  src/util/RandomGenerator.ts
  src/util/StringUtils.ts
  test/unit/util/string-utils.test.ts
Due: eslint, prettier --write, sort-package-json

fix: package-lock
  package-lock.json
Due: prettier --write, sort-package-json

test: add more tests for the hashing functions
  test/unit/util/string-utils.test.ts
Due: eslint, prettier --write

refactor: conditional importing of crypto
  docs/docs/guides/8-migration-v1.md
  src/util/StringUtils.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

fix: build
  test/utils/test-setup.ts
Due: eslint, prettier --write

fix: tests
  src/util/StringUtils.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

revert: changes to test-setup
  test/utils/test-setup.ts
Due: eslint, prettier --write

fix(sqlite): handle simple-enum arrays correctly
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/util/DateUtils.ts
  test/functional/database-schema/simple-enums-array/enums-array.test.ts
Due: eslint, prettier --write

docs: add version dropdown (stable/dev) to master (#11862)
  docs/docusaurus.config.ts
Due: eslint, prettier --write

feat: support cascade truncate in clear() method
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/entity-manager/EntityManager.ts
  src/query-runner/QueryRunner.ts
  src/repository/BaseEntity.ts
  src/repository/Repository.ts
  test/functional/repository/clear-cascade/oracle/clear-cascade.test.ts
  test/functional/repository/clear-cascade/oracle/entity/Child.ts
  test/functional/repository/clear-cascade/oracle/entity/ChildNoDelete.ts
  test/functional/repository/clear-cascade/oracle/entity/Parent.ts
  test/functional/repository/clear-cascade/postgres/clear-cascade.test.ts
  test/functional/repository/clear-cascade/postgres/entity/Child.ts
  test/functional/repository/clear-cascade/postgres/entity/Parent.ts
Due: eslint, prettier --write

docs: document cascade support for clear() and clearTable()
  docs/docs/migrations/09-api.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: none

refactor: update tests and move validation before query runner creation logic
  src/entity-manager/EntityManager.ts
  test/functional/repository/clear-cascade/oracle/clear-cascade-oracle.test.ts
  test/functional/repository/clear-cascade/postgres/clear-cascade-postgres.test.ts
Due: eslint, prettier --write

fix(sap): `QueryBuilder` parameter of type JS `Date` not escaped correctly
  docker-compose.yml
  src/driver/sap/SapDriver.ts
  test/functional/query-builder/parameters/date-parameters.test.ts
  test/functional/query-builder/parameters/entity/Product.ts
Due: eslint, prettier --write
