Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: second dummy commit
  test-dummy.txt
Due: none

docs(codemod): add external test reports for 17 real-world projects
  packages/codemod/docs/tests/v1.md
  packages/codemod/docs/tests/v1/awesome-nest-boilerplate.md
  packages/codemod/docs/tests/v1/cool-admin-midway.md
  packages/codemod/docs/tests/v1/ever-gauzy.md
  packages/codemod/docs/tests/v1/foal.md
  packages/codemod/docs/tests/v1/genal-chat.md
  packages/codemod/docs/tests/v1/ghostfolio.md
  packages/codemod/docs/tests/v1/hoppscotch.md
  packages/codemod/docs/tests/v1/mili.md
  packages/codemod/docs/tests/v1/nest-admin.md
  packages/codemod/docs/tests/v1/nestjs-boilerplate.md
  packages/codemod/docs/tests/v1/nestjs-realworld-example-app.md
  packages/codemod/docs/tests/v1/nestjsx-crud.md
  packages/codemod/docs/tests/v1/prime.md
  packages/codemod/docs/tests/v1/twenty.md
  packages/codemod/docs/tests/v1/typeorm-express-typescript.md
  packages/codemod/docs/tests/v1/vendure-master.md
  packages/codemod/docs/tests/v1/vendure-minor.md
  packages/codemod/docs/tests/v1/vendure.md
Due: prettier --write

fix(codemod): address SonarCloud code quality issues
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/src/cli/run-dependencies.ts
  packages/codemod/src/cli/run-transforms.ts
  packages/codemod/src/lib/highlight.ts
  packages/codemod/src/transforms/v1/find-options-string-relations.ts
Due: eslint --fix, prettier --write

fix(ci): combine preview jobs into single pkg-pr-new publish call
  .github/workflows/preview.yml
Due: prettier --write

test(codemod): improve use-container test fixture with realistic context
  packages/codemod/src/transforms/v1/use-container.ts
  packages/codemod/test/transforms/v1/fixtures/use-container/use-container.input.ts
  packages/codemod/test/transforms/v1/fixtures/use-container/use-container.output.ts
Due: eslint --fix, prettier --write

chore(codemod): remove publish:preview scripts in favor of CI workflow
  package.json
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
Due: prettier --write

test(codemod): use await instead of void in transformer test
  packages/codemod/test/transforms/transformer.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): reduce cognitive complexity in print-summary and upgrade modules
  packages/codemod/src/cli/print-summary.ts
  packages/codemod/src/dependencies/upgrade.ts
Due: eslint --fix, prettier --write

fix(codemod): scope datasource-sap transform to files importing from typeorm
  packages/codemod/src/transforms/v1/datasource-sap.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sap/datasource-sap.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sap/datasource-sap.output.ts
Due: eslint --fix, prettier --write

fix(codemod): scope datasource-mssql-domain transform to files importing from typeorm
  packages/codemod/src/transforms/v1/datasource-mssql-domain.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mssql-domain/datasource-mssql-domain.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mssql-domain/datasource-mssql-domain.output.ts
Due: eslint --fix, prettier --write

fix(codemod): skip non-standard version specifiers in dependency upgrades
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/test/dependencies/upgrade.test.ts
Due: eslint --fix, prettier --write

test(codemod): reorganize tests to match src structure and add missing coverage
  packages/codemod/test/lib/colors.test.ts
  packages/codemod/test/lib/error.test.ts
  packages/codemod/test/lib/format-time.test.ts
  packages/codemod/test/lib/highlight.test.ts
  packages/codemod/test/transforms/stats.test.ts
Due: eslint --fix, prettier --write

fix(codemod): add TODO comment for unresolved dataSource variable in global-functions transform
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/test/transforms/v1/fixtures/global-functions/global-functions.output.ts
Due: eslint --fix, prettier --write

fix(codemod): report non-standard version specifiers as errors instead of warnings
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/test/dependencies/upgrade.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): deduplicate repeated lines and reorder errors before warnings in summary
  packages/codemod/src/cli/print-summary.ts
Due: eslint --fix, prettier --write

docs(codemod): update external test reports with latest results and cleaned output
  packages/codemod/docs/tests/v1.md
  packages/codemod/docs/tests/v1/awesome-nest-boilerplate.md
  packages/codemod/docs/tests/v1/cool-admin-midway.md
  packages/codemod/docs/tests/v1/ever-gauzy.md
  packages/codemod/docs/tests/v1/foal.md
  packages/codemod/docs/tests/v1/genal-chat.md
  packages/codemod/docs/tests/v1/ghostfolio.md
  packages/codemod/docs/tests/v1/hoppscotch.md
  packages/codemod/docs/tests/v1/mili.md
  packages/codemod/docs/tests/v1/nest-admin.md
  packages/codemod/docs/tests/v1/nestjs-boilerplate.md
  packages/codemod/docs/tests/v1/nestjs-realworld-example-app.md
  packages/codemod/docs/tests/v1/nestjsx-crud.md
  packages/codemod/docs/tests/v1/prime.md
  packages/codemod/docs/tests/v1/twenty.md
  packages/codemod/docs/tests/v1/typeorm-express-typescript.md
  packages/codemod/docs/tests/v1/vendure-master.md
  packages/codemod/docs/tests/v1/vendure-minor.md
Due: prettier --write

chore(codemod): move test reports to PR comments and remove docs folder
  packages/codemod/docs/tests/v1.md
  packages/codemod/docs/tests/v1/awesome-nest-boilerplate.md
  packages/codemod/docs/tests/v1/cool-admin-midway.md
  packages/codemod/docs/tests/v1/ever-gauzy.md
  packages/codemod/docs/tests/v1/foal.md
  packages/codemod/docs/tests/v1/genal-chat.md
  packages/codemod/docs/tests/v1/mili.md
  packages/codemod/docs/tests/v1/nest-admin.md
  packages/codemod/docs/tests/v1/nestjs-boilerplate.md
  packages/codemod/docs/tests/v1/nestjs-realworld-example-app.md
  packages/codemod/docs/tests/v1/nestjsx-crud.md
  packages/codemod/docs/tests/v1/prime.md
  packages/codemod/docs/tests/v1/twenty.md
  packages/codemod/docs/tests/v1/typeorm-express-typescript.md
  packages/codemod/docs/tests/v1/vendure-master.md
  packages/codemod/docs/tests/v1/vendure-minor.md
Due: prettier --write

fix(ci): install codemod dependencies before build in publish workflow
  .github/workflows/publish-package.yml
Due: prettier --write

fix(codemod): guarantee spinner and stdout cleanup on transform failure
  packages/codemod/src/cli/run-transforms.ts
Due: eslint --fix, prettier --write

fix(codemod): exit with non-zero code when errors are detected
  packages/codemod/src/cli/run.ts
Due: eslint --fix, prettier --write

fix(codemod): validate CLI options that require values
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/test/cli/parse-args.test.ts
Due: eslint --fix, prettier --write

fix(codemod): handle unreadable paths gracefully in package.json scanner
  packages/codemod/src/dependencies/find-package-json.ts
Due: eslint --fix, prettier --write

chore(codemod): upgrade @types/jscodeshift to v17 and remove redundant type definitions
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  packages/codemod/src/cli/run-transforms.ts
Due: eslint --fix, prettier --write

chore: bump devDependencies and align codemod versions with root
  package.json
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(codemod): always search cwd for package.json during dependency upgrades
  packages/codemod/src/cli/run-dependencies.ts
Due: eslint --fix, prettier --write

fix(codemod): disable spinner animation when stderr is not a TTY
  packages/codemod/src/lib/spinner.ts
Due: eslint --fix, prettier --write

fix(codemod): handle invalid package.json files gracefully during dependency upgrades
  packages/codemod/src/dependencies/upgrade.ts
Due: eslint --fix, prettier --write

fix(codemod): report non-semver dependency versions as needing manual upgrade
  packages/codemod/src/dependencies/upgrade.ts
Due: eslint --fix, prettier --write

fix(codemod): use path.join for portable file path construction
  packages/codemod/src/transforms/resolve.ts
Due: eslint --fix, prettier --write

chore: exclude codemod test fixtures from SonarCloud analysis
  sonar-project.properties
Due: none

fix(codemod): remove silent error swallowing in package.json scanner
  packages/codemod/src/dependencies/find-package-json.ts
Due: eslint --fix, prettier --write

fix(codemod): restrict WhereExpression rename to import and type reference positions
  packages/codemod/src/transforms/v1/query-builder-where-expression.ts
Due: eslint --fix, prettier --write

fix(codemod): scope connection-to-datasource identifier renames to typeorm imports
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
Due: eslint --fix, prettier --write

docs: mention codemod in v1 migration guide
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

docs: update release notes to reflect printSql removal (not rename to logQuery)
  docs/docs/guides/9-release-notes-v1.md
Due: prettier --write

ci: bump dorny/paths-filter to v4, pnpm/action-setup to v5, download-artifact to v8
  .github/actions/setup-node/action.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: fix remaining pnpm/action-setup@v4 reference in test-codemod job
  .github/workflows/tests.yml
Due: prettier --write

ci: remove duplicate preview job from tests.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: use setup-node composite action in tests-codemod job
  .github/workflows/tests.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
