Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Adding tests for bun-sqlite
  test/functional/database-schema/column-collation/sqlite/column-collation-sqlite.test.ts
  test/functional/database-schema/column-length/sqlite/column-length-sqlite.test.ts
  test/functional/database-schema/column-types/sqlite/column-types-sqlite.test.ts
  test/functional/database-schema/generated-columns/sqlite/generated-columns-sqlite.test.ts
  test/functional/driver/abstract-sqlite/abstract-sqlite-escape-query-parameters.test.ts
  test/functional/indices/index-types/sqlite/index-types-sqlite.test.ts
  test/functional/json/basic-jsonb/sqlite/sqlite-jsonb.test.ts
  test/functional/query-builder/parameters/sqlite-parameters.test.ts
  test/functional/query-builder/take/sqlite-high-take-limit/sqlite-high-take-limit.test.ts
  test/functional/schema-builder/foreign-key/constraint-names-sqlite/constraint-names-sqlite.test.ts
  test/functional/sql-tag/sql-tag-parameters-sqlite.test.ts
  test/functional/transaction/isolation-level/sqlite-isolation.test.ts
  test/functional/uuid/sqlite/uuid-sqlite.test.ts
  test/functional/view-entity/sqlite/view-entity-sqlite.test.ts
  test/other-issues/sqlite-bulk-save/sqlite-bulk-save.test.ts
Due: eslint --fix, prettier --write

Added bun-sqlite to isSQLiteFamily
  src/driver/DriverUtils.ts
Due: eslint --fix, prettier --write

Bun-sqlite: changed error text
  test/functional/driver/bun-sqlite/error-on-query-after-close.test.ts
Due: eslint --fix, prettier --write

docs: add bun-sqlite testing guide to DEVELOPER.md; set skip: true in ormconfig.sample.json
  DEVELOPER.md
  ormconfig.sample.json
Due: prettier --write

docs: use pnpm run compile in bun-sqlite test instructions
  DEVELOPER.md
Due: prettier --write

chore: remove local dev artifacts from .gitignore
  .gitignore
Due: none

fix(bun-sqlite): address Qodo review findings
  docs/docs/data-source/2-data-source-options.md
  docs/docs/drivers/sqlite.md
  package.json
  src/connection/ConnectionOptionsReader.ts
Due: eslint --fix, prettier --write

fix(entity-manager): validate where criteria in increment/decrement
  src/entity-manager/EntityManager.ts
  test/functional/repository/decrement/repository-decrement.test.ts
  test/functional/repository/increment/repository-increment.test.ts
Due: eslint --fix, prettier --write

fix(bun-sqlite): replace any types with typed interfaces, add to init command
  src/commands/InitCommand.ts
  src/driver/bun-sqlite/BunSqliteDataSourceOptions.ts
  src/driver/bun-sqlite/BunSqliteQueryRunner.ts
Due: eslint --fix, prettier --write

fix(entity-manager): default invalidWhereValuesBehavior to throw on the write path (#12690)
  src/data-source/BaseDataSourceOptions.ts
  src/util/OrmUtils.ts
  test/functional/null-undefined-handling/query-builders.test.ts
  test/unit/util/orm-utils.test.ts
Due: eslint --fix, prettier --write

fix(bun-sqlite): guard createDatabaseDirectory against mkdir('.') on attached DBs
  src/driver/bun-sqlite/BunSqliteDriver.ts
Due: eslint --fix, prettier --write

fix(bun-sqlite): use bun commands in generated readme and start script
  src/commands/InitCommand.ts
Due: eslint --fix, prettier --write

fix(bun-sqlite): use bunx typeorm for CLI script in generated package.json
  src/commands/InitCommand.ts
Due: eslint --fix, prettier --write

fix(query-builder): honor take(0) with joins
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): avoid joined pagination for skip(0)
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint --fix, prettier --write

refactor(postgres): use promise returning query overload
  src/driver/postgres/PostgresDriver.ts
Due: eslint --fix, prettier --write

fix(mysql): preserve foreign key indexes when renaming tables
  src/driver/mysql/MysqlQueryRunner.ts
  test/github-issues/12671/entity/Category.ts
  test/github-issues/12671/entity/CircleReport.ts
  test/github-issues/12671/entity/Report.ts
  test/github-issues/12671/issue-12671.test.ts
Due: eslint --fix, prettier --write

test(mysql): release query runners in rename regression
  test/github-issues/12671/issue-12671.test.ts
Due: eslint --fix, prettier --write

fix(entity-manager): validate where criteria in increment/decrement (#12692)
  src/entity-manager/EntityManager.ts
  test/functional/repository/decrement/repository-decrement.test.ts
  test/functional/repository/increment/repository-increment.test.ts
Due: eslint --fix, prettier --write

Merge commit from fork
  src/commands/MigrationGenerateCommand.ts
  test/functional/commands/migration-generate-escape.test.ts
Due: eslint --fix, prettier --write

chore: prepare release 0.3.31
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests.yml
  CHANGELOG.md
  DEVELOPER.md
  README.md
  package.json
Due: prettier --write

style(test): format migration test
  test/functional/commands/migration-generate-escape.test.ts
Due: eslint --fix, prettier --write

chore(release): prepare v1.1.0
  .github/workflows/publish-package.yml
  CHANGELOG.md
  DEVELOPER.md
  README.md
  package.json
Due: prettier --write

chore: prepare release 0.3.31 (#12676)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests.yml
  CHANGELOG.md
  DEVELOPER.md
  README.md
  package.json
Due: prettier --write

chore(release): prepare v1.1.0 (#12697)
  .github/workflows/publish-package.yml
  CHANGELOG.md
  DEVELOPER.md
  README.md
  package.json
Due: prettier --write

ci: use `npm@11`
  .github/workflows/publish-package.yml
Due: prettier --write

ci: publish to npm from `v0` using the `legacy` tag
  .github/workflows/publish-package.yml
Due: prettier --write

refactor: move buildSessionParametersHandler to PostgresUtils
  src/driver/DriverUtils.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresUtils.ts
  test/functional/driver/postgres-session-parameters.test.ts
Due: eslint --fix, prettier --write

Handle escaped order-by literals
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/order-by/query-builder-order-by.test.ts
Due: eslint --fix, prettier --write

refactor(postgres): use promise returning connect overload
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint --fix, prettier --write

fix: preserve constructor-preset relation values on first hydration
  src/metadata/RelationMetadata.ts
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/github-issues/12683/entity/Author.ts
  test/github-issues/12683/entity/Post.ts
  test/github-issues/12683/issue-12683.test.ts
Due: eslint --fix, prettier --write

fix(version-utils): compare versions of unequal length correctly (#12668)
  src/util/VersionUtils.ts
  test/unit/util/version-utils.test.ts
Due: eslint --fix, prettier --write

fix(data-source): prevent connection leaks in initialize()
  src/data-source/DataSource.ts
  test/functional/data-source/data-source.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): guard undefined nulls in orderBy object shorthand
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(query-builder): extend nulls guard to Update/SoftDelete builders and add regression test
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/functional/query-builder/order-by/query-builder-order-by.test.ts
Due: eslint --fix, prettier --write

fix: 3 http->https in README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
