Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

refactor!: replace glob with tinyglobby, remove rimraf
  DEVELOPER.md
  docs/docs/help/1-faq.md
  gulpfile.ts
  package-lock.json
  package.json
  src/platform/BrowserDirectoryExportedClassesLoader.template
  src/util/DirectoryExportedClassesLoader.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.ts
  test/github-issues/799/issue-799.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write, sort-package-json

refactor!: replace glob with tinyglobby, remove rimraf (#11699)
  DEVELOPER.md
  docs/docs/help/1-faq.md
  gulpfile.ts
  package-lock.json
  package.json
  src/platform/BrowserDirectoryExportedClassesLoader.template
  src/util/DirectoryExportedClassesLoader.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.ts
  test/github-issues/799/issue-799.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write, sort-package-json

ci: remove close stale issues GH action (#11696)
  .github/workflows/close-stale-issues.yml
Due: none

Commit @coderabbitai' suggestions, refactor test
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Inspect cockroach test fail
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

chore: disable eslint errors for chai assertions
  eslint.config.mjs
  package-lock.json
  package.json
  test/functional/query-builder/distinct-on/query-builder-distinct-on.ts
Due: eslint, prettier --write, sort-package-json

refactor: make `no-unused-expressions` an error and fix code
  eslint.config.mjs
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

chore: disable eslint errors for chai assertions (#11700)
  eslint.config.mjs
  package-lock.json
  package.json
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  test/functional/query-builder/distinct-on/query-builder-distinct-on.ts
Due: eslint, prettier --write, sort-package-json

feat: support explicit resource management in QueryRunner
  docs/docs/query-runner.md
  src/driver/mongodb/MongoQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  src/query-runner/QueryRunner.ts
  test/functional/query-runner/async-dispose.ts
Due: eslint, prettier --write

Fix ci test fails for cockroachdb, postgres, mysql & mariadb
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  test/functional/query-runner/change-column.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

test: improve tests for explicit resource management
  test/functional/driver/sap/connection-pool.ts
  test/functional/query-runner/async-dispose.ts
Due: eslint, prettier --write

Fix sap ci test fail
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

feat: commit transaction on QueryRunner dispose
  src/driver/mongodb/MongoQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  test/functional/query-runner/async-dispose.ts
  test/functional/query-runner/entity/Company.ts
  test/functional/query-runner/entity/Employee.ts
Due: eslint, prettier --write

ci: harmonize MongoDB version used in CI and local development environment and bump to v8
  .github/workflows/tests-linux.yml
  docker-compose.yml
  src/commands/InitCommand.ts
Due: eslint, prettier --write

feat: support explicit resource management in QueryRunner (#11701)
  docs/docs/query-runner.md
  src/driver/mongodb/MongoQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  src/query-runner/QueryRunner.ts
  test/functional/driver/sap/connection-pool.ts
  test/functional/query-runner/async-dispose.ts
  test/functional/query-runner/entity/Company.ts
  test/functional/query-runner/entity/Employee.ts
Due: eslint, prettier --write

feat(cli/init): pick dependencies versions from our own package.json
  gulpfile.ts
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

chore(lint/jsdoc): enable jsdoc/valid-types rule and fix offenses
  eslint.config.mjs
  src/driver/mongodb/typings.ts
Due: eslint, prettier --write

chore(mongo): sync typings with the latest v5 version of the mongodb driver (5.9.2)
  src/driver/mongodb/typings.ts
Due: eslint, prettier --write

change to 7.21.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

ci: control development and CI version of Node.js via .nvmrc
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .nvmrc
  DEVELOPER.md
Due: none

nvm
  DEVELOPER.md
Due: none

line
  DEVELOPER.md
Due: none

ci: bump actions/setup-node to v5 and benefit from automatic caching
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  package.json
Due: prettier --write, sort-package-json

fromjson
  .github/workflows/commit-validation.yml
Due: none

minor
  .github/workflows/commit-validation.yml
Due: none

Fix oracle ci test fail
  src/driver/oracle/OracleQueryRunner.ts
Due: eslint, prettier --write

initial commit
  convert-svg.js
  typeorm-linkedin-thumbnail.png
  typeorm-release-thumbnail.png
  typeorm-release-thumbnail.svg
  typeorm-thumbnail-variant1.svg
  typeorm-thumbnail-variant2.svg
  typeorm-thumbnail-variant3.svg
Due: none

initial commit
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/data-source/BaseDataSourceOptions.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/find-options/empty-properties/find-options-empty-properties.ts
  test/functional/null-undefined-handling/find-options.ts
Due: eslint, prettier --write

fix build
  test/functional/null-undefined-handling/find-options.ts
Due: eslint, prettier --write

docs: remove unused docs example file (#11675)
  docs/src/pages/markdown-page.md
Due: none

docs: updated jsdoc link to PostgreSQL documentation for data types (#11680)
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

ci: bump actions/setup-node to v5 and benefit from automatic caching (#11709)
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  package.json
Due: prettier --write, sort-package-json

feat(cli/init): pick dependencies versions from our own package.json (#11705)
  gulpfile.ts
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

chore(lint/jsdoc): enable jsdoc/valid-types rule and fix offenses (#11706)
  eslint.config.mjs
  src/driver/mongodb/typings.ts
Due: eslint, prettier --write

initial commit
  docs/.gitignore
  docs/docusaurus.config.ts
Due: eslint, prettier --write

Applying @coderabbitai' fixes/recommendations
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Fix mssql ci test fail
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write
