Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

docs: update documentation
  docs/docs/working-with-entity-manager/3-find-options.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: prettier --write

test: update test description to start with 'should'
  test/functional/repository/find-methods/repostiory-find-methods.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): update distinct count logic to respect select options in query builder
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/count/query-builder-count.test.ts
Due: eslint --fix, prettier --write

refactor!: extract legacy naming strategies
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  eslint.config.mjs
  package.json
  packages/legacy-naming-strategies/.c8rc.json
  packages/legacy-naming-strategies/.gitignore
  packages/legacy-naming-strategies/.mocharc.json
  packages/legacy-naming-strategies/README.md
  packages/legacy-naming-strategies/eslint.config.mjs
  packages/legacy-naming-strategies/package.json
  packages/legacy-naming-strategies/pnpm-lock.yaml
  packages/legacy-naming-strategies/src/index.ts
  packages/legacy-naming-strategies/src/legacy-oracle-naming-strategy.ts
  packages/legacy-naming-strategies/src/naming-strategy-v03.ts
  packages/legacy-naming-strategies/test/legacy-oracle-naming-strategy/column-shortening.test.ts
  packages/legacy-naming-strategies/test/naming-strategy-v03/hashing.test.ts
  packages/legacy-naming-strategies/tsconfig.build.json
  packages/legacy-naming-strategies/tsconfig.json
  src/index.ts
  src/naming-strategy/DefaultNamingStrategy.ts
  src/naming-strategy/NamingStrategyInterface.ts
  src/util/RandomGenerator.ts
  test/functional/naming-strategy/legacy-oracle-naming-strategy/column-shortening/column-shortening.test.ts
  test/functional/naming-strategy/legacy-oracle-naming-strategy/create-table/create-table-with-naming-strategy.test.ts
  test/functional/naming-strategy/legacy-oracle-naming-strategy/create-table/entity/Post.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ci: run tests for legacy naming strategies
  .github/workflows/tests.yml
Due: prettier --write

chore: use a consistent driver type source
  src/persistence/SubjectDatabaseEntityLoader.ts
  src/persistence/SubjectExecutor.ts
  test/functional/persistence/pg-concurrent-query-deprecation/pg-concurrent-query-deprecation.test.ts
Due: eslint --fix, prettier --write

fix: isInsert bypass when empty and test fixes
  docs/docs/help/3-decorator-reference.md
  src/query-builder/InsertQueryBuilder.ts
  test/github-issues/11509/entity/AllGeneratedEntity.ts
  test/github-issues/11509/entity/StoredGeneratedEntity.ts
  test/github-issues/11509/entity/VirtualGeneratedEntity.ts
  test/github-issues/11509/issue-11509.test.ts
Due: eslint --fix, prettier --write

fix: revert doc
  docs/docs/help/3-decorator-reference.md
Due: prettier --write

fix: Added doc for the entity expression generated columns
  docs/docs/entity/1-entities.md
Due: prettier --write

chore(legacy-naming-strategies): bump to 1.0.0-beta.3 and bump typeorm to 1.0.0-beta.3
  packages/legacy-naming-strategies/package.json
  packages/legacy-naming-strategies/pnpm-lock.yaml
Due: prettier --write

ci(legacy-naming-strategies): add sonar-project.properties
  packages/legacy-naming-strategies/sonar-project.properties
Due: none

Remove migrationsRun option from dataSource settings
  src/commands/MigrationGenerateCommand.ts
Due: eslint --fix, prettier --write

fix: expand virtual columns in where clauses
  src/query-builder/QueryBuilder.ts
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

test: add repro test suite
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/embedded-lazy-relation.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Author.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/NestedPost.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Post.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/PostAuthor.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Profile.ts
Due: eslint --fix, prettier --write

fix: already null relation is not detected as unchanged, causes update
  src/persistence/SubjectChangedColumnsComputer.ts
  test/github-issues/12433/entity/DiscountGroup.ts
  test/github-issues/12433/entity/Item.ts
  test/github-issues/12433/issue-12433.test.ts
Due: eslint --fix, prettier --write

fix: getPendingMigrations unnecessarily creating migrations table (#11672)
  src/migration/MigrationExecutor.ts
Due: eslint --fix, prettier --write

fix: virtual property handling in schema builder (#11000)
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/10999/entity/entity-with-virtual-column.ts
  test/github-issues/10999/issue-10999.test.ts
  test/github-issues/10999/migration/1721739455264-init.ts
Due: eslint --fix, prettier --write

fix: change import for process dependency (#11248)
  src/commands/MigrationRunCommand.ts
Due: eslint --fix, prettier --write

fix: prevent columns with select false from being returned (#11944)
  src/persistence/SubjectExecutor.ts
  test/functional/columns/no-select/columns-no-select.test.ts
  test/functional/columns/no-select/entity/Post.ts
Due: eslint --fix, prettier --write

fix(cli): init command loading non-existing package.json (#11947)
  gulpfile.ts
Due: eslint --fix, prettier --write

fix: fix up limit with joins (#11987)
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/join/entity/Photo.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint --fix, prettier --write

feat(sap): support locking in select (#11996)
  docs/docs/query-builder/1-select-query-builder.md
  docs/docs/working-with-entity-manager/3-find-options.md
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/locking/query-builder-locking.test.ts
  test/functional/repository/find-options-locking/find-options-locking.test.ts
Due: eslint --fix, prettier --write

fix(postgres): execute queries sequentially to avoid pg 8.19.0 deprecation warning (#12105)
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint --fix, prettier --write

fix: propagate schema and database to closure junction table (#12110)
  src/metadata-builder/ClosureJunctionEntityMetadataBuilder.ts
  src/repository/TreeRepository.ts
  test/github-issues/10263/entity/Space.ts
  test/github-issues/10263/issue-10263.test.ts
Due: eslint --fix, prettier --write

fix(lazy-relations): bind embedded lazy relations getters to the main entity
  src/metadata-builder/EntityMetadataBuilder.ts
  src/metadata/ColumnMetadata.ts
  src/metadata/RelationMetadata.ts
  src/query-builder/RelationLoader.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/embedded-lazy-relation.test.ts
Due: eslint --fix, prettier --write

fix(lazy-relations): keep embedded lazy relations loads inside transaction query runner
  src/metadata/EntityMetadata.ts
  src/query-builder/RelationLoader.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/embedded-lazy-relation.test.ts
Due: eslint --fix, prettier --write

fix(metadata): remove unnecessary property descriptors
  src/metadata/ColumnMetadata.ts
  src/metadata/EntityMetadata.ts
  src/metadata/RelationMetadata.ts
Due: eslint --fix, prettier --write

fix(lazy-relations): rename parentIndex to embeddedOwnerIndex for clarity
  src/metadata/ColumnMetadata.ts
  src/metadata/EntityMetadata.ts
  src/metadata/RelationMetadata.ts
  src/query-builder/RelationLoader.ts
Due: eslint --fix, prettier --write

feat: add distinct count support for relations
  docs/docs/working-with-entity-manager/3-find-options.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/query-builder/SelectQueryBuilder.ts
  test/functional/repository/find-methods/entity/Counters.ts
  test/functional/repository/find-methods/entity/Post.ts
  test/functional/repository/find-methods/repostiory-find-methods.test.ts
Due: eslint --fix, prettier --write

refactor: extract column selection logic into a separate method
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

Merge commit from fork
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/other-issues/preventing-injection/preventing-injection.test.ts
Due: eslint --fix, prettier --write

ci: remove docs indexing
  .github/workflows/deploy-docs-cloudflare-pages.yml
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write

ci: remove docs indexing (#12435)
  .github/workflows/deploy-docs-cloudflare-pages.yml
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write

fix: add support for distinct count with relation load strategy
  src/query-builder/SelectQueryBuilder.ts
  test/functional/repository/find-methods/repostiory-find-methods.test.ts
Due: eslint --fix, prettier --write

refactor: undo distinct count for relationLoadStrategy 'query'
  src/query-builder/SelectQueryBuilder.ts
  test/functional/repository/find-methods/repostiory-find-methods.test.ts
Due: eslint --fix, prettier --write

fix(security): validate limit() in Update/SoftDelete query builders
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/other-issues/preventing-injection/preventing-injection.test.ts
Due: eslint --fix, prettier --write

fix(security): validate limit() in Update/SoftDelete query builders (#12437)
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/other-issues/preventing-injection/preventing-injection.test.ts
Due: eslint --fix, prettier --write

fix: use file reference for typeorm in playground to prevent false dependabot alerts
  playground/package.json
Due: prettier --write

chore(deps): bump pkg-pr-new to 0.0.71
  package.json
  pnpm-lock.yaml
Due: prettier --write
