Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(codemod): handle CommonJS require("typeorm") in file-logger
  packages/codemod/src/transforms/v1/file-logger.ts
  packages/codemod/test/transforms/v1/fixtures/file-logger/file-logger-require.input.ts
  packages/codemod/test/transforms/v1/fixtures/file-logger/file-logger-require.output.ts
Due: eslint --fix, prettier --write

feat(codemod): rename ConnectionOptionsReader.all() to get() and flag path semantics change
  packages/codemod/src/transforms/v1/connection-options-reader.ts
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/test/transforms/v1/fixtures/connection-options-reader/connection-options-reader.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-options-reader/connection-options-reader.output.ts
Due: eslint --fix, prettier --write

feat(codemod): auto-inject Expo SQLite driver for expo data sources
  packages/codemod/src/transforms/v1/datasource-expo.ts
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-expo/datasource-expo.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-expo/datasource-expo.output.ts
Due: eslint --fix, prettier --write

initial commit
  docs/blog/authors.yml
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

nest fix
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

invalidwherebehavior fix
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

more content fixes
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

more content fix
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

docs(maintainers): add Prakhar Chhalotre as maintainer
  docs/src/pages/maintainers.json
Due: prettier --write

refine wording in nestjs/typeorm in v0.3 upgrade page
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

docs(release-notes): restore RdbmsSchemaBuilder.renameTables() entry
  docs/docs/releases/1.0/01-release-notes.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

refactor(data-source)!: rename dropDatabase to dropAllEntityTables
  docs/docs/data-source/4-data-source-api.md
  src/commands/SchemaDropCommand.ts
  src/data-source/DataSource.ts
  test/functional/data-source/data-source.test.ts
Due: eslint --fix, prettier --write

docs(data-source): clarify extra option as driver-native escape hatch
  src/data-source/BaseDataSourceOptions.ts
Due: eslint --fix, prettier --write

feat(codemod): add datasource-drop-database transform
  packages/codemod/src/transforms/v1/datasource-drop-database.ts
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-drop-database/datasource-drop-database.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-drop-database/datasource-drop-database.output.ts
Due: eslint --fix, prettier --write

fix(codemod): scope sqlite transforms to typeorm imports and skip .d.ts files
  packages/codemod/src/cli/run-transforms.ts
  packages/codemod/src/transforms/v1/datasource-sqlite-options.ts
  packages/codemod/src/transforms/v1/datasource-sqlite-type.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-options/datasource-sqlite-options.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-options/datasource-sqlite-options.output.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-type/datasource-sqlite-type.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-type/datasource-sqlite-type.output.ts
Due: eslint --fix, prettier --write

fix(codemod): scope datasource-expo to typeorm imports
  packages/codemod/src/transforms/v1/datasource-expo.ts
Due: eslint --fix, prettier --write

fix(codemod): rewrite typeorm re-exports in barrel files
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/mongodb-types.ts
  packages/codemod/src/transforms/v1/query-builder-where-expression.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/src/transforms/v1/use-container.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
  packages/codemod/test/transforms/v1/fixtures/global-functions/global-functions.input.ts
  packages/codemod/test/transforms/v1/fixtures/mongodb-types/mongodb-types.input.ts
  packages/codemod/test/transforms/v1/fixtures/mongodb-types/mongodb-types.output.ts
Due: eslint --fix, prettier --write

docs(maintainers): add Shaun Smith to landing page and fix Cprakhar casing
  docs/src/pages/index.tsx
Due: none

ci: sort tests-linux jobs alphabetically
  .github/workflows/tests-linux.yml
Due: prettier --write

fix(codemod): correct relation-count guidance and flag loadRelationCountAndMap
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/test/transforms/v1/fixtures/relation-count/relation-count.input.ts
  packages/codemod/test/transforms/v1/fixtures/relation-count/relation-count.output.ts
Due: eslint --fix, prettier --write

feat(codemod): flag removed FindOneOptions/FindManyOptions `join` property
  packages/codemod/src/transforms/v1/find-options-join.ts
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-join/find-options-join.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-join/find-options-join.output.ts
Due: eslint --fix, prettier --write

feat(codemod): flag removed ConnectionManager class constructions
  packages/codemod/src/transforms/v1/connection-manager.ts
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/test/transforms/v1/fixtures/connection-manager/connection-manager.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-manager/connection-manager.output.ts
Due: eslint --fix, prettier --write

make more concise
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

refactor(docs): source homepage maintainers list from maintainers.json
  docs/src/pages/index.tsx
Due: none

fix(codemod): scope remaining v1 transforms to typeorm imports
  packages/codemod/src/transforms/v1/column-readonly.ts
  packages/codemod/src/transforms/v1/column-unsigned-numeric.ts
  packages/codemod/src/transforms/v1/column-width-zerofill.ts
  packages/codemod/src/transforms/v1/datasource-mysql-connector.ts
  packages/codemod/src/transforms/v1/datasource-name.ts
  packages/codemod/src/transforms/v1/find-options-string-relations.ts
  packages/codemod/src/transforms/v1/find-options-string-select.ts
  packages/codemod/src/transforms/v1/mongodb-stats.ts
  packages/codemod/src/transforms/v1/query-builder-native-parameters.ts
  packages/codemod/src/transforms/v1/query-builder-on-conflict.ts
  packages/codemod/src/transforms/v1/query-builder-or-update.ts
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/src/transforms/v1/query-builder-replace-property-names.ts
  packages/codemod/src/transforms/v1/repository-exist.ts
  packages/codemod/src/transforms/v1/repository-find-one-by-id.ts
  packages/codemod/test/transforms/v1/fixtures/column-unsigned-numeric/column-unsigned-numeric.input.ts
  packages/codemod/test/transforms/v1/fixtures/column-unsigned-numeric/column-unsigned-numeric.output.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mysql-connector/datasource-mysql-connector.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mysql-connector/datasource-mysql-connector.output.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-relations/find-options-string-relations.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-relations/find-options-string-relations.output.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-select/find-options-string-select.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-select/find-options-string-select.output.ts
  packages/codemod/test/transforms/v1/fixtures/mongodb-stats/mongodb-stats.input.ts
  packages/codemod/test/transforms/v1/fixtures/mongodb-stats/mongodb-stats.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-native-parameters/query-builder-native-parameters.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-native-parameters/query-builder-native-parameters.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-on-conflict/query-builder-on-conflict.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-on-conflict/query-builder-on-conflict.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-or-update/query-builder-or-update.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-or-update/query-builder-or-update.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-print-sql/query-builder-print-sql.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-print-sql/query-builder-print-sql.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-replace-property-names/query-builder-replace-property-names.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-replace-property-names/query-builder-replace-property-names.output.ts
  packages/codemod/test/transforms/v1/fixtures/repository-exist/repository-exist.input.ts
  packages/codemod/test/transforms/v1/fixtures/repository-exist/repository-exist.output.ts
  packages/codemod/test/transforms/v1/fixtures/repository-find-one-by-id/repository-find-one-by-id.input.ts
  packages/codemod/test/transforms/v1/fixtures/repository-find-one-by-id/repository-find-one-by-id.output.ts
Due: eslint --fix, prettier --write

fix(codemod): handle aliases, quoted keys, and ObjectProperty variants
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/column-readonly.ts
  packages/codemod/src/transforms/v1/column-unsigned-numeric.ts
  packages/codemod/src/transforms/v1/datasource-sap.ts
  packages/codemod/src/transforms/v1/find-options-lock-modes.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/query-builder-or-update.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/test/transforms/v1/fixtures/column-readonly/column-readonly.input.ts
  packages/codemod/test/transforms/v1/fixtures/column-readonly/column-readonly.output.ts
  packages/codemod/test/transforms/v1/fixtures/column-width-zerofill/column-width-zerofill.input.ts
  packages/codemod/test/transforms/v1/fixtures/column-width-zerofill/column-width-zerofill.output.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-lock-modes/find-options-lock-modes.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-lock-modes/find-options-lock-modes.output.ts
  packages/codemod/test/transforms/v1/fixtures/global-functions/global-functions.input.ts
  packages/codemod/test/transforms/v1/fixtures/global-functions/global-functions.output.ts
  packages/codemod/test/transforms/v1/fixtures/relation-count/relation-count.input.ts
  packages/codemod/test/transforms/v1/fixtures/relation-count/relation-count.output.ts
Due: eslint --fix, prettier --write

fix(virtual-columns): prevent duplicate SELECT alias when VC is both selected and ordered in skip/take+join pagination
  src/query-builder/SelectQueryBuilder.ts
  test/functional/columns/virtual-columns/entity/Post.ts
  test/functional/columns/virtual-columns/entity/User.ts
  test/functional/columns/virtual-columns/virtual-columns.test.ts
Due: eslint --fix, prettier --write

fix(codemod): make TODOs idempotent, extend attachment, surface errors
  packages/codemod/src/cli/print-summary.ts
  packages/codemod/src/cli/run-transforms.ts
  packages/codemod/src/transforms/todo.ts
  packages/codemod/src/transforms/v1/datasource-mongodb.ts
  packages/codemod/src/transforms/v1/datasource-mssql.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/migrations-get-all.ts
  packages/codemod/src/transforms/v1/mongodb-stats.ts
  packages/codemod/src/transforms/v1/query-builder-on-conflict.ts
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/src/transforms/v1/query-builder-replace-property-names.ts
  packages/codemod/src/transforms/v1/query-runner-loaded-tables-views.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/test/transforms/v1/fixtures/migrations-get-all/migrations-get-all.input.ts
  packages/codemod/test/transforms/v1/fixtures/migrations-get-all/migrations-get-all.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-runner-loaded-tables-views/query-runner-loaded-tables-views.input.ts
  packages/codemod/test/transforms/v1/fixtures/query-runner-loaded-tables-views/query-runner-loaded-tables-views.output.ts
  packages/codemod/test/transforms/v1/negative.test.ts
Due: eslint --fix, prettier --write

fix(codemod): handle typeof type queries and use getStringValue consistently
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/src/transforms/v1/datasource-sqlite-type.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
Due: eslint --fix, prettier --write

chore: expand pr_agent config with review-ux and self-review options
  .pr_agent.toml
Due: prettier --write

test(codemod): add nest-commander regression for flags removal
  packages/codemod/test/transforms/v1/negative.test.ts
Due: eslint --fix, prettier --write

fix(codemod): recognize typeorm deep-path imports
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
Due: eslint --fix, prettier --write

fix(codemod): rename .connection on EntityMetadata, ColumnMetadata, IndexMetadata
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
Due: eslint --fix, prettier --write

test(codemod): pin that find-options string transforms leave non-array values alone
  packages/codemod/test/transforms/v1/fixtures/find-options-string-relations/find-options-string-relations.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-relations/find-options-string-relations.output.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-select/find-options-string-select.input.ts
  packages/codemod/test/transforms/v1/fixtures/find-options-string-select/find-options-string-select.output.ts
Due: eslint --fix, prettier --write

fix(codemod): track DataSource accessor chains for typed-variable renames
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.input.ts
  packages/codemod/test/transforms/v1/fixtures/connection-to-datasource/connection-to-datasource.output.ts
Due: eslint --fix, prettier --write

docs(codemod): document parser limitation for legacy decorators + computed class fields
  packages/codemod/README.md
  packages/codemod/test/transforms/v1/parser-limits.test.ts
Due: eslint --fix, prettier --write

more content fix based on Cr
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

fix(codemod): recognize sub-paths, CommonJS, and import-equals in fileImportsFrom
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/test/transforms/ast-helpers.test.ts
Due: eslint --fix, prettier --write

fix(codemod): scope sqlite-options mutations to sqlite-typed configs
  packages/codemod/src/transforms/v1/datasource-sqlite-options.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-options/datasource-sqlite-options.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-sqlite-options/datasource-sqlite-options.output.ts
Due: eslint --fix, prettier --write

apply team review feedback
  docs/blog/v1-release/typeorm-v1-release.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
