Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

chore: Add warning when driver is specified without connectorPackage
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

refactor: Simplify test case without dedicated mysql2 statement
  test/functional/json/mysql-json-parsing/mysql-json-parsing.test.ts
Due: eslint, prettier --write

Revert "fix: do not create junction table metadata when it already exists (#11114)"
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

fix: JSON parsing for mysql2 client library (#8319) (#11659)
  src/driver/mysql/MysqlDriver.ts
  test/functional/json/mysql-json-parsing/entity/JsonEntity.ts
  test/functional/json/mysql-json-parsing/mysql-json-parsing.test.ts
Due: eslint, prettier --write

Revert "fix: do not create junction table metadata when it already exists (#11114)" (#11660)
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

chore: Release v0.3.27
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore: Release v0.3.27 (#11661)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

prettier
  src/driver/libsql/LibSqlQueryRunner.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/QueryBuilder.ts
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/8975/issue-8975.ts
  test/integration/sample2-one-to-one.ts
  test/integration/sample3-many-to-one.ts
Due: eslint, prettier --write

feat: add ifExist to dropUniqueConstraint(s)
  docs/docs/advanced-topics/1-migrations.md
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-runner/QueryRunner.ts
Due: eslint, prettier --write

refactor: Makes orUpdate signature type aware
  src/query-builder/InsertQueryBuilder.ts
Due: eslint, prettier --write

chore: update dependencies
  .gitignore
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  sample/playground/package-lock.json
  sample/playground/package.json
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/columns/virtual-columns/virtual-columns.ts
  test/functional/driver/abstract-sqlite/abstract-sqlite-escape-query-parameters.ts
  test/github-issues/9189/issue-9189.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write, sort-package-json

chore: update dependencies (#11666)
  .gitignore
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  sample/playground/package-lock.json
  sample/playground/package.json
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/columns/virtual-columns/virtual-columns.ts
  test/functional/driver/abstract-sqlite/abstract-sqlite-escape-query-parameters.ts
  test/github-issues/9189/issue-9189.ts
  test/utils/test-utils.ts
Due: eslint, prettier --write, sort-package-json

chore: fix package preview
  .github/workflows/preview.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

docs: fix link to email, when vulnerability found
  CONTRIBUTING.md
Due: none

fix: virtual property handling in schema builder
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/10999/entity/entity-with-virtual-column.ts
  test/github-issues/10999/issue-10999.ts
  test/github-issues/10999/migration/1721739455264-init.ts
Due: eslint, prettier --write

chore: fix package preview (#11542)
  .github/workflows/preview.yml
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: include joined entity primary keys in pagination subquery
  test/github-issues/11662/entity/Post.ts
  test/github-issues/11662/entity/User.ts
  test/github-issues/11662/issue-11662.ts
Due: eslint, prettier --write

fix: include joined entity primary keys in pagination subquery
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/query-builder/join/query-builder-joins.ts
  test/github-issues/11662/entity/Post.ts
  test/github-issues/11662/entity/User.ts
  test/github-issues/11662/issue-11662.ts
Due: eslint, prettier --write

feat(mysql): add support for vector columns
  docker-compose.yml
  docs/docs/drivers/mysql.md
  docs/docs/drivers/postgres.md
  docs/docs/drivers/sap.md
  docs/docs/entity/1-entities.md
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/mysql/entity/Embedding.ts
  test/functional/database-schema/vectors/mysql/vector.ts
  test/functional/database-schema/vectors/sap/vector.ts
Due: eslint, prettier --write

tests: add pagination tests for leftJoin without primary key
  test/functional/query-builder/join/query-builder-joins.ts
Due: eslint, prettier --write

fix: enable VirtualColumn support in WHERE clauses (issue #11616)
  src/query-builder/QueryBuilder.ts
  test/functional/columns/virtual-columns/virtual-columns.ts
Due: eslint, prettier --write

refactor: move test to eager-relations feature tests
  src/metadata/RelationMetadata.ts
  test/functional/relations/eager-relations/basic-eager-relations/basic-eager-relations.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/Profile.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/User.ts
  test/github-issues/11265/entity/parent.ts
  test/github-issues/11265/entity/relationEntity.ts
  test/github-issues/11265/entity/relationNestedEntity.ts
  test/github-issues/11265/issue-11265.ts
Due: eslint, prettier --write

test: move the test to driver-utils tests
  test/functional/driver/driver-utils.ts
  test/functional/driver/entity/entities.ts
  test/github-issues/11657/issue-11657.ts
Due: eslint, prettier --write

Exclude sap from change column & revert change
  test/functional/query-runner/change-column.ts
Due: eslint, prettier --write

add dummy field to prevent SAP test failure
  test/functional/driver/driver-utils.ts
  test/functional/driver/entity/entities.ts
Due: eslint, prettier --write

Revert changeColumn for sap to be drop/add, refactor changeColum in functional schema-builder test
  src/driver/sap/SapQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

chore: update parameter
  src/metadata/ColumnMetadata.ts
Due: eslint, prettier --write

fix: getPendingMigrations unnecessarily creating migrations table
  src/migration/MigrationExecutor.ts
Due: eslint, prettier --write

Update package.json
  package.json
Due: prettier --write, sort-package-json

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: collect all migrations documentation in one place
  docs/docs/advanced-topics/6-using-cli.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/migrations/01-why.md
  docs/docs/migrations/02-setup.md
  docs/docs/migrations/03-creating.md
  docs/docs/migrations/04-generating.md
  docs/docs/migrations/05-executing.md
  docs/docs/migrations/06-reverting.md
  docs/docs/migrations/07-status.md
  docs/docs/migrations/08-faking.md
  docs/docs/migrations/09-api.md
  docs/docs/migrations/10-extra.md
  docs/redirects.ts
  docs/sidebars.ts
Due: eslint, prettier --write

links
  docs/docs/advanced-topics/3-indices.md
  docs/docs/entity/5-view-entities.md
  docs/docs/getting-started.md
  docs/docs/help/1-faq.md
Due: none

vite
  docs/docs/help/1-faq.md
  docs/docs/migrations/11-vite.md
Due: none

fic
  docs/docs/migrations/11-vite.md
Due: none

link to vite project
  docs/docs/migrations/11-vite.md
Due: none

docs: remove unused docs example file
  docs/src/pages/markdown-page.md
Due: none

fix(postgres): widen varchar(n)->varchar(m) via ALTER TYPE instead of DROP+ADD; add regression test
  src/driver/postgres/PostgresQueryRunner.ts
  test/functional/alter-varchar-length/postgres/alter-varchar-length.ts
Due: eslint, prettier --write

tests: disable 'prefer-rest-params' in postgres-widen-fastpath; pg VARCHAR widen fast-path
  package-lock.json
  src/driver/postgres/PostgresQueryRunner.ts
  test/utils/patches/postgres-widen-fastpath.ts
  tools/apply-safe-varchar-widen.js
  tools/apply-safe-varchar-widen.v2.js
  tools/apply-safe-varchar-widen.v3.js
  tools/apply-safe-varchar-widen.v4.js
  tools/apply-safe-varchar-widen.v5.js
Due: eslint, prettier --write, sort-package-json

chore: drop local helper scripts from PR
  test/utils/patches/postgres-widen-fastpath.ts
  tools/apply-safe-varchar-widen.js
  tools/apply-safe-varchar-widen.v2.js
  tools/apply-safe-varchar-widen.v3.js
  tools/apply-safe-varchar-widen.v4.js
  tools/apply-safe-varchar-widen.v5.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
