Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

ci: fix node versions matrix after bad merge from master
  .github/workflows/tests.yml
Due: none

Fix node version in tests workflow
  .github/workflows/tests.yml
Due: none

version
  package.json
Due: prettier --write, sort-package-json

dev
  package.json
Due: prettier --write, sort-package-json

revert
  package.json
Due: prettier --write, sort-package-json

fix test
  src/commands/InitCommand.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

cleanup
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

remove only
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

fix(cli): init command reading package.json from two folders up
  src/commands/InitCommand.ts
Due: eslint, prettier --write

test(cli): fix tests for init command (#11787)
  .github/workflows/tests.yml
  src/commands/InitCommand.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

docs: fix build status badge url
  README.md
Due: none

one more
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

docs: fix build status badge url (#11790)
  README.md
Due: none

chore: add Qodo config
  .pr_agent.toml
Due: none

more auto best practices
  .pr_agent.toml
Due: none

more push trigger settings
  .pr_agent.toml
Due: none

chore: add GitHub Copilot instructions (#11781)
  .github/copilot-instructions.md
Due: none

change Set type argument
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

add test for multi column index
  test/functional/indices/index-types/entity/User4.ts
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

remove duplicate test
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

fix formatting errors
  src/index.ts
Due: eslint, prettier --write

fix: support new index logic for postgresql views
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

feat: export QueryPartialEntity and QueryDeepPartialEntity types (#11748)
  src/index.ts
Due: eslint, prettier --write

simplify dropOldIndices function & fix createNewViewIndices
  src/schema-builder/RdbmsSchemaBuilder.ts
Due: eslint, prettier --write

add test for view indices
  test/functional/indices/index-types/entity/User5.ts
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

test: add missing await
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

use .to.be.rejectedWith instead of rejectedWith
  test/functional/indices/index-types/index-types.ts
Due: eslint, prettier --write

Update tests-linux.yml
  .github/workflows/tests-linux.yml
Due: none

Remove limitation of branches to run on
  .github/workflows/tests.yml
Due: none

Remove limitation of branches to run on (usefull for contributors)
  .github/workflows/tests.yml
Due: none

Change CRLF to LF
  .github/workflows/tests.yml
Due: none

Revert "Remove limitation of branches to run on"
  .github/workflows/tests.yml
Due: none

test: remove benchmarks, which are not real tests
  test/benchmark/bulk-save-case1/bulk-save-case1.ts
  test/benchmark/bulk-save-case1/entity/Post.ts
  test/benchmark/bulk-save-case2/bulk-save-case2.ts
  test/benchmark/bulk-save-case2/entity/Document.ts
  test/benchmark/bulk-save-querybuilder/bulk-save-querybuilder.ts
  test/benchmark/bulk-sql-build/bulk-sql-build.ts
  test/benchmark/bulk-sql-build/entity/Category.ts
  test/benchmark/bulk-sql-build/entity/Post.ts
  test/benchmark/multiple-joins-querybuilder/entity/Eight.ts
  test/benchmark/multiple-joins-querybuilder/entity/Five.ts
  test/benchmark/multiple-joins-querybuilder/entity/Four.ts
  test/benchmark/multiple-joins-querybuilder/entity/Nine.ts
  test/benchmark/multiple-joins-querybuilder/entity/One.ts
  test/benchmark/multiple-joins-querybuilder/entity/Seven.ts
  test/benchmark/multiple-joins-querybuilder/entity/Six.ts
  test/benchmark/multiple-joins-querybuilder/entity/Ten.ts
  test/benchmark/multiple-joins-querybuilder/entity/Three.ts
  test/benchmark/multiple-joins-querybuilder/entity/Two.ts
  test/benchmark/multiple-joins-querybuilder/multiple-joins-querybuilder.ts
Due: eslint, prettier --write

feat: add defer support for exclusion constraint
  src/decorator/Exclusion.ts
  src/decorator/options/ExclusionOptions.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/metadata-args/ExclusionMetadataArgs.ts
  src/metadata/ExclusionMetadata.ts
  src/schema-builder/options/TableExclusionOptions.ts
  src/schema-builder/table/TableExclusion.ts
Due: eslint, prettier --write

test: add tests for deferable exclusion constraints
  test/functional/deferrable/deferrable-exclusion.ts
  test/functional/deferrable/entity/Booking.ts
  test/functional/deferrable/entity/Schedule.ts
Due: eslint, prettier --write

fix pipeline
  .github/workflows/tests.yml
Due: none

refactor: updating query types to include named parameters
  src/data-source/DataSource.ts
  src/entity-manager/EntityManager.ts
  src/query-runner/QueryRunner.ts
Due: eslint, prettier --write

docs: adding mysql2 named parameters example
  docs/docs/data-source/4-data-source-api.md
Due: none

ci(oracle): add extra sleep after container starts (#11795)
  .github/workflows/tests-linux.yml
Due: none

chore: add Qodo config (#11791)
  .pr_agent.toml
Due: none
