Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

chore: revert package-lock.json to upstream
  package-lock.json
Due: prettier --write, sort-package-json

fix: virtual property handling in schema builder
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/10999/entity/entity-with-virtual-column.ts
  test/github-issues/10999/issue-10999.ts
  test/github-issues/10999/migration/1721739455264-init.ts
Due: eslint, prettier --write

docs: updated jsdoc link to PostgreSQL documentation for data types
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

ci: introduce jsdoc eslint plugin (warnings only)
  eslint.config.mjs
  package.json
Due: prettier --write, sort-package-json

chore(deps-dev): bump better-sqlite3 to 12.4.1
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add support for `jsonpath` column type in PostgreSQL
  docs/docs/drivers/postgres.md
  src/driver/postgres/PostgresDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/entity/JsonPathExample.ts
  test/functional/database-schema/column-types/postgres/entity/Post.ts
Due: eslint, prettier --write

test: add comprehensive test suite for junction table shared columns
  test/github-issues/11682/entity/GroupPreserved.ts
  test/github-issues/11682/entity/GroupRenamed.ts
  test/github-issues/11682/entity/UserPreserved.ts
  test/github-issues/11682/entity/UserRenamed.ts
  test/github-issues/11682/issue-11682.ts
  test/github-issues/11682/memory-logger.ts
Due: eslint, prettier --write

feat(junction): add preserveSharedColumns option for composite foreign keys
  src/decorator/options/JoinColumnOptions.ts
  src/decorator/options/JoinTableMultipleColumnsOptions.ts
  src/decorator/relations/JoinTable.ts
  src/metadata-args/JoinColumnMetadataArgs.ts
  src/metadata-args/JoinTableMetadataArgs.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  test/github-issues/11682/entity/UserPreserved.ts
  test/github-issues/11682/issue-11682.ts
Due: eslint, prettier --write

fix tests
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
Due: eslint, prettier --write

feat(junction): add preserveSharedColumns option for composite foreign keys
  src/decorator/options/JoinColumnOptions.ts
  src/decorator/options/JoinTableMultipleColumnsOptions.ts
  src/decorator/relations/JoinTable.ts
  src/metadata-args/JoinColumnMetadataArgs.ts
  src/metadata-args/JoinTableMetadataArgs.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata/ColumnMetadata.ts
  test/github-issues/11682/entity/UserPreserved.ts
  test/github-issues/11682/issue-11682.ts
Due: eslint, prettier --write

feat(decorator): wire preserveSharedColumn option in JoinColumn decorator
  src/decorator/relations/JoinColumn.ts
Due: eslint, prettier --write

split tests
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

ignore timezone
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

used index directly
  test/functional/database-schema/column-types/postgres/entity/JsonPathExample.ts
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

Revert "used index directly"
  test/functional/database-schema/column-types/postgres/entity/JsonPathExample.ts
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

no OrFail
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

feat(junction): clarify preserveSharedColumn documentation and simplify logic
  src/decorator/options/JoinColumnOptions.ts
  src/decorator/options/JoinTableMultipleColumnsOptions.ts
  src/decorator/relations/JoinTable.ts
Due: eslint, prettier --write

test: improve assertions and descriptions in preserveSharedColumn tests
  test/github-issues/11682/issue-11682.ts
Due: eslint, prettier --write

docs(junction): clarify shared column DML behavior in code comments
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
Due: eslint, prettier --write

fix: add multiSubnetFailover option for mssql
  docs/docs/drivers/microsoft-sqlserver.md
  src/driver/sqlserver/SqlServerConnectionOptions.ts
Due: eslint, prettier --write

fix: add multiSubnetFailover option for mssql (#10804)
  docs/docs/drivers/microsoft-sqlserver.md
  src/driver/sqlserver/SqlServerConnectionOptions.ts
Due: eslint, prettier --write

test(relations): add comprehensive junction table column naming tests
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  test/functional/relations/junction-table-column-naming/entity/ExplicitGroup.ts
  test/functional/relations/junction-table-column-naming/entity/FullyImplicitGroup.ts
  test/functional/relations/junction-table-column-naming/entity/PartialExplicitGroup.ts
  test/functional/relations/junction-table-column-naming/junction-table-column-naming.ts
  test/functional/relations/junction-table-column-naming/memory-logger.ts
Due: eslint, prettier --write

refactor(junction): remove preserveSharedColumns configuration options
  src/decorator/options/JoinColumnOptions.ts
  src/decorator/options/JoinTableMultipleColumnsOptions.ts
  src/decorator/relations/JoinColumn.ts
  src/decorator/relations/JoinTable.ts
  src/metadata-args/JoinColumnMetadataArgs.ts
  src/metadata-args/JoinTableMetadataArgs.ts
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  test/github-issues/11682/entity/GroupPreserved.ts
  test/github-issues/11682/entity/GroupRenamed.ts
  test/github-issues/11682/entity/UserPreserved.ts
  test/github-issues/11682/entity/UserRenamed.ts
  test/github-issues/11682/issue-11682.ts
  test/github-issues/11682/memory-logger.ts
Due: eslint, prettier --write

fix(junction): respect explicit column names in junction tables
  src/metadata-builder/JunctionEntityMetadataBuilder.ts
  src/metadata/ColumnMetadata.ts
Due: eslint, prettier --write

Revert "no OrFail"
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

cleanuop
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

test(schema): add real ALTER COLUMN tests for varchar length increase/reduce
  src/query-builder/QueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  src/query-runner/BaseQueryRunner.ts
  src/util/ensureColumnMinLength.ts
  test/functional/query-runner/change-column.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

init commands
  src/commands/InitCommand.ts
Due: eslint, prettier --write

ci: test better-sqlite3 on a matrix of os/node/version
  .github/actions/build/action.yml
  .github/workflows/test-better-sqlite3.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .gitignore
Due: none

fix
  .github/actions/build/action.yml
  .github/workflows/test-better-sqlite3.yml
Due: none

typo
  .github/actions/build/action.yml
Due: none

cleanup
  .github/actions/build/action.yml
Due: none

bump better-sqlite3
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Move current top-level implimentation into driver scope as per @coderabbitai recommendation
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  src/query-runner/BaseQueryRunner.ts
  src/util/ensureColumnMinLength.ts
Due: eslint, prettier --write

Update src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sap/SapQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/mysql/MysqlQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
