Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,mjs,toml,yml,yaml}": ["prettier --write"]
}

test(persistence): add orphanedRowAction tests for @OneToMany
  test/functional/persistence/orphanage/one-to-many-action/entity/Article.ts
  test/functional/persistence/orphanage/one-to-many-action/entity/Author.ts
  test/functional/persistence/orphanage/one-to-many-action/one-to-many-orphan-action.test.ts
Due: eslint --fix, prettier --write

refactor(test): consolidate orphanedRowAction tests under persistence/orphanage
  test/functional/persistence/orphanage/delete/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/entity/Post.ts
  test/functional/persistence/orphanage/soft-delete/soft-delete-orphans.test.ts
  test/functional/relations/orphaned-row-action/entity/Category.ts
  test/functional/relations/orphaned-row-action/entity/Post.ts
Due: eslint --fix, prettier --write

refactor(test): remove unnecessary orphanedRowAction from unrelated tests
  test/github-issues/10431/entity/Product.ts
  test/github-issues/8221/entity/Setting.ts
  test/github-issues/9944/entity/C.ts
Due: eslint --fix, prettier --write

chore(migration): format CockroachQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint --fix, prettier --write

refactor(test): organize orphanage tests by action and relation type
  test/functional/persistence/orphanage/delete/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/entity/Category.ts
  test/functional/persistence/orphanage/delete/entity/Post.ts
  test/functional/persistence/orphanage/delete/many-to-one/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Post.ts
  test/functional/persistence/orphanage/delete/one-to-many/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/one-to-many/entity/Article.ts
  test/functional/persistence/orphanage/delete/one-to-many/entity/Author.ts
  test/functional/persistence/orphanage/disable/entity/Setting.ts
  test/functional/persistence/orphanage/disable/many-to-one/disable-orphanage.test.ts
  test/functional/persistence/orphanage/disable/many-to-one/entity/Setting.ts
  test/functional/persistence/orphanage/disable/many-to-one/entity/User.ts
  test/functional/persistence/orphanage/nullify/one-to-many/entity/Child.ts
  test/functional/persistence/orphanage/nullify/one-to-many/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/one-to-many/nullify-orphans.test.ts
  test/functional/persistence/orphanage/one-to-many-action/entity/Article.ts
  test/functional/persistence/orphanage/one-to-many-action/one-to-many-orphan-action.test.ts
  test/functional/persistence/orphanage/soft-delete/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/entity/Post.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Post.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/soft-delete-orphans.test.ts
Due: eslint --fix, prettier --write

test(persistence): add missing orphanedRowAction test variants
  test/functional/persistence/orphanage/disable/one-to-many/disable-orphanage.test.ts
  test/functional/persistence/orphanage/disable/one-to-many/entity/Setting.ts
  test/functional/persistence/orphanage/disable/one-to-many/entity/User.ts
  test/functional/persistence/orphanage/nullify/many-to-one/entity/Child.ts
  test/functional/persistence/orphanage/nullify/many-to-one/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/many-to-one/nullify-orphans.test.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/entity/Post.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/soft-delete-orphans.test.ts
Due: eslint --fix, prettier --write

fix: prevent bigint precision loss in single JoinColumn path (#12337)
  src/metadata/ColumnMetadata.ts
Due: eslint --fix, prettier --write

fix: address SonarCloud issues in orphanedRowAction code
  src/metadata/RelationMetadata.ts
  test/functional/persistence/orphanage/delete/many-to-one/delete-orphans.test.ts
  test/functional/persistence/orphanage/disable/many-to-one/disable-orphanage.test.ts
Due: eslint --fix, prettier --write

refactor(metadata): simplify isOrphanedRowActionSet check
  src/metadata/RelationMetadata.ts
Due: eslint --fix, prettier --write

fix(persistence): skip inert subject when inverse relation is missing
  src/persistence/subject-builder/OneToManySubjectBuilder.ts
Due: eslint --fix, prettier --write

docs(relations): document orphanedRowAction on @OneToMany
  docs/docs/relations/1-relations.md
Due: prettier --write

test(persistence): add non-nullable FK fallback test, remove metadata tests
  test/functional/persistence/orphanage/delete/one-to-many/delete-orphans.test.ts
  test/functional/persistence/orphanage/nullify/non-nullable-fk/entity/Child.ts
  test/functional/persistence/orphanage/nullify/non-nullable-fk/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/non-nullable-fk/nullify-non-nullable-fk.test.ts
Due: eslint --fix, prettier --write

refactor!: restrict orphanedRowAction to @OneToMany only
  src/decorator/options/RelationOptions.ts
  src/decorator/relations/OneToMany.ts
  src/metadata-args/RelationMetadataArgs.ts
  src/metadata/RelationMetadata.ts
  src/persistence/subject-builder/OneToManySubjectBuilder.ts
  test/functional/persistence/orphanage/delete/many-to-one/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Post.ts
  test/functional/persistence/orphanage/disable/many-to-one/entity/Setting.ts
  test/functional/persistence/orphanage/disable/many-to-one/entity/User.ts
  test/functional/persistence/orphanage/nullify/many-to-one/entity/Child.ts
  test/functional/persistence/orphanage/nullify/many-to-one/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/many-to-one/nullify-orphans.test.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Post.ts
  test/functional/relations/multiple-primary-keys/multiple-primary-keys-one-to-many/entity/Setting.ts
Due: eslint --fix, prettier --write

feat(codemod): add transform for orphanedRowAction on @ManyToOne
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/src/transforms/v1/relation-orphaned-row-action.ts
Due: eslint --fix, prettier --write

docs(relations): add orphaned row handling section and migration guide
  docs/docs/relations/1-relations.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

style: fix lint and formatting issues
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint --fix, prettier --write

style: fix lint and formatting issues
  test/functional/logger/custom-logger.test.ts
Due: eslint --fix, prettier --write

style: fix lint and formatting issues
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: prettier --write

style: fix lint and formatting issues
  test/functional/persistence/one-to-many-lazy/persistence-one-to-many-lazy.test.ts
Due: eslint --fix, prettier --write

style: fix lint and formatting issues
  src/query-builder/relation-id/RelationIdMetadataToAttributeTransformer.ts
  test/functional/query-builder/relation-id/select-behavior/relation-id-select-behavior.test.ts
Due: eslint --fix, prettier --write

style: fix lint and formatting issues
  src/driver/postgres/PostgresDriver.ts
Due: eslint --fix, prettier --write

feat(persistence): deprecate implicit orphanedRowAction default
  src/decorator/options/RelationOptions.ts
  src/entity-schema/EntitySchemaRelationOptions.ts
  src/metadata/RelationMetadata.ts
  src/persistence/subject-builder/OneToManySubjectBuilder.ts
Due: eslint --fix, prettier --write

test(persistence): restructure orphanage tests with 3 scenarios per action
  test/functional/persistence/orphanage/delete/many-to-one/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/delete/many-to-one/entity/Post.ts
  test/functional/persistence/orphanage/delete/one-to-many/delete-orphans.test.ts
  test/functional/persistence/orphanage/delete/one-to-many/entity/Author.ts
  test/functional/persistence/orphanage/disable/many-to-one/disable-orphanage.test.ts
  test/functional/persistence/orphanage/disable/many-to-one/entity/Setting.ts
  test/functional/persistence/orphanage/disable/one-to-many/disable-orphanage.test.ts
  test/functional/persistence/orphanage/disable/one-to-many/entity/User.ts
  test/functional/persistence/orphanage/nullify/many-to-one/nullify-orphans.test.ts
  test/functional/persistence/orphanage/nullify/non-nullable-fk/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/nullable-fk/entity/Child.ts
  test/functional/persistence/orphanage/nullify/nullable-fk/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/nullable-fk/nullify-orphans.test.ts
  test/functional/persistence/orphanage/nullify/one-to-many/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/one-to-many/nullify-orphans.test.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/entity/Post.ts
  test/functional/persistence/orphanage/soft-delete/many-to-one/soft-delete-orphans.test.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/entity/Category.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/soft-delete-orphans.test.ts
  test/functional/persistence/orphanage/unset/one-to-many/entity/Child.ts
  test/functional/persistence/orphanage/unset/one-to-many/entity/Parent.ts
  test/functional/persistence/orphanage/unset/one-to-many/unset-orphans.test.ts
Due: eslint --fix, prettier --write

docs(relations): document orphanedRowAction deprecation and simplify section
  docs/docs/relations/1-relations.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

refactor!: rename orphanedRowAction to orphans
  docs/docs/relations/1-relations.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  packages/codemod/src/transforms/v1/index.ts
  packages/codemod/src/transforms/v1/relation-orphaned-row-action.ts
  packages/codemod/src/transforms/v1/relation-orphans.ts
  src/decorator/options/RelationOptions.ts
  src/entity-schema/EntitySchemaRelationOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  src/metadata/RelationMetadata.ts
  src/persistence/subject-builder/OneToManySubjectBuilder.ts
  test/functional/persistence/orphanage/delete/one-to-many/entity/Author.ts
  test/functional/persistence/orphanage/disable/one-to-many/entity/User.ts
  test/functional/persistence/orphanage/nullify/non-nullable-fk/entity/Parent.ts
  test/functional/persistence/orphanage/nullify/nullable-fk/entity/Parent.ts
  test/functional/persistence/orphanage/soft-delete/one-to-many/entity/Category.ts
  test/functional/persistence/orphanage/unset/one-to-many/entity/Parent.ts
  test/functional/persistence/orphanage/unset/one-to-many/unset-orphans.test.ts
Due: eslint --fix, prettier --write

docs(relations): expand orphans migration guide and fix codemod
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  packages/codemod/src/transforms/v1/relation-orphans.ts
Due: eslint --fix, prettier --write

fix(codemod): rewrite relation-orphans transform to walk decorators via ClassProperty
  packages/codemod/src/transforms/v1/relation-orphans.ts
  packages/codemod/test/transforms/v1/fixtures/relation-orphans/relation-orphans.input.ts
  packages/codemod/test/transforms/v1/fixtures/relation-orphans/relation-orphans.output.ts
  src/metadata/RelationMetadata.ts
Due: eslint --fix, prettier --write

fix: escape identifiers in useIndex() and setLock lockTables
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

style(persistence): address SonarCloud issues in orphans code
  packages/codemod/src/transforms/v1/relation-orphans.ts
  packages/codemod/test/transforms/v1/fixtures/relation-orphans/relation-orphans.input.ts
  packages/codemod/test/transforms/v1/fixtures/relation-orphans/relation-orphans.output.ts
  src/persistence/subject-builder/OneToManySubjectBuilder.ts
Due: eslint --fix, prettier --write

refactor(docs): extract shared database metadata constant
  docs/src/components/tabs/database-tabs.tsx
  docs/src/constants/databases.ts
  docs/src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor(docs): type DatabaseTab value against DatabaseName
  docs/src/components/tabs/database-tabs.tsx
Due: none

style(lint-staged): include tsx files
  .lintstagedrc.json
Due: prettier --write

refactor(docs): validate DatabaseTabs children
  docs/src/components/tabs/database-tabs.tsx
Due: none

fix: use ALTER COLUMN instead of DROP/ADD for type changes (#3357)
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/migrations/column-type-change/column-type-change.ts
  test/functional/migrations/column-type-change/entity/Post.ts
Due: eslint --fix, prettier --write

refactor(tests): improve import statements and enhance before hook readability in driver-utils tests
  test/functional/driver/driver-utils.test.ts
Due: eslint --fix, prettier --write

fix: address bot feedback on MySQL and Oracle drivers
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
Due: eslint --fix, prettier --write

fix(docs): unindent admonition closings in indexes guide
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

fix: refine change detection and MODIFY syntax for MySQL/Oracle
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
Due: eslint --fix, prettier --write

fix(docs): quote user table in PostgreSQL EXPLAIN example
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none

fix(docs): correct Spanner execution plan example
  docs/docs/performance-optimization/3-using-indexes.mdx
Due: none
