Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

ci: bump actions/checkout version
  .github/workflows/codeql.yml
  .github/workflows/commit-validation.yml
  .github/workflows/docsearch.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
Due: none

initial commit (#11711)
  docs/.gitignore
  docs/docusaurus.config.ts
Due: eslint, prettier --write

ci: bump actions/checkout version (#11712)
  .github/workflows/codeql.yml
  .github/workflows/commit-validation.yml
  .github/workflows/docsearch.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
Due: none

Fix mssql ci test fail, commit @coderabbitai's suggestion/fix
  src/driver/sap/SapQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Fix sqljs family ci test fail
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Apply @coderabbitai fix, remove duplication caused by twice commit
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

avn > fnm
  DEVELOPER.md
Due: none

avn > fnm
  .github/workflows/codeql.yml
  .github/workflows/docsearch.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  docs/.gitignore
  docs/docusaurus.config.ts
  docs/src/pages/markdown-page.md
  eslint.config.mjs
  gulpfile.ts
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  src/driver/mongodb/typings.ts
  src/driver/postgres/PostgresDriver.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

Fix typos in documentation
  docs/docs/advanced-topics/1-migrations.md
  docs/docs/advanced-topics/3-indices.md
  docs/docs/advanced-topics/4-listeners-and-subscribers.md
  docs/docs/help/3-decorator-reference.md
  docs/docs/query-runner.md
Due: none

ci: harmonize MongoDB version used in CI and local development environment and bump to v8 (#11704)
  .github/workflows/tests-linux.yml
  docker-compose.yml
  src/commands/InitCommand.ts
Due: eslint, prettier --write

Somehow half my changes were committed. I've fixed these up now.
  src/data-source/DataSource.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/query-runner/QueryRunner.ts
Due: eslint, prettier --write

Fixing incorrect assertio
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write

Fixing spacing in docs
  docs/docs/query-runner.md
Due: none

Fixing spacing in select qb docs
  docs/docs/query-builder/1-select-query-builder.md
Due: none

Added recordsets to QueryResult. I've double-checked all the required changes again as it seems none of what I changed was actually committed.
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

Rename test
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write

Simplified test stub and removed conditional
  docs/docs/query-runner.md
  package-lock.json
  package.json
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write, sort-package-json

Removed duplicate test.
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write

Removed test for entityManager.query() due to delegation to dataSource.query()
  test/functional/query-runner/structured-result.ts
Due: eslint, prettier --write

Restoring query-runner docs. Accidental deletion.
  docs/docs/query-runner.md
Due: none

Restored eslint to original version and removed .history from gitignore.
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add support UPDATE FROM in update query builder
  src/driver/Driver.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mongodb/MongoDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/error/FromOnUpdateNotSupportedError.ts
  src/query-builder/QueryBuilder.ts
  src/query-builder/QueryExpressionMap.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/functional/query-builder/update/entity/UserNameMap.ts
  test/functional/query-builder/update/query-builder-update.ts
Due: eslint, prettier --write

fix: prefer user defined junction metadata over auto generated to preserve m2m inserts
  src/data-source/DataSource.ts
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
  test/github-issues/11637/issue-11637.ts
Due: eslint, prettier --write

style: remove commented out code in FindOptionsUtils
  src/find-options/FindOptionsUtils.ts
Due: eslint, prettier --write

Remove "...And simplicity..." confusing paragraph in 1-active-record-data-mapper.md
  docs/docs/guides/1-active-record-data-mapper.md
Due: none

Remove "...And simplicity..." confusing paragraph in 1-active-record-data-mapper.md (#11722)
  docs/docs/guides/1-active-record-data-mapper.md
Due: none

fix: clarify junction metadata precedence comments and drop redundant test
  src/data-source/DataSource.ts
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

Format test with prettier
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

Fix: dropUniqueConstraint fails to drop when constraint name is autogenerated
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Use expect length in test
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

Add test to drop unnamed unique constraint
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

Fix test with recommendations
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

Cleanup test
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

Fix test with nitpick recommendations
  test/functional/query-runner/drop-unique-constraint.ts
Due: eslint, prettier --write

test: restore junction metadata coverage without driver override
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

fix: align auto junction metadata with user-defined join entities
  src/metadata-builder/EntityMetadataBuilder.ts
Due: eslint, prettier --write

fix: deduplicate auto junction metadata before building metadata map
  src/data-source/DataSource.ts
  src/metadata-builder/EntityMetadataBuilder.ts
Due: eslint, prettier --write

fix: deduplicate junction metadata before caching lookups
  src/data-source/DataSource.ts
Due: eslint, prettier --write

chore: remove stale comment in metadata lookup
  src/data-source/DataSource.ts
Due: eslint, prettier --write

Add drop unique constraint name check on other query runner drivers
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write
