Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(driver): escape internal quotes in driver escape() method
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/unit/driver/escape-identifier.test.ts
Due: eslint --fix, prettier --write

test(query-builder): joins should include database schema in table name in the generated query
  test/functional/multi-schema-and-database/custom-schema-joins/custom-schema-joins.test.ts
  test/functional/multi-schema-and-database/custom-schema-joins/entity/Course.ts
  test/functional/multi-schema-and-database/custom-schema-joins/entity/Lesson.ts
  test/functional/multi-schema-and-database/custom-schema-joins/entity/StudyPlan.ts
  test/functional/multi-schema-and-database/custom-schema-joins/entity/StudyPlanCourse.ts
Due: eslint --fix, prettier --write

fix: create method should not reload relations when entity already loaded
  src/metadata-builder/EntityMetadataBuilder.ts
  src/metadata/ColumnMetadata.ts
  src/metadata/RelationMetadata.ts
  src/query-builder/RelationLoader.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/embedded-lazy-relation.test.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Author.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/NestedPost.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Post.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/PostAuthor.ts
  test/functional/relations/lazy-relations/embedded-lazy-relation/entity/Profile.ts
Due: eslint --fix, prettier --write

build(gulp): remove gulpclass dependency and modernize build pipeline
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests.yml
  .prettierignore
  gulpfile.ts
  package.json
  pnpm-lock.yaml
  tsconfig.browser.json
  tsconfig.json
  tsconfig.package.json
Due: eslint --fix, prettier --write

Update PR commands and configuration settings
  .pr_agent.toml
Due: prettier --write

fix(oracle,spanner): use driver.escape() for database identifiers in DDL methods
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
Due: eslint --fix, prettier --write

ci(qodo): turn off progress comments and agentic describe (#12225)
  .pr_agent.toml
Due: prettier --write

fix(relations): deduplicate join alias for self-referencing query strategy
  src/query-builder/RelationLoader.ts
  temp/.gitignore
  test/functional/relations/self-referencing-query/entity/Category.ts
  test/functional/relations/self-referencing-query/self-referencing-query.test.ts
  test/github-issues/9936/entity/classification.ts
  test/github-issues/9936/issue-9936.test.ts
Due: eslint --fix, prettier --write

fix(relations): replace non-null assertions with optional chaining in tests
  test/functional/relations/self-referencing-query/self-referencing-query.test.ts
Due: eslint --fix, prettier --write

fix(relations): use buildAlias for join alias length safety
  src/query-builder/RelationLoader.ts
Due: eslint --fix, prettier --write

fix(relations): use uuid primary key for cockroachdb compatibility in test
  test/functional/relations/self-referencing-query/entity/Category.ts
Due: eslint --fix, prettier --write

fix(query-builder): resolve alias collision for self-referencing relations with query load strategy (#11066)
  src/query-builder/RelationLoader.ts
  temp/.gitignore
  test/functional/relations/self-referencing-query/entity/Category.ts
  test/functional/relations/self-referencing-query/self-referencing-query.test.ts
Due: eslint --fix, prettier --write

fix(sqlserver): revert unnecessary .gitignore change
  .gitignore
Due: none

fix(sqlserver): move structured-result test to unit tests
  test/unit/query-runner/structured-result.test.ts
Due: eslint --fix, prettier --write

fix(sqlserver): use before/after pattern in migration guide
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

fix(sqlserver): remove deprecation notes from docs (v1 is a major release)
  docs/docs/query-runner.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
Due: prettier --write

fix(query-builder): fix typo, remove redundant replacePropertyNames calls, update and add tests
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint --fix, prettier --write

test(json): merge github-issue-204 into json/basic-jsonb (#12190)
  test/functional/json/basic-jsonb/postgres/jsonb.test.ts
  test/github-issues/204/entity/Record.ts
  test/github-issues/204/entity/RecordConfig.ts
  test/github-issues/204/entity/RecordData.ts
  test/github-issues/204/issue-204.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): update eager relations test regex for parenthesized joins
  test/functional/relations/eager-relations/basic-eager-relations/basic-eager-relations.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): replace non-null assertions with optional chaining in join tests
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): clarify parentless join lookup logic
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(query-runner): parameterize queries and escape identifiers to prevent SQL injection (#12207)
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/query-runner/sql-injection/sql-injection.test.ts
  test/unit/driver/escape-identifier.test.ts
Due: eslint --fix, prettier --write

test(entity-listeners): add tests for listeners with entity inheritance
  src/metadata/EmbeddedMetadata.ts
  test/functional/entity-listeners/entity-listeners.test.ts
  test/functional/entity-listeners/entity/ChildA.ts
  test/functional/entity-listeners/entity/ChildB.ts
  test/functional/entity-listeners/entity/Parent.ts
Due: eslint --fix, prettier --write

fix(query-runner): use ALTER instead of DROP+ADD for column type/length changes
  package-lock.json
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  test/functional/query-runner/change-column.test.ts
Due: eslint --fix, prettier --write

chore: remove auto-generated package-lock.json
  package-lock.json
Due: prettier --write

fix(query-builder): move inline examples to jsdoc in createJoinExpression
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(query-builder): remove unnecessary spaces inside join parentheses
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint --fix, prettier --write

refactor(query-builder): extract buildJoinClause helper to reduce duplication
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(query-runner): fix column name in SET DEFAULT before RENAME and remove any-casts in tests
  src/driver/postgres/PostgresQueryRunner.ts
  test/functional/query-runner/change-column.test.ts
Due: eslint --fix, prettier --write

ci(publish): serialize nightly publish jobs to avoid npm 409 conflict
  .github/workflows/publish-package.yml
Due: prettier --write

fix: multiple inheritance with abstract class and override column properties in derived entity
  src/decorator/columns/ObjectIdColumn.ts
  src/decorator/columns/PrimaryColumn.ts
  src/decorator/columns/PrimaryGeneratedColumn.ts
  src/metadata-args/MetadataArgsStorage.ts
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/mongodb/basic/extending-inheritance/entity/Article.ts
  test/functional/mongodb/basic/extending-inheritance/entity/FinalEntity.ts
  test/functional/mongodb/basic/extending-inheritance/entity/MiddleEntity.ts
  test/functional/mongodb/basic/extending-inheritance/entity/MongoBaseEntity.ts
  test/functional/mongodb/basic/extending-inheritance/extending-inheritance-mongodb.test.ts
  test/functional/table-inheritance/extending/entity/AbstractBase.ts
  test/functional/table-inheritance/extending/entity/Article.ts
  test/functional/table-inheritance/extending/entity/BaseEntity.ts
  test/functional/table-inheritance/extending/entity/FinalEntity.ts
  test/functional/table-inheritance/extending/entity/MiddleEntity.ts
  test/functional/table-inheritance/extending/extending-inheritance.test.ts
Due: eslint --fix, prettier --write

ci(publish): serialize nightly publish jobs to avoid npm 409 conflict (#12228)
  .github/workflows/publish-package.yml
Due: prettier --write

docs: improve migration guide and add v1.0 release notes
  docs/docs/guides/8-migration-v1.md
  docs/docs/guides/9-release-notes-v1.md
Due: prettier --write

build(gulp): copy README, rename node build, embed sources in sourcemaps
  gulpfile.ts
  tsconfig.browser.json
  tsconfig.node.json
Due: eslint --fix, prettier --write

forgot to rename
  .github/workflows/preview.yml
  .github/workflows/tests.yml
Due: prettier --write

docs: clarify NestJS compatibility per michaelbromley feedback
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

docs: fix qodo review feedback (getMigrations, createPropertyPath, grammar)
  docs/docs/guides/8-migration-v1.md
  docs/docs/guides/9-release-notes-v1.md
Due: prettier --write

docs: improve migration guide and add v1.0 release notes (#12229)
  docs/docs/guides/8-migration-v1.md
  docs/docs/guides/9-release-notes-v1.md
Due: prettier --write

test: add dummy file to test Qodo review settings
  temp/qodo-test.txt
Due: none

test: add another line to trigger Qodo re-review
  temp/qodo-test.txt
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
