Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

docsearch fix hopefully
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

feat: add typesense/docsearch-scraper (#11424)
  .github/workflows/docsearch.yml
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

chore: improve linting (#11510)
  .gitignore
  .lintstagedrc.json
  .mocharc.json
  .nycrc
  .nycrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .vscode/settings.json
  codecov.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, sort-package-json

chore: improve linting (fixup)
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
Due: prettier --write, sort-package-json

fix: change allowed_domains property
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

chore: improve linting (fixup) (#11511)
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
Due: prettier --write, sort-package-json

uppercase P in Postgres
  docs/docs/advanced-topics/3-indices.md
Due: none

revert concurrency changes
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Due: none

revert indexing changes
  docs/docsearch-scraper-config.json
Due: prettier --write, sort-package-json

revert concurrency in more files
  .github/workflows/preview.yml
Due: none

fix: fix up doc search workflow
  .github/workflows/docsearch.yml
Due: none

fix: fix up doc search workflow (#11513)
  .github/workflows/docsearch.yml
Due: none

feat(docs): add Plausible analytics script to Docusaurus config
  docs/docusaurus.config.ts
Due: eslint, prettier --write

feat(docs): conditionally include Plausible analytics script based on environment
  docs/docusaurus.config.ts
Due: eslint, prettier --write

chore: update workflows to ignore changes in docs directory
  .github/workflows/codeql.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
Due: none

chore: remove paths-ignore for docs in preview workflow
  .github/workflows/preview.yml
Due: none

chore: update workflows to ignore changes in docs directory (#11518)
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Due: none

feat(docs): add Plausible analytics script to Docusaurus config (#11517)
  docs/docusaurus.config.ts
Due: eslint, prettier --write

add MySQL-specific type checks to closure-table tests
  test/functional/tree-tables/closure-table/closure-table.ts
Due: eslint, prettier --write

chore(ci): avoid duplicate CI runs for pushes to non-fork PRs
  .github/workflows/test.yml
Due: none

feat(sap): use the native driver for connection pooling
  README-zh_CN.md
  README.md
  README_ko.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/getting-started.md
  package-lock.json
  package.json
  sample/playground/package-lock.json
  sample/playground/package.json
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mongodb/MongoDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/platform/PlatformTools.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/driver/postgres/connection-options.ts
  test/functional/driver/sap/connection-pool.ts
  test/functional/query-builder/convert-to-entity/convert-to-entity.ts
  test/functional/query-builder/convert-to-entity/entity/Post.ts
Due: eslint, prettier --write, sort-package-json

docs: add note about using YugabyteDB to docs
  docs/docs/data-source/2-data-source-options.md
Due: none

docs: add note about using YugabyteDB to docs (#11521)
  docs/docs/data-source/2-data-source-options.md
Due: none

fix: improve async calls on disconnect
  sample/playground/package-lock.json
  sample/playground/package.json
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mongodb/MongoDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/driver/postgres/connection-options.ts
  test/functional/query-builder/convert-to-entity/convert-to-entity.ts
  test/functional/query-builder/convert-to-entity/entity/Post.ts
Due: eslint, prettier --write, sort-package-json

perf: avoid unnecessary count on getManyAndCount
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/entity/Post.ts
  test/other-issues/lazy-count/lazy-count.ts
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

duckdb WIP
  DUCKDB_USAGE_EXAMPLE.md
  src/data-source/DataSourceOptions.ts
  src/driver/DriverFactory.ts
  src/driver/duckdb/DuckDBConnectionOptions.ts
  src/driver/duckdb/DuckDBDriver.ts
  src/driver/duckdb/DuckDBQueryRunner.ts
  src/driver/types/DatabaseType.ts
Due: eslint, prettier --write

feat(sap): add support for Real Vector data type
  docs/docs/entity/1-entities.md
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
  test/functional/database-schema/column-types/sap/entity/Embedding.ts
  test/functional/database-schema/column-types/sap/entity/Post.ts
  test/functional/database-schema/column-types/sap/entity/PostWithOptions.ts
  test/functional/database-schema/column-types/sap/entity/PostWithoutTypes.ts
Due: eslint, prettier --write

fix: remove fallback for REAL_VECTOR
  src/driver/sap/SapDriver.ts
  src/metadata-builder/EntityMetadataValidator.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
Due: eslint, prettier --write

fix: when using take, skip should be preferred to offset
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

fix: refactor and clean
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

chore(docs): improve website generation config
  docs/docs/data-source/4-data-source-api.md
  docs/docs/guides/7-sql-tag.md
  docs/docs/sql-tag.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/static/robots.txt
Due: eslint, prettier --write, sort-package-json

chore(docs): improve website generation config (#11527)
  docs/docs/data-source/4-data-source-api.md
  docs/docs/guides/7-sql-tag.md
  docs/docs/sql-tag.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/static/robots.txt
Due: eslint, prettier --write, sort-package-json

test: fix async test
  package.json
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/github-issues/320/issue-320.ts
Due: eslint, prettier --write, sort-package-json

feat(driver): optimize column length changes for string types
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

test(github-issues): add test for column alteration preserving data
  test/github-issues/3357/entity/Post.ts
  test/github-issues/3357/issue-3357.ts
Due: eslint, prettier --write

docs: add smart column alterations section to migrations documentation
  docs/docs/advanced-topics/1-migrations.md
Due: none

refactor(driver): improve column length change handling across drivers
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write
