Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

run lint on docs
  .github/workflows/commit-validation.yml
Due: none

rever on docs
  .github/workflows/commit-validation.yml
Due: none

remove test matrix based on nvmrc
  .github/workflows/commit-validation.yml
  .github/workflows/tests-linux.yml
Due: none

one more
  .github/workflows/commit-validation.yml
Due: none

Update .github/workflows/commit-validation.yml
  .github/workflows/commit-validation.yml
Due: none

ci: remove docs ignore
  .github/workflows/commit-validation.yml
Due: none

small cleanup
  .github/workflows/commit-validation.yml
Due: none

spanner
  src/driver/spanner/SpannerQueryRunner.ts
Due: eslint, prettier --write

docs: fix broken migration links (#11760)
  .github/workflows/commit-validation.yml
  docs/docs/getting-started.md
  docs/redirects.ts
Due: eslint, prettier --write

pure docs
  .github/workflows/commit-validation.yml
Due: none

force test run
  .github/workflows/commit-validation.yml
Due: none

ci: prevent running docs index on forks
  .github/workflows/docsearch.yml
Due: none

ix
  .github/workflows/commit-validation.yml
Due: none

ci: test if docs build and run task depending on the changes from PR (#11761)
  .github/workflows/commit-validation.yml
Due: none

nvmrc
  .github/workflows/commit-validation.yml
Due: none

fix
  .github/workflows/commit-validation.yml
Due: none

ci: add single step to validate if all tests passed
  .github/workflows/tests.yml
Due: none

dont run tests on workflow changes
  .github/workflows/tests.yml
Due: none

sap
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

ReactNative
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/react-native/ReactNativeQueryRunner.ts
Due: eslint, prettier --write

Postgres
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Oracle
  src/driver/oracle/OracleDriver.ts
  src/driver/oracle/OracleQueryRunner.ts
Due: eslint, prettier --write

rever accid
  .github/workflows/commit-validation.yml
Due: none

add .nvmrc to change detection
  .github/workflows/commit-validation.yml
Due: none

cleanup
  .github/workflows/commit-validation.yml
Due: none

run tests when workflow setup changes
  .github/workflows/tests.yml
Due: none

ci: control development and CI version of Node.js via .nvmrc (#11708)
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .nvmrc
  DEVELOPER.md
Due: none

ci: add single step to validate if all tests passed (#11763)
  .github/workflows/tests.yml
Due: none

ci: prevent running docs index on forks (#11762)
  .github/workflows/docsearch.yml
Due: none

fix: fix redis version detection logic
  src/cache/RedisQueryResultCache.ts
  test/unit/cache/redis-query-result-cache.ts
Due: eslint, prettier --write

fix CodeRabbit review issues
  docs/docs/entity/1-entities.md
  sample/sample37-vector-sqlserver/app.ts
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint, prettier --write

Apply suggestion from @coderabbitai[bot]
  docs/docs/drivers/microsoft-sqlserver.md
Due: none

feat: support vector for MS SQL Server
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/entity/1-entities.md
  sample/sample37-vector-sqlserver/README.md
  sample/sample37-vector-sqlserver/app.ts
  sample/sample37-vector-sqlserver/entity/Document.ts
  sample/sample37-vector-sqlserver/entity/DocumentChunk.ts
  sample/sample37-vector-sqlserver/package.json
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/vectors/sqlserver/entity/DocumentChunk.ts
  test/functional/database-schema/vectors/sqlserver/entity/Point.ts
  test/functional/database-schema/vectors/sqlserver/vector.ts
Due: eslint, prettier --write, sort-package-json

fix native MS SQL vector type conversion by CodeRabbit
  docs/docs/entity/1-entities.md
  src/driver/sqlserver/MssqlParameter.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

fix sample app code style issues found by CodeRabbit
  sample/sample37-vector-sqlserver/app.ts
Due: eslint, prettier --write

fix documentation, style isseus found by CodeRabbit
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/entity/1-entities.md
  sample/sample37-vector-sqlserver/README.md
  src/driver/sqlserver/MssqlParameter.ts
Due: eslint, prettier --write

Apply suggestion from @coderabbitai[bot]
  src/driver/sqlserver/SqlServerDriver.ts
Due: eslint, prettier --write

dump MS SQL image version
  .github/workflows/tests-linux.yml
  docker-compose.yml
  sample/sample37-vector-sqlserver/app.ts
  src/commands/InitCommand.ts
Due: eslint, prettier --write

feat: MS SQL vestor support, correct vector field length load from DB
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/database-schema/vectors/sqlserver/vector.ts
Due: eslint, prettier --write
