Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

Applying @coderabbitai commitable suggestion, fix syntax error in CockroachQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fixed tests
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

fixed
  eslint.config.mjs
  package-lock.json
Due: prettier --write, sort-package-json

fixed
  eslint.config.mjs
Due: none

Update src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/mysql/MysqlQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sap/SapQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

Commit @coderabbitai' suggestions
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

Fix pending issues
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

Fix fast-return
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

refactor length guard/condition as per latest @coderabbitai suggestion
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

Refactor query as per @coderabbitai' suggestion
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

ci: introduce jsdoc eslint plugin (warnings only) (#11681)
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add support for `jsonpath` column type in PostgreSQL (#11684)
  docs/docs/drivers/postgres.md
  src/driver/postgres/PostgresDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/entity/JsonPathExample.ts
  test/functional/database-schema/column-types/postgres/entity/Post.ts
  test/functional/database-schema/column-types/postgres/jsonpath-postgres.ts
Due: eslint, prettier --write

fix: virtual property handling in schema builder
  src/schema-builder/RdbmsSchemaBuilder.ts
  test/github-issues/10999/entity/entity-with-virtual-column.ts
  test/github-issues/10999/issue-10999.ts
  test/github-issues/10999/migration/1721739455264-init.ts
Due: eslint, prettier --write

feat: entity schema support trees
  src/entity-schema/EntitySchemaOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  test/functional/entity-schema/trees/nested-set/entity/Category.ts
  test/functional/entity-schema/trees/nested-set/nested-set.ts
Due: eslint, prettier --write

feat: entity schema support trees (#11606)
  src/entity-schema/EntitySchemaOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  test/functional/entity-schema/trees/nested-set/entity/Category.ts
  test/functional/entity-schema/trees/nested-set/nested-set.ts
Due: eslint, prettier --write

code review fix
  src/migration/MigrationExecutor.ts
Due: eslint, prettier --write

Fix lint error
  src/driver/cockroachdb/CockroachQueryRunner.ts
Due: eslint, prettier --write

Fix formatting fail
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

docs: update README files for node 20 minimum support
  README-zh_CN.md
  README.md
  README_ko.md
Due: none

build: fix type errors
  src/driver/aurora-postgres/AuroraPostgresDriver.ts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/capacitor/CapacitorDriver.ts
  src/driver/cordova/CordovaDriver.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/repository/MongoRepository.ts
  test/functional/query-runner/stream.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

feat!: drop support for node 16 and 18
  .github/workflows/commit-validation.yml
  .github/workflows/tests-linux.yml
  gulpfile.ts
  ormconfig.sample.json
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

Move tests to correct path
  test/functional/util/OrmUtils.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

Fix missing import
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Working on more polished version
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Better structure
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Fix incorrect order
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

ci: setup tests on node 24
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  package-lock.json
Due: prettier --write, sort-package-json

Revert "ci: add close stale issues GH action (#11651)"
  .github/workflows/close-stale-issues.yml
Due: none

feat!: drop support for node 16 and 18 (#11382)
  .github/workflows/commit-validation.yml
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  README-zh_CN.md
  README.md
  README_ko.md
  gulpfile.ts
  ormconfig.sample.json
  package-lock.json
  package.json
  src/commands/InitCommand.ts
  src/driver/aurora-postgres/AuroraPostgresDriver.ts
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/capacitor/CapacitorDriver.ts
  src/driver/cordova/CordovaDriver.ts
  src/driver/expo/ExpoDriver.ts
  src/driver/expo/legacy/ExpoLegacyDriver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/repository/MongoRepository.ts
  test/functional/query-runner/stream.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

chore: update dependencies
  package-lock.json
  package.json
  src/cli.ts
Due: eslint, prettier --write, sort-package-json

chore: update dependencies (#11697)
  package-lock.json
  package.json
  src/cli.ts
Due: eslint, prettier --write, sort-package-json

chore: update chai
  DEVELOPER.md
  package-lock.json
  package.json
  test/github-issues/3105/issue-3105.ts
  test/github-issues/3837/issue-3837.ts
  test/utils/test-setup.ts
  test/utils/xfail.ts
Due: eslint, prettier --write, sort-package-json

chore: update chai (#11698)
  DEVELOPER.md
  package-lock.json
  package.json
  test/github-issues/3105/issue-3105.ts
  test/github-issues/3837/issue-3837.ts
  test/utils/test-setup.ts
  test/utils/xfail.ts
Due: eslint, prettier --write, sort-package-json
