Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*/**/*.json": ["prettier --write"],
  "./*.json": ["sort-package-json", "prettier --write"]
}

format
  docs/redirects.ts
Due: eslint, prettier --write

style: remove commented out code in FindOptionsUtils (#11721)
  src/find-options/FindOptionsUtils.ts
Due: eslint, prettier --write

Update README.md
  README.md
Due: none

single redirect
  docs/redirects.ts
Due: eslint, prettier --write

fix bad merge
  docs/docs/advanced-topics/3-indices.md
Due: none

docs: fix typos in documentation
  src/decorator/tree/TreeChildren.ts
  src/decorator/tree/TreeParent.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-runner/QueryRunner.ts
  test/functional/entity-schema/uniques/uniques-basic.ts
Due: eslint, prettier --write

auto-run
  docs/docs/data-source/2-data-source-options.md
Due: none

restore cli
  docs/docs/advanced-topics/6-using-cli.md
Due: none

Update src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mongodb/MongoQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sap/SapQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
Due: eslint, prettier --write

Update src/driver/sqlserver/SqlServerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

fix
  src/driver/mongodb/MongoQueryRunner.ts
Due: eslint, prettier --write

add migration create
  docs/docs/advanced-topics/6-using-cli.md
Due: none

fix postgresql syntax
  docs/docs/migrations/01-why.md
Due: none

docs: collect all migrations documentation in one place (#11674)
  docs/docs/advanced-topics/3-indices.md
  docs/docs/advanced-topics/6-using-cli.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/entity/5-view-entities.md
  docs/docs/getting-started.md
  docs/docs/help/1-faq.md
  docs/docs/migrations/01-why.md
  docs/docs/migrations/02-setup.md
  docs/docs/migrations/03-creating.md
  docs/docs/migrations/04-generating.md
  docs/docs/migrations/05-executing.md
  docs/docs/migrations/06-reverting.md
  docs/docs/migrations/07-status.md
  docs/docs/migrations/08-faking.md
  docs/docs/migrations/09-api.md
  docs/docs/migrations/10-extra.md
  docs/docs/migrations/11-vite.md
  docs/redirects.ts
  docs/sidebars.ts
Due: eslint, prettier --write

more fixes
  test/functional/migrations/show-command/migration/1530542855524-ExampleMigration.ts
  test/functional/migrations/show-command/migration/1530542855524-ExampleMigrationTwo.ts
  test/functional/relations/multiple-primary-keys/multiple-primary-keys-many-to-many/entity/Post.ts
  test/functional/table-inheritance/single-table/relations/many-to-many/entity/Teacher.ts
  test/functional/table-inheritance/single-table/relations/one-to-many/entity/Teacher.ts
  test/github-issues/1504/entity/TestEntity1.ts
  test/github-issues/1504/entity/TestEntity2.ts
  test/github-issues/1504/entity/TestEntity3.ts
  test/github-issues/1504/entity/TestEntity4.ts
  test/github-issues/1703/entity/OrganizationEntity.ts
  test/github-issues/1703/entity/UserEntity.ts
  test/github-issues/1703/entity/UserToOrganizationEntity.ts
  test/github-issues/2693/migration/0000000000001-CreateUuidExtension.ts
  test/github-issues/2693/migration/0000000000002-CreateUsers.ts
  test/github-issues/2693/migration/0000000000003-InsertUser.ts
  test/github-issues/2703/memory-logger.ts
  test/github-issues/3158/entity/Session.ts
  test/github-issues/3847/naming/NamingStrategyUnderTest.ts
  test/github-issues/4219/shim.ts
  test/github-issues/4277/issue-4277.ts
  test/github-issues/4701/migration/1567759789051-ExampleMigration.ts
  test/github-issues/4701/migration/1567759832591-ExampleMigrationTwo.ts
  test/github-issues/4701/migration/1571426391120-ExampleMigrationThree.ts
  test/github-issues/56/issue-56.ts
  test/github-issues/58/entity/Post.ts
  test/github-issues/5967/memory-logger.ts
  test/github-issues/6580/issue-6580.ts
  test/github-issues/7087/migration/0000000000001-CreateUsers.ts
  test/github-issues/7087/migration/0000000000002-InsertUser.ts
  test/github-issues/7087/migration/0000000000003-CreateIndex.ts
  test/github-issues/7662/memory-logger.ts
  test/github-issues/8221/entity/SettingSubscriber.ts
  test/github-issues/9266/migrations/init.ts
Due: eslint, prettier --write

more
  test/functional/migrations/show-command/migration/1530542855524-ExampleMigration.ts
Due: eslint, prettier --write

and more
  test/functional/migrations/show-command/migration/1530542855524-ExampleMigrationTwo.ts
  test/functional/view-entity/general/entity/PhotoAlbum.ts
  test/functional/view-entity/mssql/entity/PostCategory.ts
  test/functional/view-entity/mysql/entity/PostCategory.ts
  test/functional/view-entity/oracle/entity/PostCategory.ts
  test/functional/view-entity/postgres/entity/PostCategory.ts
  test/functional/view-entity/sqlite/entity/PostCategory.ts
  test/github-issues/10249/issue-10249.ts
  test/github-issues/10322/issue-10322.ts
  test/github-issues/10322/migration/1530542855524-FailMigration.ts
  test/github-issues/1034/entity/Circle.ts
  test/github-issues/1034/entity/User.ts
  test/github-issues/1055/entity/Child.ts
  test/github-issues/1055/entity/Parent.ts
  test/github-issues/1685/issue-1685.ts
Due: eslint, prettier --write

final
  test/functional/connection/modules/blog/subscriber/TestBlogSubscriber.ts
  test/functional/connection/modules/question/subscriber/TestQuestionSubscriber.ts
  test/functional/connection/modules/video/subscriber/TestVideoSubscriber.ts
  test/functional/connection/subscriber/FirstConnectionSubscriber.ts
  test/functional/connection/subscriber/SecondConnectionSubscriber.ts
  test/functional/multi-database/multi-database-basic-functionality/multi-database-basic-functionality.ts
  test/functional/repository/basic-methods/repository-basic-methods.ts
  test/functional/sqljs/auto-save.ts
  test/functional/transaction/transaction-in-entity-manager/transaction-in-entity-manager.ts
Due: eslint, prettier --write

chore(dev-deps): bump eslint and update config
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

lint: fix offenses for @typescript-eslint/no-unused-vars rule in src folder
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/entity-manager/EntityManager.ts
  src/migration/MigrationExecutor.ts
  src/persistence/EntityPersistExecutor.ts
  src/query-builder/DeleteQueryBuilder.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/RelationLoader.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  src/repository/MongoRepository.ts
  src/schema-builder/RdbmsSchemaBuilder.ts
  src/schema-builder/table/TableForeignKey.ts
  src/subscriber/EntitySubscriberInterface.ts
  src/subscriber/event/QueryEvent.ts
  test/github-issues/11085/subscriber/UserSubscriber.ts
  test/github-issues/3302/subscriber/PostSubscriber.ts
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

docs: fix typos in the js documentation (#11754)
  src/decorator/tree/TreeChildren.ts
  src/decorator/tree/TreeParent.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-runner/QueryRunner.ts
  test/functional/entity-schema/uniques/uniques-basic.ts
Due: eslint, prettier --write

fix
  src/query-builder/RelationLoader.ts
Due: eslint, prettier --write

few more
  src/logger/AbstractLogger.ts
  src/logger/AdvancedConsoleLogger.ts
  src/logger/DebugLogger.ts
  src/logger/FileLogger.ts
  src/logger/SimpleConsoleLogger.ts
  src/metadata/ColumnMetadata.ts
  src/naming-strategy/DefaultNamingStrategy.ts
  src/platform/PlatformTools.ts
  src/query-builder/RelationIdLoader.ts
Due: eslint, prettier --write

some more
  eslint.config.mjs
  src/driver/sqlite/SqliteDriver.ts
  src/driver/sqljs/SqljsDriver.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/error/EntityNotFoundError.ts
  src/error/QueryFailedError.ts
  src/find-options/operator/Raw.ts
Due: eslint, prettier --write

few more
  src/driver/mysql/MysqlDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/metadata/EntityMetadata.ts
  src/persistence/tree/MaterializedPathSubjectExecutor.ts
Due: eslint, prettier --write

fix: circular import in SapDriver.ts (#11750)
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write

chore(dev-deps): bump eslint and update config (#11756)
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Update method to retrieve BASE_NODE_VERSION
  .github/workflows/commit-validation.yml
Due: none

ci: migrate from nyc to c8
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

c8rc
  .c8rc.json
Due: prettier --write, sort-package-json

fix broken migration links
  docs/docs/getting-started.md
  docs/redirects.ts
Due: eslint, prettier --write

ci: test if docs build and run task depending on the changes from PR
  .github/workflows/commit-validation.yml
  .github/workflows/test.yml
Due: none

rename
  .github/workflows/commit-validation.yml
Due: none

remove shell
  .github/workflows/commit-validation.yml
Due: none

workflows for docs
  .github/workflows/commit-validation.yml
Due: none
