Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

chore: bump sha.js from 2.4.11 to 2.4.12 (fix security issue: CVE-2025-9288)
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

test: add unit tests for hash() to ensure sha.js upgrade compatibility
  test/unit/util/string-utils.ts
Due: eslint, prettier --write

removed .only from test/unit/util/string-utils.ts to run all the unit tests
  test/unit/util/string-utils.ts
Due: eslint, prettier --write

fix(hash): ensure negative or zero options.length returns full hash
  src/util/StringUtils.ts
  test/unit/util/string-utils.ts
Due: eslint, prettier --write

added strict +ve number input validation for hash()
  src/util/StringUtils.ts
  test/unit/util/string-utils.ts
Due: eslint, prettier --write

fix(query-builder): getManyAndCount returns incorrect count value for out-of-bounds skip [ISSUE-11640]
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

fix(query-builder): handle empty result set when offset exceeds total (#11634)
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

Undo package.json/package-lock, update the change-column to match the existing pattern
  package-lock.json
  package.json
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write, sort-package-json

chore: add @types/gulp test: fix mocha test my ding mssql cmd
  package.json
  test/ding/mssql.test.ts
Due: eslint, prettier --write, sort-package-json

fix: handle undefined values in where clauses properly
  src/query-builder/SelectQueryBuilder.ts
  test/functional/find-options/basic-usage/find-options-where.ts
  test/functional/repository/basic-methods/repository-basic-methods.ts
Due: eslint, prettier --write

simplified the logic to check number len before applying slice() in StringUtils.ts->hash()
  src/util/StringUtils.ts
Due: eslint, prettier --write

chore: bump sha.js from 2.4.11 to 2.4.12 (fix security issue: CVE-2025-9288) (#11639)
  package-lock.json
  package.json
  src/util/StringUtils.ts
  test/unit/util/string-utils.ts
Due: eslint, prettier --write, sort-package-json

fix: improve updateOnly validation and filtering in upsert operations
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

test: migrate legacy issue-dependent test into integration test
  test/functional/repository/basic-methods/repository-basic-methods.ts
  test/github-issues/11588/entity/User.ts
  test/github-issues/11588/issue-11588.ts
Due: eslint, prettier --write

docs: remove "Note" prefix from UpdateDateColumn text
  docs/docs/help/3-decorator-reference.md
Due: none

docs: remove "Note" prefix from VersionColumn text
  docs/docs/help/3-decorator-reference.md
Due: none

Apply suggestion from @sgarner
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: none

docs: remove "Note" prefix from EntityManager.upsert text
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
Due: none

docs: fix docs for UpdateDateColumn (#11572)
  docs/docs/entity/1-entities.md
  docs/docs/help/3-decorator-reference.md
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  docs/docs/working-with-entity-manager/6-repository-api.md
Due: none

chore: move length check into isColumnChanged, extend support to SpannerQueryRunner, SapQueryRunner, AuroraMysqlQueryRunner, remove PG-specific assertion, add similar length change test for reducing
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/query-runner/BaseQueryRunner.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

Update test/functional/schema-builder/change-column.ts
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

fix: remove duplicated else(s) after commiting coderabbit suggesions
  test/functional/schema-builder/change-column.ts
Due: eslint, prettier --write

cr comments
  src/decorator/columns/Column.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnVectorOptions.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/types/ColumnTypes.ts
  src/metadata/ColumnMetadata.ts
  src/schema-builder/options/TableColumnOptions.ts
  src/schema-builder/table/TableColumn.ts
  src/schema-builder/util/TableUtils.ts
  test/functional/columns/vector/entity/Post.ts
  test/functional/database-schema/vectors/postgres/entity/Post.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
  test/functional/database-schema/vectors/postgres/vector.ts
  test/functional/migrations/vector/vector-test.ts
Due: eslint, prettier --write

fixed docs and removed redundant type
  docs/entities.md
  docs/zh_CN/entities.md
  src/driver/types/ColumnTypes.ts
  src/metadata/ColumnMetadata.ts
Due: eslint, prettier --write

lint
  src/metadata/ColumnMetadata.ts
Due: eslint, prettier --write

lint
  src/decorator/options/ColumnOptions.ts
  src/metadata/ColumnMetadata.ts
Due: eslint, prettier --write

lint
  src/schema-builder/table/TableColumn.ts
Due: eslint, prettier --write

added missing halfvec
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

halfvec tests
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
  test/functional/migrations/vector/0000000000001-CreatePost.ts
  test/functional/migrations/vector/vector-test.ts
Due: eslint, prettier --write

SAP Hana alias
  docs/docs/drivers/sap.md
  docs/docs/entity/1-entities.md
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
Due: eslint, prettier --write

lint
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/schema-builder/options/TableColumnOptions.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
  test/functional/database-schema/vectors/postgres/vector.ts
Due: eslint, prettier --write

add length to vector
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

create extension automagically
  src/driver/postgres/PostgresDriver.ts
Due: eslint, prettier --write

fix tests
  src/driver/postgres/PostgresDriver.ts
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
Due: eslint, prettier --write

fix tests
  test/functional/database-schema/vectors/postgres/vector-similarity.ts
Due: eslint, prettier --write

fix: remove unrelated oracle section from data source options docs
  docs/docs/data-source/2-data-source-options.md
Due: none

cleanup
  docs/docs/data-source/2-data-source-options.md
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
