Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(query-runner): parameterize SQL queries across all drivers (#12197)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/functional/query-runner/has-table.test.ts
Due: eslint --fix, prettier --write

docs: remove server version mentions, add $collStats migration example
  docs/docs/drivers/mongodb.md
  docs/docs/guides/8-migration-v1.md
Due: prettier --write

chore: update pnpm-lock.yaml for mongodb ^7.1.0
  pnpm-lock.yaml
Due: prettier --write

fix: restore promoteBuffers, promoteLongs, promoteValues, raw options
  docs/docs/drivers/mongodb.md
  docs/docs/guides/8-migration-v1.md
  src/driver/mongodb/MongoDataSourceOptions.ts
  src/driver/mongodb/MongoDriver.ts
Due: eslint --fix, prettier --write

fix: restore missing BSONRegExp re-export in typings.ts
  src/driver/mongodb/typings.ts
Due: eslint --fix, prettier --write

style(docs): prettify search results dropdown
  docs/src/css/custom.css
Due: none

style(docs): address PR review feedback
  docs/src/css/custom.css
Due: none

refactor(find-options)!: remove deprecated join option from find methods
  docs/docs/guides/8-migration-v1.md
  sample/sample18-lazy-relations/app.ts
  sample/sample19-one-side-relations/app.ts
  sample/sample21-custom-join-table-column/app.ts
  src/entity-manager/EntityManager.ts
  src/find-options/FindOneOptions.ts
  src/find-options/FindOptionsUtils.ts
  src/find-options/JoinOptions.ts
  src/index.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/cascades/cascade-insert-from-both-sides/cascade-insert-from-both-sides.test.ts
  test/functional/persistence/custom-column-name-pk/custom-column-name-pk.test.ts
  test/functional/persistence/custom-column-names/persistence-custom-column-names.test.ts
  test/functional/persistence/many-to-many/persistence-many-to-many.test.ts
  test/functional/persistence/multi-primary-key-on-both-sides/multi-primary-key.test.ts
  test/functional/persistence/multi-primary-key/multi-primary-key.test.ts
  test/functional/persistence/one-to-many/persistence-one-to-many.test.ts
  test/functional/persistence/partial-persist/partial-persist.test.ts
  test/functional/relations/relation-mapped-to-different-name-column/relation-mapped-to-different-name-column.test.ts
  test/functional/relations/relation-with-primary-key/relation-with-primary-key.test.ts
  test/functional/repository/find-options-locking/find-options-locking.test.ts
  test/functional/repository/set-add-remove-relations/repository-set-add-remove-relations.test.ts
  test/github-issues/151/issue-151.test.ts
  test/github-issues/161/issue-161.test.ts
Due: eslint --fix, prettier --write

style(docs): prettify search results dropdown (#12213)
  docs/src/css/custom.css
Due: none

refactor(find-options)!: remove deprecated string-based select from find methods
  docs/docs/guides/8-migration-v1.md
  src/entity-manager/MongoEntityManager.ts
  src/find-options/FindOneOptions.ts
  src/find-options/FindOptionsSelect.ts
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

refactor(find-options)!: remove deprecated string-based relations from find methods
  docs/docs/guides/8-migration-v1.md
  src/find-options/FindOneOptions.ts
  src/find-options/FindOptionsRelations.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/data-source/data-source.test.ts
  test/functional/find-options/select/find-options-select.test.ts
  test/github-issues/7558/issue-7758.test.ts
Due: eslint --fix, prettier --write

refactor(mongo)!: drop MongoDB driver v6 support, require v7 (#12208)
  docs/docs/drivers/mongodb.md
  docs/docs/guides/8-migration-v1.md
  package.json
  pnpm-lock.yaml
  src/driver/mongodb/MongoQueryRunner.ts
  src/driver/mongodb/bson.typings.ts
  src/driver/mongodb/typings.ts
  src/entity-manager/MongoEntityManager.ts
  src/repository/MongoRepository.ts
Due: eslint --fix, prettier --write

fix(find-options): move locking nested-relation test to query-builder suite
  docs/docs/guides/8-migration-v1.md
  test/functional/query-builder/locking/query-builder-locking.test.ts
  test/functional/repository/find-options-locking/find-options-locking.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): fix count query self-triggering semicolon check
  docs/docs/guides/8-migration-v1.md
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

ci(actions): remove .nvmrc and default node-version to 24
  .github/actions/setup-node/action.yml
  .nvmrc
Due: prettier --write

cleanup
  .github/workflows/tests-linux.yml
Due: prettier --write

ci(tests): use node 20 for preview job to avoid devEngines conflict
  .github/workflows/tests.yml
Due: prettier --write

fix(query-builder): validate orderBy condition values at runtime
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

feat(sqlite): add support for jsonb column type in SQLite (#11933)
  docs/docs/drivers/sqlite.md
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/types/ColumnTypes.ts
  src/query-builder/InsertQueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
  test/functional/database-schema/column-types/sqlite/column-types-sqlite.test.ts
  test/functional/database-schema/column-types/sqlite/entity/Post.ts
  test/functional/json/basic-jsonb/postgres/entity/Record.ts
  test/functional/json/basic-jsonb/postgres/jsonb.test.ts
  test/functional/json/basic-jsonb/sqlite/entity/Record.ts
  test/functional/json/basic-jsonb/sqlite/sqlite-jsonb.test.ts
  test/functional/json/jsonb-defaults/jsonb-defaults.test.ts
  test/functional/repository/find-options-operators/repository-find-operators.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): fix orderBy test for MySQL/MSSQL compatibility
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): restore NULLS LAST test with driver skip
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

ci(publish): use node 20 for v0.3 nightly builds
  .github/workflows/publish-package.yml
Due: prettier --write

fix: use ALTER COLUMN instead of DROP+ADD for column type/length changes (#3357)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  test/github-issues/3357/entity/Bug.ts
  test/github-issues/3357/issue-3357.test.ts
Due: eslint --fix, prettier --write

fix: optimize column name extraction
  src/query-builder/InsertQueryBuilder.ts
Due: eslint --fix, prettier --write

fix: remove sort when return columns array
  src/query-builder/InsertQueryBuilder.ts
Due: eslint --fix, prettier --write

test: add test for heterogeneous value sets
  test/github-issues/3837/issue-3837.test.ts
Due: eslint --fix, prettier --write

fix: specify columns for metadata-less multi-value inserts
  src/query-builder/InsertQueryBuilder.ts
  test/github-issues/3837/issue-3837.test.ts
Due: eslint --fix, prettier --write

test: release QueryRunner to prevent leak
  src/query-builder/InsertQueryBuilder.ts
  test/github-issues/3837/issue-3837.test.ts
Due: eslint --fix, prettier --write

fix: address review feedback on ALTER COLUMN migration logic
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  test/functional/query-runner/change-column.test.ts
  test/github-issues/3357/entity/Bug.ts
  test/github-issues/3357/issue-3357.test.ts
Due: eslint --fix, prettier --write

fix(query-builder): move orderBy validation to base QueryBuilder
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/SoftDeleteQueryBuilder.ts
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint --fix, prettier --write

test(query-builder): add orderBy validation tests for Update and SoftDelete builders
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

refactor(query-builder)!: remove logQuery method
  docs/docs/guides/8-migration-v1.md
  docs/docs/query-builder/1-select-query-builder.md
  src/query-builder/QueryBuilder.ts
Due: eslint --fix, prettier --write

refactor(query-builder): reduce cognitive complexity of orderBy validation
  src/query-builder/QueryBuilder.ts
Due: eslint --fix, prettier --write

Revert "refactor(query-builder): reduce cognitive complexity of orderBy validation"
  src/query-builder/QueryBuilder.ts
Due: eslint --fix, prettier --write

fix(query-runner): use ALTER COLUMN instead of DROP+ADD for type/length changes (#3357)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  test/functional/query-runner/change-column.test.ts
Due: eslint --fix, prettier --write

fix(sap): use correct schema segment in dropSchema
  src/driver/sap/SapQueryRunner.ts
Due: eslint --fix, prettier --write

test(json): add nested objects to jsonb test data
  test/functional/json/basic-jsonb/postgres/jsonb.test.ts
Due: eslint --fix, prettier --write

style(eslint): enable unicorn/prefer-string-replace-all rule
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/commands/MigrationGenerateCommand.ts
  src/commands/VersionCommand.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/react-native/ReactNativeDriver.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts
  src/driver/sqlserver/SqlServerDriver.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
  src/naming-strategy/DefaultNamingStrategy.ts
  src/platform/PlatformTools.ts
  src/query-builder/QueryBuilder.ts
  src/util/PathUtils.ts
  src/util/StringUtils.ts
  src/util/escapeRegExp.ts
  test/functional/view-entity/general/entity/PhotoAlbum.ts
  test/github-issues/10991/migration/init.ts
  test/github-issues/8647/issue-8647.test.ts
Due: eslint --fix, prettier --write

ci(publish): use node 20 for v0.3 nightly builds (#12216)
  .github/workflows/publish-package.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
