Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

refactor: minor type improvements
  src/metadata/ColumnMetadata.ts
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  src/util/OrmUtils.ts
  test/functional/sql-tag/entity/PostgresExample.ts
  test/github-issues/2518/issue-2518.ts
  test/unit/util/orm-utils.ts
Due: eslint, prettier --write

chore: add type-checked eslint rules
  eslint.config.mjs
  package-lock.json
  package.json
  src/driver/expo/legacy/ExpoLegacyQueryRunner.ts
  src/logger/FormattedConsoleLogger.ts
  src/util/ImportUtils.ts
Due: eslint, prettier --write, sort-package-json

fix: enable require-await
  eslint.config.mjs
  sample/sample1-simple-entity/app.ts
  src/connection/ConnectionOptionsReader.ts
  src/connection/options-reader/ConnectionOptionsEnvReader.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cordova/CordovaQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/nativescript/NativescriptQueryRunner.ts
  src/driver/react-native/ReactNativeQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/entity-manager/MongoEntityManager.ts
  src/util/ImportUtils.ts
  test/functional/table-inheritance/single-table/database-option-inherited/database-option-inherited.ts
  test/functional/tree-tables/closure-table/closure-table-mysql.ts
  test/github-issues/10569/issue-10569.ts
  test/github-issues/108/issue-108.ts
  test/github-issues/1369/issue-1369.ts
  test/github-issues/1369/subscriber/AbstractEntitySubscriber.ts
  test/github-issues/1576/issue-1576.ts
  test/github-issues/2216/issue-2216.ts
  test/github-issues/2984/issue-2984.ts
  test/github-issues/3118/issue-3118.ts
  test/github-issues/3256/subscriber/PostSubscriber.ts
  test/github-issues/3443/issue-3443.ts
  test/github-issues/3857/issue-3857.ts
  test/github-issues/4185/subscriber/ExtendedAfterLoadSubscriber.ts
  test/github-issues/4185/subscriber/SimpleAfterLoadSubscriber.ts
  test/github-issues/4842/issue-4842.ts
  test/github-issues/4980/issue-4980.ts
  test/github-issues/512/issue-512.ts
  test/github-issues/521/issue-521.ts
  test/github-issues/5444/issue-5444.ts
  test/github-issues/5704/subscriber/CategorySubscriber.ts
  test/github-issues/587/issue-587.ts
  test/github-issues/6977/issue-6977.ts
  test/github-issues/7932/issue-7932.ts
  test/github-issues/8408/delete-orphans.ts
  test/github-issues/9318/issue-9318.ts
  test/other-issues/mongodb-entity-change-in-listeners/entity/Post.ts
  test/other-issues/preventing-injection/preventing-injection.ts
Due: eslint, prettier --write

feat(sap): add support for REAL_VECTOR data type
  docs/docs/entity/1-entities.md
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
  src/metadata-builder/EntityMetadataValidator.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
  test/functional/database-schema/column-types/sap/entity/Post.ts
  test/functional/database-schema/column-types/sap/entity/PostWithOptions.ts
  test/functional/database-schema/column-types/sap/entity/PostWithoutTypes.ts
  test/functional/database-schema/vector-columns/sap/entity/ArrayEmbedding.ts
  test/functional/database-schema/vector-columns/sap/entity/FvecsEmbedding.ts
  test/functional/database-schema/vector-columns/sap/sap-real-vector.ts
Due: eslint, prettier --write

feat(sap): add support for HALF_VECTOR data type
  docs/docs/entity/1-entities.md
  package-lock.json
  package.json
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
  test/functional/database-schema/vectors/sap/entity/ArrayEmbedding.ts
  test/functional/database-schema/vectors/sap/entity/BufferEmbedding.ts
  test/functional/database-schema/vectors/sap/sap-vector.ts
Due: eslint, prettier --write, sort-package-json

docs: update null and undefined handling documentation and remove TypeORMSettings interface
  docs/docs/data-source/2-data-source-options.md
  docs/docs/data-source/5-null-and-undefined-handling.md
  src/common/TypeORMSettings.ts
  src/find-options/FindOptionsWhere.ts
  src/index.ts
Due: eslint, prettier --write

fix(docs): refine comment
  docs/docs/data-source/5-null-and-undefined-handling.md
Due: none

feat(sap): add support for REAL_VECTOR and HALF_VECTOR data types in SAP HANA Cloud (#11526)
  docs/docs/entity/1-entities.md
  package-lock.json
  package.json
  src/driver/sap/SapDriver.ts
  src/driver/types/ColumnTypes.ts
  src/metadata-builder/EntityMetadataValidator.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
  test/functional/database-schema/column-types/sap/entity/Post.ts
  test/functional/database-schema/column-types/sap/entity/PostWithOptions.ts
  test/functional/database-schema/column-types/sap/entity/PostWithoutTypes.ts
  test/functional/database-schema/vectors/sap/entity/ArrayEmbedding.ts
  test/functional/database-schema/vectors/sap/entity/BufferEmbedding.ts
  test/functional/database-schema/vectors/sap/sap-vector.ts
Due: eslint, prettier --write, sort-package-json

fix: enable no-floating-promises
  eslint.config.mjs
  sample/sample16-indexes/app.ts
  sample/sample17-versioning/app.ts
  src/cli.ts
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/query-builder/RelationLoader.ts
  src/query-runner/QueryLock.ts
  test/github-issues/11440/issue-11440.ts
  test/github-issues/5119/issue-5119.ts
  test/github-issues/6168/issue-6168.ts
  test/github-issues/799/issue-799.ts
  test/github-issues/8832/issue-8832.ts
Due: eslint, prettier --write

fix: enable no-misused-promises
  eslint.config.mjs
  src/driver/sqlite-abstract/AbstractSqliteDriver.ts
  src/persistence/SubjectExecutor.ts
  test/functional/connection/connection.ts
  test/github-issues/1716/entity/mariadbEntity.ts
  test/github-issues/1716/issue-1716.ts
  test/github-issues/3158/issue-3158.ts
  test/github-issues/3588/issue-3588.ts
  test/github-issues/8892/issue-8892.ts
  test/github-issues/8970/issue-8970.ts
  test/utils/xfail.ts
Due: eslint, prettier --write

fix: enable no-misused-new
  eslint.config.mjs
  src/driver/mongodb/typings.ts
  test/github-issues/8975/issue-8975.ts
Due: eslint, prettier --write

refactor: enable no-namespace
  eslint.config.mjs
  src/driver/mongodb/bson.typings.ts
  src/driver/mongodb/typings.ts
  test/github-issues/3534/entity/RegExpStringTransformer.ts
  test/github-issues/7651/entity/order.ts
Due: eslint, prettier --write

fix: enable await-thenable
  eslint.config.mjs
  src/driver/better-sqlite3/BetterSqlite3Driver.ts
  src/driver/sqlite/SqliteDriver.ts
  src/entity-manager/MongoEntityManager.ts
  test/functional/columns/value-transformer/value-transformer.ts
  test/functional/custom-repository/custom-repository.test.ts
  test/functional/database-schema/vectors/sap/sap-vector.ts
  test/functional/query-builder/brackets/query-builder-brackets.ts
  test/functional/query-builder/cte/materialized-cte.ts
  test/functional/query-builder/not/query-builder-not.ts
  test/functional/query-builder/subquery/query-builder-subquery.ts
  test/functional/query-builder/time-travel-query/time-travel-query.ts
  test/github-issues/10626/issue-10626.ts
  test/github-issues/11085/issue-11085.ts
  test/github-issues/11085/subscriber/UserSubscriber.ts
  test/github-issues/1805/issue-1805.ts
  test/github-issues/2965/index.ts
  test/github-issues/4220/issue-4220.ts
  test/github-issues/4958/issue-4958.ts
  test/github-issues/5067/issue-5067.ts
  test/github-issues/7203/issue-7203.ts
  test/github-issues/8026/issue-8026.ts
  test/github-issues/9049/issue-9049.ts
Due: eslint, prettier --write

refactor: enable tseslint eslint recommended
  eslint.config.mjs
  src/driver/better-sqlite3/BetterSqlite3QueryRunner.ts
  src/persistence/SubjectTopologicalSorter.ts
  test/functional/entity-subscriber/transaction-flow/entity-subscriber-transaction-flow.ts
  test/functional/relations/lazy-relations/basic-lazy-relation/basic-lazy-relations.ts
  test/github-issues/6714/issue-6714.ts
  test/github-issues/6752/issue-6752.ts
Due: eslint, prettier --write

code review
  src/driver/postgres/PostgresDriver.ts
  src/util/OrmUtils.ts
  test/functional/connection/connection.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/github-issues/5119/issue-5119.ts
Due: eslint, prettier --write

chore: update package preview
  .github/workflows/preview.yml
  .gitignore
  docs/package-lock.json
  package-lock.json
  package.json
  sample/playground/package-lock.json
Due: prettier --write, sort-package-json

feat: Array.some in favor of Array.find
  src/metadata-builder/EntityMetadataBuilder.ts
Due: eslint, prettier --write

fix: code cleanup thanks to code review
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/lazy-count.ts
Due: eslint, prettier --write

feat: entity metadata builder functional tests
  package-lock.json
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/JunctionTableEntities.ts
Due: eslint, prettier --write, sort-package-json

move junction table test entities into own folder
  test/functional/entity-metadata/entity-metadata-builder.ts
  test/functional/entity-metadata/entity/junction-table/entities.ts
Due: eslint, prettier --write

feat(sap): use the native driver for connection pooling
  README-zh_CN.md
  README.md
  README_ko.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/getting-started.md
  package-lock.json
  package.json
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/platform/PlatformTools.ts
  test/functional/driver/sap/connection-pool.ts
Due: eslint, prettier --write, sort-package-json

fix: clean code
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

perf: avoid unnecessary count on getManyAndCount (#11524)
  src/query-builder/SelectQueryBuilder.ts
  test/other-issues/lazy-count/entity/Comment.ts
  test/other-issues/lazy-count/entity/Post.ts
  test/other-issues/lazy-count/lazy-count.ts
  test/other-issues/lazy-count/subscribers/AfterQuerySubscriber.ts
Due: eslint, prettier --write

fix: move reflect-metadata to dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: make import of reflect-metadata optional
  src/index.ts
Due: eslint, prettier --write

fix: replace \ oid import\ with \ equire\
  src/index.ts
Due: eslint, prettier --write

try remove import of reflect-metadata
  src/index.ts
Due: eslint, prettier --write

fix: do not replace entity's propertyName inside literal strings
  src/query-builder/QueryBuilder.ts
  test/github-issues/10079/entity/User.ts
  test/github-issues/10079/issue-10079.ts
Due: eslint, prettier --write

refactor: use strict equality for the assertion
  test/github-issues/10079/issue-10079.ts
Due: eslint, prettier --write

Add pool error handler
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  test/functional/driver/sap/connection-pool.ts
Due: eslint, prettier --write

feat(sap): use the native driver for connection pooling (#11520)
  README-zh_CN.md
  README.md
  README_ko.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/getting-started.md
  package-lock.json
  package.json
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  src/platform/PlatformTools.ts
  test/functional/driver/sap/connection-pool.ts
Due: eslint, prettier --write, sort-package-json

feat(mysql): support AnalyticDB returning version() column name in getVersion
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

feat(mysql): add error handling for getVersion() to cover missing version field in ADS #11553
  src/driver/mysql/MysqlQueryRunner.ts
Due: eslint, prettier --write

refactor: update value processing in UpdateQueryBuilder
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint, prettier --write

refactor: update column handling in UpdateQueryBuilder
  src/query-builder/UpdateQueryBuilder.ts
Due: eslint, prettier --write

fix: support for better-sqlite3 v12
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
