Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(cascade): propagate withDeleted to relation-id loader for M2M recover
  docs/docs/relations/4-many-to-many-relations.md
  src/persistence/subject-builder/ManyToManySubjectBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/relation-id/RelationIdLoader.ts
Due: eslint --fix, prettier --write

test(cascade): add M2M recover test without cascade recover on relation
  test/functional/cascades/cascade-soft-remove/cascade-soft-remove.test.ts
  test/functional/cascades/cascade-soft-remove/entity/Tag.ts
  test/functional/cascades/cascade-soft-remove/entity/User.ts
Due: eslint --fix, prettier --write

fix(cascade): scope withDeleted to recover in SubjectDatabaseEntityLoader
  src/persistence/SubjectDatabaseEntityLoader.ts
Due: eslint --fix, prettier --write

fix(cascade): restore withDeleted for all persistence operations
  src/persistence/SubjectDatabaseEntityLoader.ts
Due: eslint --fix, prettier --write

docs: add Releases section with v1.0 announcement bar
  docs/docs/releases/03-roadmap.md
  docs/docs/releases/1.0/01-release-notes.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  packages/codemod/README.md
  packages/codemod/src/transforms/v1/index.ts
Due: eslint --fix, prettier --write

fix(docs): fix broken relative link in upgrading guide
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

build(docs): upgrade React to 19, lucide-react to 1.x, use ^ for all deps
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/HomepageFeatures/index.tsx
Due: prettier --write

refactor(cascade): shorten verbose withDeleted comment
  src/persistence/SubjectDatabaseEntityLoader.ts
Due: eslint --fix, prettier --write

fix(query-builder): extend semicolon validation to all query builders
  docs/docs/guides/8-migration-v1.md
  src/query-builder/QueryBuilder.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/sql-injection/sql-injection.test.ts
Due: eslint --fix, prettier --write

fix(cascade): gate cascade traversal on operationType
  src/persistence/subject-builder/CascadesSubjectBuilder.ts
  test/functional/cascades/cascade-traversal-scope/cascade-traversal-scope.test.ts
  test/functional/cascades/cascade-traversal-scope/entity/Child.ts
  test/functional/cascades/cascade-traversal-scope/entity/GrandChild.ts
  test/functional/cascades/cascade-traversal-scope/entity/Parent.ts
Due: eslint --fix, prettier --write

test(cascades): unskip cascade-remove test and remove driver restriction
  test/functional/cascades/cascade-remove/cascade-remove.test.ts
Due: eslint --fix, prettier --write

refactor(test): replace getOne() with getOneOrFail() in cascade-remove test
  test/functional/cascades/cascade-remove/cascade-remove.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): rename migrationGuide to upgradingGuide
  packages/codemod/README.md
  packages/codemod/src/cli/print-guide.ts
  packages/codemod/src/dependencies/v1.ts
  packages/codemod/src/transforms/index.ts
  packages/codemod/src/transforms/v1/index.ts
Due: eslint --fix, prettier --write

docs: update release notes to 7d2ea607a
  docs/docs/releases/1.0/01-release-notes.md
Due: prettier --write

docs: add social links to maintainer cards
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/components/icons/github-icon.tsx
  docs/src/components/icons/linkedin-icon.tsx
  docs/src/pages/maintainers.module.css
  docs/src/pages/maintainers.tsx
Due: none

refactor(docs): extract maintainers data to JSON
  docs/src/pages/maintainers.json
  docs/src/pages/maintainers.tsx
Due: prettier --write

test(cascades): unskip cascade-remove test and remove driver restriction (#12295)
  test/functional/cascades/cascade-remove/cascade-remove.test.ts
Due: eslint --fix, prettier --write

feat(caching): implement in-memory cache with lru cache
  package.json
  pnpm-lock.yaml
  src/cache/InMemoryResultCache.ts
  src/cache/QueryResultCacheFactory.ts
  src/data-source/BaseDataSourceOptions.ts
  test/functional/cache/in-memory-cache-provider.test.ts
  test/utils/test-utils.ts
Due: eslint --fix, prettier --write

docs(caching): update caching.md file with instructions for in-memory caching
  docs/docs/query-builder/6-caching.md
Due: prettier --write

chore: remove unused renameTables method entirely
  src/schema-builder/RdbmsSchemaBuilder.ts
Due: eslint --fix, prettier --write

chore: remove dead skipNulls option from getEntityValueMap
  src/metadata/ColumnMetadata.ts
  src/metadata/EntityMetadata.ts
  src/persistence/tree/MaterializedPathSubjectExecutor.ts
Due: eslint --fix, prettier --write

style: fix prettier formatting in ColumnMetadata
  src/metadata/ColumnMetadata.ts
Due: eslint --fix, prettier --write

fix(query-builder): restore select(fn) push behavior and add subquery test
  src/query-builder/SelectQueryBuilder.ts
  test/functional/query-builder/select/query-builder-select.test.ts
Due: eslint --fix, prettier --write

docs: add skipNulls removal to migration guide and release notes
  docs/docs/releases/1.0/01-release-notes.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

chore: restore valid TODO wishlist items in EntityMetadataValidator
  src/metadata-builder/EntityMetadataValidator.ts
Due: eslint --fix, prettier --write

chore: restore driver-specific validation TODO
  src/metadata-builder/EntityMetadataValidator.ts
Due: eslint --fix, prettier --write

chore: restore remaining valid TODO wishlist items
  src/metadata-builder/EntityMetadataValidator.ts
Due: eslint --fix, prettier --write

refactor(caching): update hash algorithm to SHA-512
  src/cache/InMemoryResultCache.ts
Due: eslint --fix, prettier --write

docs: add renameTables removal to release notes and migration guide
  docs/docs/releases/1.0/01-release-notes.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

docs: remove duplicate renameTables entry (moved to PR #12284)
  docs/docs/releases/1.0/01-release-notes.md
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

fix(caching): mark inMemoryCache as readonly for better encapsulation
  src/cache/InMemoryResultCache.ts
Due: eslint --fix, prettier --write

style: fix prettier formatting in migration guide
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
Due: prettier --write

style(query-builder): remove unnecessary type assertions in orderBy
  src/query-builder/SelectQueryBuilder.ts
Due: eslint --fix, prettier --write

fix(cascade): scope withDeleted to many-to-many relation-id queries only
  src/query-builder/relation-id/RelationIdLoader.ts
  test/functional/cascades/cascade-soft-remove/cascade-soft-remove.test.ts
Due: eslint --fix, prettier --write

docs(cascade): document many-to-many junction behavior with soft-deleted entities
  docs/docs/releases/1.0/02-upgrading-from-0.3.md
  src/persistence/SubjectDatabaseEntityLoader.ts
  test/functional/cascades/cascade-soft-remove/cascade-soft-remove.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
