Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

fix(mysql): deprecate column width/zerofill
  docs/docs/entity/1-entities.md
  docs/docs/getting-started.md
  docs/docs/help/3-decorator-reference.md
  src/decorator/columns/Column.ts
  src/decorator/options/ColumnNumericOptions.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnWithSignOptions.ts
  src/decorator/options/PrimaryGeneratedColumnNumericOptions.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-width/mysql/column-width.ts
  test/github-issues/6442/issue-6442.ts
Due: eslint, prettier --write

feat(mysql): add support for MySQL 9 / MariaDB 12
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  .github/workflows/tests-linux.yml
  docker-compose.yml
  docs/docs/data-source/2-data-source-options.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/spanner/SpannerConnectionOptions.ts
  test/functional/database-schema/column-collation/mysql/column-collation-mysql.ts
  test/functional/database-schema/column-collation/mysql/entity/Post.ts
  test/functional/database-schema/column-types/mysql/entity/UuidEntity.ts
  test/functional/database-schema/column-types/mysql/uuid.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/query-builder/locking/query-builder-locking.ts
  test/functional/repository/find-options-locking/find-options-locking.ts
  test/github-issues/1839/entity/Category.ts
  test/github-issues/1839/entity/Post.ts
  test/github-issues/1839/issue-1839.ts
  test/github-issues/2096/issue-2096.ts
  test/github-issues/3702/issue-3702.ts
  test/github-issues/4753/issue-4753.ts
  test/github-issues/8747/entity/Record.ts
  test/github-issues/8747/issue-8747.ts
  test/github-issues/8832/issue-8832.ts
  test/unit/util/import-utils.ts
Due: eslint, prettier --write, sort-package-json

Fixing broken test for manager.query()
  test/github-issues/11566/issue-11566.ts
Due: eslint, prettier --write

Removing commented out blocks
  test/github-issues/11566/issue-11566.ts
Due: eslint, prettier --write

docs: Removed queryRunner argument
  docs/docs/working-with-entity-manager/5-entity-manager-api.md
  test/github-issues/11566/issue-11566.ts
Due: eslint, prettier --write

Removed duplicate test
  test/github-issues/11566/issue-11566.ts
Due: eslint, prettier --write

perf: Cache package.json location between invocation
  src/util/ImportUtils.ts
  test/github-issues/4136/file1.ts
  test/github-issues/4136/file2.ts
  test/github-issues/4136/file3.ts
  test/github-issues/4136/issue-4136.ts
Due: eslint, prettier --write

refactor: Use map. Move tests to appropriate files
  src/util/ImportUtils.ts
  test/github-issues/4136/file1.ts
  test/github-issues/4136/file2.ts
  test/github-issues/4136/file3.ts
  test/github-issues/4136/issue-4136.ts
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

docs: more proofing
  README.md
  docs/docs/drivers/microsoft-sqlserver.md
  docs/docs/drivers/mongodb.md
  docs/docs/drivers/mysql.md
  docs/docs/drivers/postgres.md
  docs/docs/drivers/sqlite.md
  docs/docs/getting-started.md
  docs/docs/query-runner.md
Due: none

docs: fix redirect to mongodb page
  docs/redirects.ts
Due: eslint, prettier --write

docs: fix redirect to mongodb page (#11584)
  docs/redirects.ts
Due: eslint, prettier --write

feat: add Redis 5 support to cache implementation
  docs/redis-5-migration.md
  src/cache/RedisQueryResultCache.ts
  test/functional/cache/redis-5-compatibility.ts
Due: eslint, prettier --write

feat: add Redis 5 support to cache implementation
  package.json
  src/cache/RedisQueryResultCache.ts
  test/functional/cache/redis-5-compatibility.ts
Due: eslint, prettier --write, sort-package-json

fix: delete wrong migration guide
  docs/redis-5-migration.md
Due: none

feat: add package-lock.json
  package-lock.json
Due: prettier --write, sort-package-json

refactor: improve Redis version detection to avoid cache pollution Replace test key creation method with client method signature analysis to prevent potential cache pollution and improve performance.
  src/cache/RedisQueryResultCache.ts
Due: eslint, prettier --write

style: apply Prettier formatting to RedisQueryResultCache.ts
  src/cache/RedisQueryResultCache.ts
Due: eslint, prettier --write

feat(11528): add Redis 5.x support with backward compatibility wite peer dependency to allow (#11585)
  package-lock.json
  package.json
  src/cache/RedisQueryResultCache.ts
Due: eslint, prettier --write, sort-package-json

feat: allow `VirtualColumn`s to be initially non-selectable
  src/decorator/options/VirtualColumnOptions.ts
  src/query-builder/SelectQueryBuilder.ts
  test/functional/columns/virtual-columns/entity/Company.ts
  test/functional/columns/virtual-columns/entity/Employee.ts
  test/functional/columns/virtual-columns/entity/TimeSheet.ts
  test/functional/columns/virtual-columns/virtual-columns.ts
Due: eslint, prettier --write

feat(mysql): add support for MySQL 9 / MariaDB 12
  .github/workflows/test/mysql-mariadb-latest.ormconfig.json
  .github/workflows/tests-linux.yml
  docker-compose.yml
  docs/docs/drivers/mysql.md
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/aurora-mysql/AuroraMysqlConnectionOptions.ts
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/spanner/SpannerConnectionOptions.ts
  test/functional/database-schema/column-collation/mysql/column-collation-mysql.ts
  test/functional/database-schema/column-collation/mysql/entity/Post.ts
  test/functional/database-schema/column-types/mysql/entity/UuidEntity.ts
  test/functional/database-schema/column-types/mysql/uuid.ts
  test/functional/driver/mysql/connection-options/enable-query-timeout.ts
  test/functional/query-builder/locking/query-builder-locking.ts
  test/functional/repository/find-options-locking/find-options-locking.ts
  test/github-issues/1839/entity/Category.ts
  test/github-issues/1839/entity/Post.ts
  test/github-issues/1839/issue-1839.ts
  test/github-issues/2096/issue-2096.ts
  test/github-issues/3702/issue-3702.ts
  test/github-issues/4753/issue-4753.ts
  test/github-issues/8747/entity/Record.ts
  test/github-issues/8747/issue-8747.ts
  test/github-issues/8832/issue-8832.ts
  test/unit/util/import-utils.ts
Due: eslint, prettier --write, sort-package-json

fix(mysql): deprecate column width/zerofill
  README-zh_CN.md
  README_ko.md
  docs/docs/entity/1-entities.md
  docs/docs/entity/2-embedded-entities.md
  docs/docs/getting-started.md
  docs/docs/help/3-decorator-reference.md
  docs/docs/relations/2-one-to-one-relations.md
  docs/docs/relations/3-many-to-one-one-to-many-relations.md
  docs/docs/relations/4-many-to-many-relations.md
  src/decorator/columns/Column.ts
  src/decorator/options/ColumnNumericOptions.ts
  src/decorator/options/ColumnOptions.ts
  src/decorator/options/ColumnUnsignedOptions.ts
  src/decorator/options/ColumnWithWidthOptions.ts
  src/decorator/options/PrimaryGeneratedColumnNumericOptions.ts
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/spanner/SpannerDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-width/mysql/column-width.ts
  test/functional/entity-schema/columns/mysql/columns-mysql.ts
  test/github-issues/6442/issue-6442.ts
Due: eslint, prettier --write

feat: introduce OmitRelations type
  src/common/RelationType.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2
  src/driver/aurora-postgres/AuroraPostgresQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2
  src/driver/aurora-postgres/AuroraPostgresConnectionOptions.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fix: regtype is not supported in aurora serverless v2 (#11568)
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

test: package file map
  src/util/DirectoryExportedClassesLoader.ts
  src/util/ImportUtils.ts
Due: eslint, prettier --write

docs: added "piying-orm" extension to readme
  README.md
Due: none

feat: add entity mode virtual-property
  src/entity-schema/EntitySchemaColumnOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
Due: eslint, prettier --write

fix: entitySchema objectId name
  src/entity-schema/EntitySchemaTransformer.ts
Due: eslint, prettier --write

test: Check number of invocations in test
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

test: Change assert for CI
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

Create package.json in test
  test/unit/util/import-utils.ts
Due: eslint, prettier --write

fix(platform[web worker]): improve globalThis variable retrieval for browser environment (#11495)
  src/platform/BrowserPlatformTools.template
Due: none

test: virtual columns
  src/decorator/options/ColumnOptions.ts
  src/entity-schema/EntitySchemaColumnOptions.ts
  src/entity-schema/EntitySchemaTransformer.ts
  test/functional/entity-schema/columns/virtual-columns/entity/Activity.ts
  test/functional/entity-schema/columns/virtual-columns/virtual-columns.ts
Due: eslint, prettier --write

docs: added `@piying/orm` extension to readme (#11596)
  README.md
Due: none

docs: Fix `reload` option typo
  docs/docs/working-with-entity-manager/6-repository-api.md
  src/repository/SaveOptions.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
