Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: address Qodo review comments for SQL Server ALTER COLUMN
  src/driver/sqlserver/SqlServerQueryRunner.ts
  test/github-issues/3357/issue-3357.ts
Due: eslint --fix, prettier --write

fix(codemod): add formatter tip and migration guide link to CLI output
  packages/codemod/README.md
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transforms/index.ts
  packages/codemod/src/transforms/v1/index.ts
Due: eslint --fix, prettier --write

fix(codemod): add local prettier config to fix CI test failures
  packages/codemod/.prettierrc.js
Due: none

style(codemod): add ESLint config and enable CI linting
  .github/workflows/preview.yml
  .github/workflows/tests.yml
  packages/codemod/.gitignore
  packages/codemod/eslint.config.mjs
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  packages/codemod/test/transforms/transformer.test.ts
  packages/codemod/tsconfig.build.json
  packages/codemod/tsconfig.json
Due: eslint --fix, prettier --write

fix(codemod): fix SonarCloud issues and improve type safety
  packages/codemod/src/cli/run.ts
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/connection-to-datasource.ts
  packages/codemod/src/transforms/v1/upgrade-dependencies.ts
Due: eslint --fix, prettier --write

refactor(codemod): extract printTodos and move dependencies to version-based config
  packages/codemod/src/cli/print-todos.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/dependencies/config.ts
  packages/codemod/src/dependencies/find-package-json.ts
  packages/codemod/src/dependencies/index.ts
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/src/dependencies/v1.ts
  packages/codemod/src/transforms/v1/upgrade-dependencies.ts
  packages/codemod/test/transforms/v1/upgrade-dependencies.test.ts
Due: eslint --fix, prettier --write

refactor(query-builder)!: remove logQuery method (#12220)
  docs/docs/guides/8-migration-v1.md
  docs/docs/query-builder/1-select-query-builder.md
  src/query-builder/QueryBuilder.ts
Due: eslint --fix, prettier --write

refactor(codemod): simplify dependency config naming and move test
  packages/codemod/src/dependencies/config.ts
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/src/dependencies/v1.ts
  packages/codemod/test/dependencies/upgrade.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): use tinyglobby for recursive package.json discovery
  packages/codemod/package.json
  packages/codemod/pnpm-lock.yaml
  packages/codemod/src/dependencies/find-package-json.ts
Due: eslint --fix, prettier --write

test(codemod): add unit tests for findPackageJsonFiles and getConfig
  packages/codemod/test/dependencies/find-package-json.test.ts
  packages/codemod/test/dependencies/get-config.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): rename minimumVersions to upgrades and bump devDependencies to latest
  package.json
  packages/codemod/src/dependencies/config.ts
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/src/dependencies/v1.ts
  packages/codemod/test/dependencies/upgrade.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(codemod): remove all explicit any and enable no-explicit-any ESLint rule
  packages/codemod/eslint.config.mjs
  packages/codemod/src/transforms/v1/datasource-name.ts
  packages/codemod/src/transforms/v1/find-options-lock-modes.ts
  packages/codemod/src/transforms/v1/mongodb-types.ts
  packages/codemod/src/transforms/v1/query-builder-or-update.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/test/dependencies/upgrade.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): remove unnecessary type casts and improve type safety
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/todo.ts
  packages/codemod/src/transforms/v1/column-readonly.ts
  packages/codemod/src/transforms/v1/column-width-zerofill.ts
  packages/codemod/src/transforms/v1/find-options-string-relations.ts
  packages/codemod/src/transforms/v1/find-options-string-select.ts
Due: eslint --fix, prettier --write

refactor(codemod): extract common AST patterns to shared helpers
  packages/codemod/src/transforms/ast-helpers.ts
  packages/codemod/src/transforms/v1/column-unsigned-numeric.ts
  packages/codemod/src/transforms/v1/column-width-zerofill.ts
  packages/codemod/src/transforms/v1/datasource-name.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/query-builder-native-parameters.ts
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/src/transforms/v1/repository-exist.ts
  packages/codemod/src/transforms/v1/use-container.ts
Due: eslint --fix, prettier --write

refactor(codemod): remove no-unsafe-argument ESLint override and improve type safety
  packages/codemod/eslint.config.mjs
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/src/transforms/v1/mongodb-stats.ts
  packages/codemod/src/transforms/v1/mongodb-types.ts
  packages/codemod/src/transforms/v1/query-builder-on-conflict.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/test/transforms/ast-helpers.test.ts
  packages/codemod/test/transforms/v1/transforms.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): remove no-unsafe-call ESLint override and fix all violations
  packages/codemod/eslint.config.mjs
  packages/codemod/src/transforms/resolve.ts
  packages/codemod/src/transforms/v1/find-options-lock-modes.ts
  packages/codemod/src/transforms/v1/mongodb-types.ts
  packages/codemod/test/transforms/transformer.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): remove no-unsafe-return ESLint override and fix all violations
  packages/codemod/eslint.config.mjs
  packages/codemod/src/dependencies/upgrade.ts
  packages/codemod/test/cli/list-transforms.test.ts
  packages/codemod/test/dependencies/upgrade.test.ts
Due: eslint --fix, prettier --write

fix(codemod): change printSql transform from rename to TODO after logQuery removal
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-print-sql/query-builder-print-sql.output.ts
Due: eslint --fix, prettier --write

feat(codemod): add --workers flag to control parallelism
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/src/cli/print-usage.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
Due: eslint --fix, prettier --write

feat(codemod): add --stats flag for detailed run statistics
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/src/cli/print-usage.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transforms/transformer.ts
Due: eslint --fix, prettier --write

fix(codemod): scope datasource-mongodb transform to files importing from typeorm
  packages/codemod/src/transforms/v1/datasource-mongodb.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mongodb/datasource-mongodb.input.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mongodb/datasource-mongodb.output.ts
Due: eslint --fix, prettier --write

style(codemod): highlight backtick content in CLI output and update dotenv warning
  packages/codemod/src/cli/run.ts
  packages/codemod/src/dependencies/v1.ts
Due: eslint --fix, prettier --write

docs(codemod): add Vendure external test report
  packages/codemod/docs/tests/v1.md
  packages/codemod/docs/tests/v1/vendure.md
Due: prettier --write

feat(codemod): add spinner with real-time file progress
  packages/codemod/src/cli/colors.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/cli/spinner.ts
Due: eslint --fix, prettier --write

feat(codemod): add --ignore flag and update README with all CLI options
  packages/codemod/README.md
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/src/cli/print-usage.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
Due: eslint --fix, prettier --write

refactor(codemod): always show statistics and remove --stats flag
  packages/codemod/README.md
  packages/codemod/docs/tests/v1/vendure.md
  packages/codemod/src/cli/parse-args.ts
  packages/codemod/src/cli/print-usage.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
Due: eslint --fix, prettier --write

feat(codemod): show elapsed time and ETA in progress spinner
  packages/codemod/src/cli/run.ts
  packages/codemod/src/cli/spinner.ts
Due: eslint --fix, prettier --write

refactor(codemod): extract stats logic to dedicated module
  packages/codemod/eslint.config.mjs
  packages/codemod/src/cli/run.ts
  packages/codemod/src/transforms/stats.ts
  packages/codemod/src/transforms/transformer.ts
Due: eslint --fix, prettier --write

refactor(codemod): consolidate stats counting and collection into stats module
  packages/codemod/src/cli/run.ts
  packages/codemod/src/transforms/stats.ts
  packages/codemod/src/transforms/todo.ts
  packages/codemod/src/transforms/v1/datasource-mongodb.ts
  packages/codemod/src/transforms/v1/datasource-mssql-domain.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/migrations-get-all.ts
  packages/codemod/src/transforms/v1/mongodb-stats.ts
  packages/codemod/src/transforms/v1/query-builder-on-conflict.ts
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/src/transforms/v1/query-builder-replace-property-names.ts
  packages/codemod/src/transforms/v1/query-runner-loaded-tables-views.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/src/transforms/v1/use-container.ts
  packages/codemod/test/transforms/todo.test.ts
Due: eslint --fix, prettier --write

chore: disable qodo persistent review notification comment
  .pr_agent.toml
Due: prettier --write

ci(qodo): disable persistent review notification (#12263)
  .pr_agent.toml
Due: prettier --write

test: first dummy commit
  test-dummy.txt
Due: none

test: second dummy commit after 1 minute
  test-dummy.txt
Due: none

chore: sync qodo pr agent config from master to v0.3
  .pr_agent.toml
Due: prettier --write

ci(qodo): sync qodo pr agent config from master (#12265)
  .pr_agent.toml
Due: prettier --write

refactor(codemod): use TODO(typeorm-v1) prefix and improve TODO messages and descriptions
  packages/codemod/src/transforms/todo.ts
  packages/codemod/src/transforms/v1/datasource-mongodb.ts
  packages/codemod/src/transforms/v1/datasource-mssql-domain.ts
  packages/codemod/src/transforms/v1/global-functions.ts
  packages/codemod/src/transforms/v1/migrations-get-all.ts
  packages/codemod/src/transforms/v1/mongodb-stats.ts
  packages/codemod/src/transforms/v1/query-builder-on-conflict.ts
  packages/codemod/src/transforms/v1/query-builder-print-sql.ts
  packages/codemod/src/transforms/v1/query-builder-replace-property-names.ts
  packages/codemod/src/transforms/v1/query-runner-loaded-tables-views.ts
  packages/codemod/src/transforms/v1/relation-count.ts
  packages/codemod/src/transforms/v1/repository-abstract.ts
  packages/codemod/src/transforms/v1/use-container.ts
  packages/codemod/test/transforms/v1/fixtures/datasource-mssql-domain/datasource-mssql-domain.output.ts
  packages/codemod/test/transforms/v1/fixtures/mongodb-stats/mongodb-stats.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-print-sql/query-builder-print-sql.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-builder-replace-property-names/query-builder-replace-property-names.output.ts
  packages/codemod/test/transforms/v1/fixtures/query-runner-loaded-tables-views/query-runner-loaded-tables-views.output.ts
  packages/codemod/test/transforms/v1/fixtures/repository-abstract/repository-abstract.output.ts
  packages/codemod/test/transforms/v1/fixtures/use-container/use-container.output.ts
Due: eslint --fix, prettier --write

refactor(codemod): extract CLI logic into modular files and move utilities to lib
  packages/codemod/src/cli/list-transforms.ts
  packages/codemod/src/cli/print-guide.ts
  packages/codemod/src/cli/print-summary.ts
  packages/codemod/src/cli/print-todos.ts
  packages/codemod/src/cli/print-usage.ts
  packages/codemod/src/cli/run-dependencies.ts
  packages/codemod/src/cli/run-transforms.ts
  packages/codemod/src/cli/run.ts
  packages/codemod/src/index.ts
  packages/codemod/src/lib/colors.ts
  packages/codemod/src/lib/error.ts
  packages/codemod/src/lib/format-time.ts
  packages/codemod/src/lib/highlight.ts
  packages/codemod/src/lib/spinner.ts
  packages/codemod/src/transforms/resolve.ts
  packages/codemod/test/cli/colors.test.ts
  packages/codemod/test/cli/error.test.ts
Due: eslint --fix, prettier --write

refactor(codemod): move dependency warnings and errors into summary output
  packages/codemod/src/cli/print-summary.ts
  packages/codemod/src/cli/run-dependencies.ts
  packages/codemod/src/cli/run.ts
Due: eslint --fix, prettier --write

test: dummy file for qodo config test
  test-dummy.txt
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md,mjs,toml,yml,yaml})
