Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

test: add date column utc flag test (#11515)
  test/github-issues/11515/entity/Event.ts
  test/github-issues/11515/issue-11515.ts
Due: eslint, prettier --write

docs: add utc flag documentation
  docs/docs/entity/1-entities.md
Due: none

fix: address code review feedback
  src/driver/sqlserver/SqlServerDriver.ts
  src/util/DateUtils.ts
  test/github-issues/11515/issue-11515.ts
Due: eslint, prettier --write

refactor: move date UTC tests to functional test suite
  test/functional/columns/date-utc/date-utc.ts
  test/functional/columns/date-utc/entity/Event.ts
  test/github-issues/11515/entity/Event.ts
Due: eslint, prettier --write

fix: 'read properties of undefined' in createOrderByCombinedWithSelectExpression
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

fix alias metadata null check
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

add docstrings
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

feat: add entityManager.truncate method
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

Fix incorrect migration test
  test/github-issues/10955/migration/1719925118382-create-table-with-different-name.ts
Due: eslint, prettier --write

Fix incorrect migration test
  test/github-issues/10955/migration/1719925118381-create-table-with-missing-values.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-different-name.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-extra-values.ts
Due: eslint, prettier --write

Fix incorrect escape logic
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

Add tests to make sure escaping works
  test/github-issues/10955/entity/FooWithSpecialChars.ts
  test/github-issues/10955/issue-10955.ts
  test/github-issues/10955/migration/1719925118383-create-table-with-special-chars-missing-values.ts
Due: eslint, prettier --write

Fix formatting
  test/github-issues/10955/entity/FooWithSpecialChars.ts
  test/github-issues/10955/migration/1719925118383-create-table-with-special-chars-missing-values.ts
Due: eslint, prettier --write

add test
  test/github-issues/11742/entity/item.ts
  test/github-issues/11742/entity/user.ts
  test/github-issues/11742/issue-11742.ts
Due: eslint, prettier --write

copy cordova query rows affected into query result
  src/driver/cordova/CordovaQueryRunner.ts
Due: eslint, prettier --write

feat(entity): add targetName for stable entity resolution
  src/decorator/entity/Entity.ts
  src/decorator/options/EntityOptions.ts
  src/metadata-args/TableMetadataArgs.ts
  src/metadata/EntityMetadata.ts
Due: eslint, prettier --write

feat(entity): support static displayName for targetName
  src/decorator/options/EntityOptions.ts
  src/metadata-args/TableMetadataArgs.ts
  src/metadata/EntityMetadata.ts
Due: eslint, prettier --write

test(entity): add unit tests for targetName feature
  test/functional/metadata/entity-target-name/entity/ProfileComment.ts
  test/functional/metadata/entity-target-name/entity/User.ts
  test/functional/metadata/entity-target-name/entity/UserProfile.ts
  test/functional/metadata/entity-target-name/target-name-resolution.ts
Due: eslint, prettier --write

docs(entity): document targetName/displayName options
  docs/docs/entity/1-entities.md
  docs/docs/help/3-decorator-reference.md
Due: none

fix: respect subquery column selections in leftJoinAndMapOne/Many
  src/query-builder/JoinAttribute.ts
  src/query-builder/SelectQueryBuilder.ts
  src/query-builder/transformer/RawSqlResultsToEntityTransformer.ts
  test/functional/query-builder/join-and-map/entity/Event.ts
  test/functional/query-builder/join-and-map/entity/EventRespond.ts
  test/functional/query-builder/join-and-map/left-join-and-map-one-subquery-select.ts
Due: eslint, prettier --write

Apply CodeRabbit feedback: fix column extraction logic
  src/query-builder/SelectQueryBuilder.ts
Due: eslint, prettier --write

Add edge case tests for subquery select
  test/functional/query-builder/join-and-map/entity/ContactInfo.ts
  test/functional/query-builder/join-and-map/entity/EventRespond.ts
  test/functional/query-builder/join-and-map/left-join-and-map-one-subquery-select.ts
Due: eslint, prettier --write

Fix join condition to use subquery column alias
  test/functional/query-builder/join-and-map/left-join-and-map-one-subquery-select.ts
Due: eslint, prettier --write

move tests from issues to functional
  test/functional/query-builder/order-by/entity/Comment.ts
  test/functional/query-builder/order-by/entity/Post.ts
  test/functional/query-builder/order-by/query-builder-order-by.ts
  test/github-issues/11742/entity/item.ts
  test/github-issues/11742/entity/user.ts
  test/github-issues/11742/issue-11742.ts
Due: eslint, prettier --write

fix: lowercase subquery column aliases for PostgreSQL compatibility
  test/functional/query-builder/join-and-map/left-join-and-map-one-subquery-select.ts
Due: eslint, prettier --write

Export QueryPartialEntity and QueryDeepPartialEntity
  src/index.ts
Due: eslint, prettier --write

fix: circular import in SapDriver.ts
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write

docs: fix link to email, when vulnerability found (#11667)
  CONTRIBUTING.md
  package.json
Due: prettier --write, sort-package-json

Chore: remove length check in add/drop block in PG, correct spelling/grammar error, remove duplicated comment
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  test/functional/query-runner/change-column.ts
Due: eslint, prettier --write

fix: remove duplicated early check that leads to add/drop (prevent the fix implementation to execute)
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/postgres/PostgresQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
Due: eslint, prettier --write

Apply suggestions from code review
  docs/docs/migrations/02-setup.md
  docs/docs/migrations/05-executing.md
  docs/docs/migrations/11-vite.md
Due: none

ai review suggestions
  docs/docs/migrations/02-setup.md
  docs/docs/migrations/11-vite.md
Due: none

docs: collect all migrations documentation in one place
  docs/docs/advanced-topics/6-using-cli.md
  docs/docs/data-source/2-data-source-options.md
  docs/docs/migrations/01-why.md
  docs/docs/migrations/02-setup.md
  docs/docs/migrations/03-creating.md
  docs/docs/migrations/04-generating.md
  docs/docs/migrations/05-executing.md
  docs/docs/migrations/06-reverting.md
  docs/docs/migrations/07-status.md
  docs/docs/migrations/08-faking.md
  docs/docs/migrations/09-api.md
  docs/docs/migrations/10-extra.md
  docs/redirects.ts
  docs/sidebars.ts
Due: eslint, prettier --write

links
  docs/docs/advanced-topics/3-indices.md
  docs/docs/entity/5-view-entities.md
  docs/docs/getting-started.md
  docs/docs/help/1-faq.md
Due: none

vite
  docs/docs/help/1-faq.md
  docs/docs/migrations/11-vite.md
Due: none

fic
  docs/docs/migrations/11-vite.md
Due: none

link to vite project
  docs/docs/migrations/11-vite.md
Due: none

fix prettier
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
