Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

ci: setup pnpm (#11881)
  .github/FUNDING.yml
  .github/copilot-instructions.md
  .github/workflows/preview.yml
  .github/workflows/publish-package.yml
  .github/workflows/tests-linux.yml
  .github/workflows/tests-windows.yml
  .github/workflows/tests.yml
  .gitignore
  .husky/pre-commit
  .nvmrc
  .prettierignore
  DEVELOPER.md
  docs/.gitignore
  gulpfile.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --write, sort-package-json

initial commit
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, sort-package-json

fix docs
  .github/workflows/tests.yml
Due: none

removed workspace
  pnpm-workspace.yaml
Due: none

re-add settings
  package.json
Due: prettier --write, sort-package-json

pnpm cache
  .github/workflows/tests.yml
Due: none

build scripts
  docs/package.json
Due: prettier --write, sort-package-json

fix(sap): `QueryBuilder` parameter of type JS `Date` not escaped correctly (#11867)
  docker-compose.yml
  src/driver/sap/SapDriver.ts
  test/functional/query-builder/parameters/date-parameters.test.ts
  test/functional/query-builder/parameters/entity/Product.ts
Due: eslint, prettier --write

feat(sap): add support for `maxWaitTimeoutIfPoolExhausted`
  docs/docs/drivers/sap.md
  package-lock.json
  package.json
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write, sort-package-json

chore(docs): move to PNPM (#11884)
  .github/workflows/tests.yml
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --write, sort-package-json

chore: rebase onto master after base branch change
  package.json
  pnpm-lock.yaml
  src/cache/DbQueryResultCache.ts
  src/platform/BrowserPlatformTools.template
  src/platform/PlatformTools.ts
  src/query-builder/InsertQueryBuilder.ts
  src/util/RandomGenerator.ts
  test/github-issues/10569/issue-10569.test.ts
Due: eslint, prettier --write, sort-package-json

test: enable test for all databases
  test/github-issues/10685/issue-10685.ts
Due: eslint, prettier --write

chore: format code 🧽
  test/github-issues/2962/issue-2962.ts
Due: eslint, prettier --write

test: rename file
  test/github-issues/10685/issue-10685.test.ts
Due: eslint, prettier --write

test: typeorm in a yarn pnp env with hotfixes to work properly
  test/github-issues/11875/issue-11875.test.ts
Due: eslint, prettier --write

chore: update gitignore to skip test 11875 artifacts
  .gitignore
Due: none

feat: add better typing for conditions in `increment` and `decrement` of `EntityManager` (#11294)
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

refactor: use optional chaining for UUID and call RandomGenerator directly
  src/cache/DbQueryResultCache.ts
  src/platform/BrowserPlatformTools.template
  src/platform/PlatformTools.ts
  src/query-builder/InsertQueryBuilder.ts
  src/util/RandomGenerator.ts
  test/github-issues/10569/issue-10569.test.ts
Due: eslint, prettier --write

feat(sap): add pool timeout (#11868)
  docs/docs/drivers/sap.md
  package-lock.json
  package.json
  src/driver/sap/SapConnectionOptions.ts
  src/driver/sap/SapDriver.ts
Due: eslint, prettier --write, sort-package-json

fix: getPendingMigrations unnecessarily creating migrations table (#11672)
  src/migration/MigrationExecutor.ts
Due: eslint, prettier --write

test: add tests for issue #7738
  test/functional/connection/connection.test.ts
  test/functional/connection/entity/Professor.ts
  test/functional/connection/entity/Site.ts
  test/functional/connection/entity/SiteLocation.ts
  test/functional/connection/entity/Subject.ts
Due: eslint, prettier --write

fix: copy cordova query rows affected into query result (#10873)
  src/driver/cordova/CordovaQueryRunner.ts
Due: eslint, prettier --write

fix: resolve nameless TableForeignKey on drop foreign key
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

fix format
  test/github-issues/10895/entity/schema-approach/extending.ts
  test/github-issues/10895/entity/schema-approach/index.ts
  test/github-issues/10895/entity/schema-approach/schema/extendable.ts
  test/github-issues/10895/entity/schema-approach/schema/extending.ts
  test/github-issues/10895/issue-10895.ts
Due: eslint, prettier --write

chore: restore JSDoc param tag
  src/platform/PlatformTools.ts
Due: eslint, prettier --write

fix(postgres): drop views in non-default schemas
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fix: resolve nameless TableForeignKey on drop foreign key (#10744)
  src/driver/aurora-mysql/AuroraMysqlQueryRunner.ts
  src/driver/cockroachdb/CockroachQueryRunner.ts
  src/driver/mysql/MysqlQueryRunner.ts
  src/driver/oracle/OracleQueryRunner.ts
  src/driver/sap/SapQueryRunner.ts
  src/driver/spanner/SpannerQueryRunner.ts
  src/driver/sqlserver/SqlServerQueryRunner.ts
Due: eslint, prettier --write

fix: process correctly embedded arrays of nested documents for mongodb
  src/metadata/ColumnMetadata.ts
  test/functional/mongodb/basic/array-columns/entity/Color.ts
  test/functional/mongodb/basic/array-columns/entity/Counters.ts
  test/functional/mongodb/basic/array-columns/mongodb-array-columns.test.ts
Due: eslint, prettier --write

feat(docs): add Kapa.ai widget for AI-powered documentation assistance
  docs/docusaurus.config.ts
Due: eslint, prettier --write

fix: change integration ID
  docs/docusaurus.config.ts
Due: eslint, prettier --write

fix: navbar z index
  docs/src/css/custom.css
Due: none

fix: reduce navbar zindex
  docs/src/css/custom.css
Due: none

feat(docs): add Kapa.ai widget for AI-powered documentation assistance (#11891)
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: eslint, prettier --write

chore: run format 🍉
  test/github-issues/10955/migration/1719925118381-create-table-with-missing-values.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-different-name.ts
  test/github-issues/10955/migration/1719925118382-create-table-with-extra-values.ts
  test/github-issues/10955/migration/1719925118383-create-table-with-special-chars-missing-values.ts
Due: eslint, prettier --write

refactor: rename test file
  test/github-issues/10955/issue-10955.test.ts
Due: eslint, prettier --write

Use cached version
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

chore: rename test file
  test/github-issues/10991/issue-10991.test.ts
Due: eslint, prettier --write

chore: run format 🍉
  src/query-builder/InsertQueryBuilder.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
