Repository typeorm/typeorm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

fix: detect and recreate modified CHECK constraints during schema sync
  src/schema-builder/RdbmsSchemaBuilder.ts
Due: eslint, prettier --write

It now starts to launch tests
  src/util/ImportUtils.ts
  test/functional/decorators/foreign-key/foreign-key-decorator.test.ts
  test/functional/find-options/basic-usage/find-options-where.test.ts
  test/functional/query-builder/subquery/query-builder-subquery.test.ts
  test/functional/query-builder/time-travel-query/time-travel-query.test.ts
Due: eslint, prettier --write

Use chai-deep-equal-ignore-undefined
  package-lock.json
  package.json
  test/functional/find-options/basic-usage/find-options-where.test.ts
  test/utils/test-setup.ts
Due: eslint, prettier --write, sort-package-json

fix: fix up aggregate methods ambiguous column (#11822)
  src/entity-manager/EntityManager.ts
  test/functional/repository/aggregate-methods-with-relations/entity/Author.ts
  test/functional/repository/aggregate-methods-with-relations/entity/Post.ts
  test/functional/repository/aggregate-methods-with-relations/repository-aggregate-methods-with-relations.test.ts
Due: eslint, prettier --write

test: improve assertions
  test/functional/relations/eager-relations/basic-eager-relations/basic-eager-relations.test.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/Profile.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/User.ts
Due: eslint, prettier --write

fix: prevent eager-loaded entities from overwriting manual relations (#11267)
  src/metadata/RelationMetadata.ts
  test/functional/relations/eager-relations/basic-eager-relations/basic-eager-relations.test.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/Profile.ts
  test/functional/relations/eager-relations/basic-eager-relations/entity/User.ts
Due: eslint, prettier --write

Took config from alumni
  package-lock.json
  package.json
  vitest.config.mts
Due: prettier --write, sort-package-json

fix: make embedded columns nullable for child entities in single table inheritance (#11703)
  src/metadata-builder/EntityMetadataBuilder.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/embedded-columns-nullable.test.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/entity/ChildCounters.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/entity/Content.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/entity/Counters.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/entity/Photo.ts
  test/functional/table-inheritance/single-table/embedded-columns-nullable/entity/Post.ts
Due: eslint, prettier --write

Some more 111 failed | 2248 passed
  test/functional/find-options/basic-usage/find-options-order.test.ts
  test/functional/persistence/cascades/cascades-example1/cascades-example1.test.ts
  test/functional/persistence/multi-primary-key-on-both-sides/multi-primary-key.test.ts
  test/functional/persistence/multi-primary-key/multi-primary-key.test.ts
  test/functional/query-builder/relation-id/one-to-one/embedded-with-multiple-pk/embedded-with-multiple-pk.test.ts
  test/functional/relations/relation-with-primary-key/relation-with-primary-key.test.ts
  test/functional/tree-tables/closure-table/closure-table.test.ts
  test/functional/tree-tables/materialized-path/materialized-path.test.ts
  test/github-issues/8443/closure-table/closure-table.test.ts
  test/github-issues/8443/materialized-path/materialized-path.test.ts
  vitest.config.mts
Due: eslint, prettier --write

Fix double import
  test/functional/repository/find-methods/repostiory-find-methods.test.ts
  test/github-issues/8459/issue-8459.test.ts
Due: eslint, prettier --write

chore: format `next` branch after merging master
  src/container.ts
  src/driver/aurora-mysql/AuroraMysqlConnectionOptions.ts
  src/driver/cockroachdb/CockroachConnectionOptions.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/oracle/OracleConnectionOptions.ts
  src/driver/postgres/PostgresConnectionOptions.ts
  src/driver/sap/SapConnectionOptions.ts
  src/driver/spanner/SpannerConnectionOptions.ts
  src/driver/sqlserver/SqlServerConnectionOptions.ts
  src/find-options/mongodb/MongoFindManyOptions.ts
  test/github-issues/1369/subscriber/AbstractEntitySubscriber.ts
  test/github-issues/4185/subscriber/ExtendedAfterLoadSubscriber.ts
  test/github-issues/4185/subscriber/SimpleAfterLoadSubscriber.ts
  test/github-issues/5734/subscriber/CheckValidEntitySubscriber.ts
  test/github-issues/9176/migration/1657067039714-CreateUniqueConstraintToUser.ts
  test/github-issues/9176/migration/1657067039716-CreateCheckConstraintToUser.ts
  test/utils/xfail.ts
Due: eslint, prettier --write

npm version
  package.json
Due: prettier --write, sort-package-json

deprecate
  src/migration/MigrationExecutor.ts
Due: eslint, prettier --write

format
  src/container.ts
  src/driver/aurora-mysql/AuroraMysqlConnectionOptions.ts
  src/driver/cockroachdb/CockroachConnectionOptions.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/oracle/OracleConnectionOptions.ts
  src/driver/postgres/PostgresConnectionOptions.ts
  src/driver/sap/SapConnectionOptions.ts
  src/driver/spanner/SpannerConnectionOptions.ts
  src/driver/sqlserver/SqlServerConnectionOptions.ts
  src/find-options/mongodb/MongoFindManyOptions.ts
  test/github-issues/1369/subscriber/AbstractEntitySubscriber.ts
  test/github-issues/4185/subscriber/ExtendedAfterLoadSubscriber.ts
  test/github-issues/4185/subscriber/SimpleAfterLoadSubscriber.ts
  test/github-issues/5734/subscriber/CheckValidEntitySubscriber.ts
  test/github-issues/9176/migration/1657067039714-CreateUniqueConstraintToUser.ts
  test/github-issues/9176/migration/1657067039716-CreateCheckConstraintToUser.ts
  test/utils/xfail.ts
Due: eslint, prettier --write

fix: release query runner when there is no migration to revert (#11232)
  src/migration/MigrationExecutor.ts
  test/github-issues/11231/issue-11231.ts
Due: eslint, prettier --write

chore: format next branch after merging master (#11826)
  package.json
  src/container.ts
  src/driver/aurora-mysql/AuroraMysqlConnectionOptions.ts
  src/driver/cockroachdb/CockroachConnectionOptions.ts
  src/driver/mongodb/typings.ts
  src/driver/mysql/MysqlConnectionOptions.ts
  src/driver/oracle/OracleConnectionOptions.ts
  src/driver/postgres/PostgresConnectionOptions.ts
  src/driver/sap/SapConnectionOptions.ts
  src/driver/spanner/SpannerConnectionOptions.ts
  src/driver/sqlserver/SqlServerConnectionOptions.ts
  src/find-options/mongodb/MongoFindManyOptions.ts
  test/github-issues/1369/subscriber/AbstractEntitySubscriber.ts
  test/github-issues/4185/subscriber/ExtendedAfterLoadSubscriber.ts
  test/github-issues/4185/subscriber/SimpleAfterLoadSubscriber.ts
  test/github-issues/5734/subscriber/CheckValidEntitySubscriber.ts
  test/github-issues/9176/migration/1657067039714-CreateUniqueConstraintToUser.ts
  test/github-issues/9176/migration/1657067039716-CreateCheckConstraintToUser.ts
  test/utils/xfail.ts
Due: eslint, prettier --write, sort-package-json

Fix more tests
  package.json
  test/functional/columns/embedded-columns/columns-embedded-columns.test.ts
  test/functional/find-options/basic-usage/find-options-order.test.ts
  test/functional/find-options/basic-usage/find-options-relations.test.ts
  test/functional/query-builder/distinct-on/query-builder-distinct-on.test.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-many-to-many.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-one-to-many.test.ts
  test/functional/relations/eager-relations/basic-eager-relations/basic-eager-relations.test.ts
  test/functional/relations/eager-relations/lazy-nested-eager-relations/lazy-nested-eager-relations.test.ts
  test/functional/repository/aggregate-methods-with-relations/repository-aggregate-methods-with-relations.test.ts
  test/functional/repository/find-options-relations/repository-find-options-relations.test.ts
  test/functional/repository/find-options/repository-find-options.test.ts
  test/functional/sql-tag/sql-tag-parameters-better-sqlite3.test.ts
  test/functional/sql-tag/sql-tag-parameters-mysql.test.ts
  test/functional/sql-tag/sql-tag-parameters-postgres.test.ts
  test/functional/sql-tag/sql-tag-parameters-sqlite.test.ts
  test/github-issues/175/issue-175.test.ts
  test/github-issues/2201/issue-2201.test.ts
  test/github-issues/4190/issue-4190.test.ts
  test/github-issues/6115/issue-6115.test.ts
  test/github-issues/7109/issue-7109.test.ts
  test/github-issues/7415/issue-7415.test.ts
  test/github-issues/7558/issue-7758.test.ts
  test/github-issues/815/issue-815.test.ts
  test/github-issues/8890/issue-8890.test.ts
  test/github-issues/9977/issue-9977.test.ts
  test/other-issues/table-name-relation/table-name-relation.test.ts
  test/unit/util/testCjsCommonJs/src/file.cjs
  test/unit/util/testJsCommonJs/src/file.js
  test/unit/util/testJsEsm/src/file.js
  test/unit/util/testMjsEsm/src/file.mjs
Due: eslint, prettier --write, sort-package-json

fix: add async to the method using setFindOptions() (#10787)
  src/entity-manager/EntityManager.ts
Due: eslint, prettier --write

chore: use npm 10 for devEngines in package.json
  package.json
Due: prettier --write, sort-package-json

Some test fixes
  test/functional/tree-tables/closure-table/closure-table.test.ts
  test/github-issues/8443/closure-table/closure-table.test.ts
  test/unit/util/testCjsCommonJs/src/file.cjs
  test/unit/util/testJsCommonJs/package.json
  test/unit/util/testJsCommonJs/src/file.js
  test/unit/util/testJsEsm/package.json
  test/unit/util/testJsEsm/src/file.js
  test/unit/util/testJsonCommonJS/file.json
  test/unit/util/testMjsEsm/src/file.mjs
Due: eslint, prettier --write, sort-package-json

Fix shim path for test in Vitest
  test/github-issues/4219/shim.ts
Due: eslint, prettier --write

tests: add leftJoin pagination tests for composite primary keys
  test/functional/query-builder/join/entity/CategoryWithCompositePK.ts
  test/functional/query-builder/join/entity/Post.ts
  test/functional/query-builder/join/query-builder-joins.test.ts
Due: eslint, prettier --write

More test fixes
  test/functional/cascades/cascade-insert-from-both-sides/cascade-insert-from-both-sides.test.ts
  test/functional/embedded/embedded-many-to-many-case3/embedded-many-to-many-case3.test.ts
  test/functional/find-options/basic-usage/find-options-relations.test.ts
  test/functional/find-options/basic-usage/find-options-select.test.ts
  test/functional/find-options/select/find-options-select.test.ts
  test/functional/migrations/show-command/command.test.ts
  test/functional/persistence/custom-column-names/persistence-custom-column-names.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-many-to-many-inverse.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-load-many.test.ts
  test/functional/relations/eager-relations/lazy-nested-eager-relations/lazy-nested-eager-relations.test.ts
  test/functional/tree-tables/closure-table/closure-table.test.ts
  test/functional/tree-tables/materialized-path/materialized-path.test.ts
  test/github-issues/1123/issue-1123.test.ts
  test/github-issues/151/issue-151.test.ts
  test/github-issues/163/issue-163.test.ts
  test/github-issues/2298/issue-2298.test.ts
  test/github-issues/5174/issue-5174.test.ts
  test/github-issues/57/issue-57.test.ts
  test/github-issues/58/issue-58.test.ts
  test/github-issues/6947/issue-6947.test.ts
  test/github-issues/7415/issue-7415.test.ts
  test/github-issues/8443/materialized-path/materialized-path.test.ts
  test/github-issues/8443/nested-set/nested-set.test.ts
  test/github-issues/8796/issue-8796.test.ts
  test/github-issues/9272/issue-9272.test.ts
  test/github-issues/9534/issue-9534.test.ts
  test/integration/sample2-one-to-one.test.ts
  test/integration/sample3-many-to-one.test.ts
  vitest.config.mts
Due: eslint, prettier --write

sqlite 13 failed | 2357 passed | 61 skipped
  test/functional/columns/virtual-columns/virtual-columns.test.ts
  test/functional/embedded/embedded-many-to-many-case3/embedded-many-to-many-case3.test.ts
  test/github-issues/161/issue-161.test.ts
  test/github-issues/2632/issue-2632.test.ts
  test/github-issues/6265/issue-6265.test.ts
  test/github-issues/7068/issue-7068.test.ts
  test/github-issues/904/issue-904.test.ts
  test/integration/sample4-many-to-many.test.ts
Due: eslint, prettier --write

Update package.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

TODO: don't forget to enable bail for CI before merging
  package.json
Due: prettier --write, sort-package-json

Fix some tests
  test/functional/columns/virtual-columns/virtual-columns.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-one-to-many.test.ts
  test/github-issues/2632/issue-2632.test.ts
  test/github-issues/3302/issue-3302.test.ts
  test/github-issues/4190/issue-4190.test.ts
  test/github-issues/9272/issue-9272.test.ts
Due: eslint, prettier --write

Two more fixes left for sqlite
  package.json
  src/util/ImportUtils.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-many-to-many-inverse.test.ts
  test/functional/query-builder/relational/with-many/query-builder-relational-add-remove-many-to-many.test.ts
  test/functional/repository/find-options-relations/repository-find-options-relations.test.ts
  test/github-issues/3302/issue-3302.test.ts
  test/github-issues/4697/issue-4697.test.ts
  test/github-issues/8443/materialized-path/materialized-path.test.ts
  test/github-issues/9152/entity/Test.ts
  test/github-issues/9152/issue-9152.test.ts
  test/unit/connection-options-reader/connection-options-reader.test.ts
  test/unit/util/import-utils.test.ts
Due: eslint, prettier --write, sort-package-json

Mark another test as todo
  test/github-issues/4219/issue-4219.test.ts
Due: eslint, prettier --write

Try final fix for sqlite
  package-lock.json
  package.json
  test/github-issues/4219/issue-4219.test.ts
  tsconfig.json
Due: eslint, prettier --write, sort-package-json

Try final fix for sqlite
  src/util/ImportUtils.ts
Due: eslint, prettier --write

style: fix inconsistent indentation in postgres query runner classs
  src/driver/postgres/PostgresQueryRunner.ts
Due: eslint, prettier --write

fix
  src/driver/mysql/MysqlDriver.ts
Due: eslint, prettier --write

fix: prevent data loss when changing PostgreSQL varchar column length
  src/driver/postgres/PostgresQueryRunner.ts
  test/github-issues/varchar-length-change/varchar-length-change.test.ts
Due: eslint, prettier --write

chore: disable eslint errors for chai assertions
  eslint.config.mjs
  package-lock.json
  package.json
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  test/functional/query-builder/distinct-on/query-builder-distinct-on.test.ts
  test/github-issues/11231/issue-11231.test.ts
Due: eslint, prettier --write, sort-package-json

fix: convert numeric length values to strings in test
  test/github-issues/varchar-length-change/varchar-length-change.test.ts
Due: eslint, prettier --write

chore: disable eslint errors for chai assertions (#11833)
  eslint.config.mjs
  package-lock.json
  package.json
  src/driver/aurora-mysql/AuroraMysqlDriver.ts
  src/driver/cockroachdb/CockroachDriver.ts
  src/driver/mysql/MysqlDriver.ts
  src/driver/oracle/OracleDriver.ts
  src/driver/postgres/PostgresDriver.ts
  test/functional/query-builder/distinct-on/query-builder-distinct-on.test.ts
  test/github-issues/11231/issue-11231.test.ts
Due: eslint, prettier --write, sort-package-json

Path conditions:
  eslint: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: */**/*.json)) or (any of: ./*.json)
  sort-package-json: any of: ./*.json
